<div [class]="'main-wrapper bg-ioc' + (this.isFitPage ? ' vh-100' : '')">
    <div class="container-fluid h-100 pt-3">
        <form class="dark-mode mb-3" [formGroup]="formSearch" id="formSearch">
            <div class="d-flex align-items-center">
                <div class="ml-auto mr-3">
                    <ngx-dropdown panelClass="dark-mode" class="mb-0 dark-mode" placeholder="Chọn năm" [data]="YEARS" [formControl]="formSearch.controls.year" label="Chọn năm" (selected)="getData()" keyId="id" keyName="text">
                    </ngx-dropdown>
                </div>
                <div class="mr-3">
                    <mat-form-field  class="w-100 mb-0" appearance="outline">
                        <mat-label>Chọn quý</mat-label>
                        <mat-select panelClass="dark-mode" (selectionChange)="getData()" formControlName="quy">
                            <mat-option [value]="quy.GIA_TRI_QUY" *ngFor="let quy of listQuy">{{ quy.GIA_TRI_QUY =='Tất cả'?'Tất cả': 'Qúy ' + quy.GIA_TRI_QUY}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <button mat-raised-button class="btn-fullscreen" id="btn-fullscreen" (click)="showFullScreen()" matTooltip="Toàn màn hình">
                    <mat-icon color="primary">fullscreen</mat-icon>
                </button>
            </div>
        </form>

        <!-- ROW 1 -->
        <div [ngStyle]="this.rowStyles">
            <div class="row small-gutters h-100">
                <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="row small-gutters" style="height: calc(50% - 7.5px)">
                    
                        <div [ngClass]="isFitPage ? 'col-6 h-100' : 'col-md-6 col-sm-12 mb-3'">
                            <div class="bg-card p-2 h-100">
                                <h4 class="card-title">Số cuộc Thanh tra</h4>
                                <div class="card-value" [style.color]="CONST_COLOR[3]"> {{ THANHTRA.TONG_TT }} </div>
                            </div>
                        </div>
                        <div [ngClass]="isFitPage ? 'col-6 h-100' : 'col-md-6 col-sm-12 mb-3'">
                            <div class="bg-card p-2 h-100">
                                <h4 class="card-title">Số cuộc Kiểm tra</h4>
                                <div class="card-value" [style.color]="CONST_COLOR[3]"> {{ THANHTRA.TONG_KT }} </div>
                            </div>
                        </div>
                        <div style="height: 15px;" class="w-100">&nbsp;</div>
                        <div [ngClass]="isFitPage ? 'col-6 h-100' : 'col-md-6 col-sm-12 mb-3'">
                            <div class="bg-card p-2 h-100">
                                <h4 class="card-title">Số Tổ chức được TTKT</h4>
                                <div class="card-value" [style.color]="CONST_COLOR[2]"> {{ THANHTRA.TONG_TTKT_TOCHUC }} </div>
                            </div>
                        </div>
                        <div [ngClass]="isFitPage ? 'col-6 h-100' : 'col-md-6 col-sm-12 mb-3'">
                            <div class="bg-card p-2 h-100">
                                <h4 class="card-title">Số Cá nhân được TTKT</h4>
                                <div class="card-value" [style.color]="CONST_COLOR[2]"> {{ THANHTRA.TONG_TTKT_CANHAN }} </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100 overflow-x">
                        <h4 class="chart-title">Biểu đồ so sánh lượt TTKT luỹ kế cùng kỳ</h4>
                        <div class="h-100" style="overflow-x: auto;">
                            <div *ngIf="!isthongKeCKTTKT" class="none-form">
                                <b>Dữ liệu chưa có!</b>
                            </div>
                            <div class="h-100">
                                <app-bar-chart #thongKeCKTTKT [isSummary]="true"></app-bar-chart>
                            </div>
                        </div>
                    </div>

                </div>
                <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Biểu đồ so sánh TTKT Tổ chức luỹ kế cùng kỳ</h4>
                        <div class="h-100" style="overflow-x: auto;">
                            <div *ngIf="!isthongKeTCCK" class="none-form">
                                <b>Dữ liệu chưa có!</b>
                            </div>
                            <div class="h-100" >
                                <app-bar-chart #thongKeTCCK [isSummary]="true"></app-bar-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ROW 2 -->

        <div [ngStyle]="this.rowStyles">
            <div class="row small-gutters h-100">
                <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="row small-gutters" style="height: calc(50% - 7.5px)">
                   
                        <div [ngClass]="isFitPage ? 'col-6 h-100' : 'col-md-6 col-sm-12 mb-3'">
                            <div class="bg-card p-2 h-100">
                                <h4 class="card-title">Số lượng Tổ chức vi phạm</h4>
                                <div class="card-value" [style.color]="CONST_COLOR[3]"> {{ TONG_PHAM_VI.TC_VI_PHAM }} </div>
                            </div>
                        </div>
                        
                        <div [ngClass]="isFitPage ? 'col-6 h-100' : 'col-md-6 col-sm-12 mb-3'">
                            <div class="bg-card p-2 h-100">
                                <h4 class="card-title">Số lượng Cá nhân vi phạm</h4>
                                <div class="card-value" [style.color]="CONST_COLOR[3]"> {{ TONG_PHAM_VI.CN_VI_PHAM }} </div>
                            </div>
                        </div>
                        <div style="height: 15px;" class="w-100">&nbsp;</div>
                        <div [ngClass]="isFitPage ? 'col-6 h-100' : 'col-md-6 col-sm-12 mb-3'">
                            <div class="bg-card p-2 h-100">
                                <h4 class="card-title">Tổng số tiền xử phạt tổ chức</h4>
                                <div class="card-value" [style.color]="CONST_COLOR[4]"> {{ TONG_PHAM_VI.TONG_TIEN_XU_PHAT_TC }} </div>
                            </div>
                        </div>
                        <div [ngClass]="isFitPage ? 'col-6 h-100' : 'col-md-6 col-sm-12 mb-3'">
                            <div class="bg-card p-2 h-100">
                                <h4 class="card-title"> Tổng số tiền xử phát cá nhân</h4>
                                <div class="card-value" [style.color]="CONST_COLOR[4]"> {{ TONG_PHAM_VI.TONG_TIEN_XU_PHAT_CN }} </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Biểu đồ so sánh TTKT Cá nhân luỹ kế cùng kỳ</h4>
                        <div class="h-100" style="overflow-x: auto;">
                            <div *ngIf="!isthongKeCNCK" class="none-form">
                                <b>Dữ liệu chưa có!</b>
                            </div>
                            <div class="h-100" >
                                <app-bar-chart #thongKeCNCK [isSummary]="true"></app-bar-chart>
                            </div>
                        </div>
                    </div>
                </div>

                <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Biểu đồ so sánh số tiền xử phạt so với cùng kỳ</h4>
                        <div class="h-100" style="overflow-x: auto;">
                            <div *ngIf="!istienPSLuyKeCK" class="none-form">
                                <b>Dữ liệu chưa có!</b>
                            </div>
                            <div class="h-100" >
                                <app-bar-chart #tienPSLuyKeCK [isSummary]="true"></app-bar-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>