<div class="main-wrapper bg-white p-3">
    <mat-toolbar class="title mb-3">
        <mat-toolbar-row>
            <div class="name-page">BÁO CÁO CHỈ TIÊU HOẠT ĐỘNG NĂM CỦA TRUNG TÂM KIỂM NGHIỆM, DƯỢC PHẨM - MỸ PHẨM - THỰC PHẨM - THIẾT BỊ Y TẾ</div>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-card>
        <form [formGroup]="formSearch" id="formSearch" (submit)="search()">
            <div class="row align-items-center">
                <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12">
                    <mat-form-field class="w-100 mb-0" appearance="outline">
                        <mat-label>Loại thống kê</mat-label>
                        <mat-select formControlName="loai" placeholder="Chọn loại">
                            <mat-option [value]="0">Theo năm</mat-option>
                            <mat-option [value]="1">Theo tháng</mat-option>
                            <mat-option [value]="2">Theo ngày</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12" *ngIf="formSearch.controls['loai'].value != 2">
                    <ngx-dropdown class="w-100 mb-0" placeholder="Chọn năm" [data]="LIST_NAM" 
                        [formControl]="$any(formSearch.controls['nam'])"
                        label="Năm" keyId="key" keyName="value">
                    </ngx-dropdown>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12" *ngIf="formSearch.controls['loai'].value == 1">
                    <ngx-dropdown class="w-100 mb-0" placeholder="Chọn tháng" [data]="LIST_THANG" 
                        [formControl]="$any(formSearch.controls['thang'])"
                        label="Tháng" keyId="key" keyName="value">
                    </ngx-dropdown>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12" *ngIf="formSearch.controls['loai'].value == 2">
                    <mat-form-field class="w-100 mb-0" appearance="outline">
                        <mat-label>Từ ngày</mat-label>
                        <input matInput formControlName="tuNgay" placeholder="Chọn từ ngày" [matDatepicker]="tuNgayPicker" autocomplete="off">
                        <mat-datepicker-toggle matSuffix [for]="tuNgayPicker"></mat-datepicker-toggle>
                        <mat-datepicker #tuNgayPicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12" *ngIf="formSearch.controls['loai'].value == 2">
                    <mat-form-field class="w-100 mb-0" appearance="outline">
                        <mat-label>Đến ngày</mat-label>
                        <input matInput formControlName="denNgay" placeholder="Chọn đến ngày" [matDatepicker]="denNgayPicker" autocomplete="off">
                        <mat-datepicker-toggle matSuffix [for]="denNgayPicker"></mat-datepicker-toggle>
                        <mat-datepicker #denNgayPicker ></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <button mat-raised-button color="primary" id="btn-search" class="mr-2" type="submit"> Xem </button>
                    <button mat-raised-button color="primary" class="mr-2" type="button" 
                        (click)="exportToExcel()">Xuất Excel</button>
                    <button mat-raised-button color="primary" type="button" (click)="exportToPDF()">Xuất PDF</button>
                </div>
            </div>
        </form>
    </mat-card>
    <div class="mt-3 mat-elevation-z8 min-height-600">
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" class="hovering w-100">
                <ng-container matColumnDef="stt" class="mat-card">
                    <th mat-header-cell *matHeaderCellDef>STT</th>
                    <td mat-cell *matCellDef="let element; let i = index;" class="text-center">
                        {{ (i + 1) + paginator.pageIndex * paginator.pageSize }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="nam">
                    <th mat-header-cell *matHeaderCellDef> Năm </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.NAM }} </td>
                </ng-container>

                <ng-container matColumnDef="phuongPhap">
                    <th mat-header-cell *matHeaderCellDef> Phương pháp </th>
                    <td mat-cell *matCellDef="let element" class="text-nowrap"> {{ element.TEN_PHUONG_PHAP }} </td>
                </ng-container>

                <ng-container matColumnDef="chiTieu">
                    <th mat-header-cell *matHeaderCellDef> Chỉ tiêu </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.CHI_TIEU }} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
            </table>
        </div>
        <div class="d-flex align-items-center justify-content-between">
            <mat-paginator class="w-100" #paginator [pageSize]="pageSizeDefault" [pageSizeOptions]="pageOption"
                (page)="search($event)" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>

<div #reportView id="reportView" style="width: 21cm; height: 29.7cm; padding: 2cm; display: none;">
    <p class="text-center font-weight-bold">BÁO CÁO CHỈ TIÊU HOẠT ĐỘNG NĂM CỦA TRUNG TÂM KIỂM NGHIỆM, DƯỢC PHẨM - MỸ PHẨM - THỰC PHẨM - THIẾT BỊ Y TẾ</p>
    <table class="table table-bordered border-dark w-100 mt-3">
        <thead>
            <tr>
                <th class="bg-white">STT</th>
                <th class="bg-white">Năm</th>
                <th class="bg-white">Phương pháp</th>
                <th class="bg-white">Chỉ tiêu</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let element of this.ELEMENT_DATA; let i = index;">
                <td class="text-center">{{ (i + 1) + paginator.pageIndex * paginator.pageSize }}</td>
                <td class="text-center">{{ element.NAM }}</td>
                <td>{{ element.TEN_PHUONG_PHAP }}</td>
                <td class="text-center">{{ element.CHI_TIEU }}</td>
            </tr>
        </tbody>
    </table>
</div>