<div class="main-wrapper">
    <mat-toolbar class="title mb-3">
        <mat-toolbar-row>
            <div class="name-page">LOG CHỨC NĂNG</div>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-card>
        <form [formGroup]="formSearch" id="formSearch" (submit)="search()">
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Từ ngày</mat-label>
                        <input matInput [matDatepicker]="picker1" [formControl]="tungay">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Đến ngày</mat-label>
                        <input matInput [matDatepicker]="picker2" [formControl]="denngay">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Từ khóa</mat-label>
                        <input matInput formControlName="keyword" placeholder="Nhập từ khóa tìm kiếm"  >
                    </mat-form-field>
                </div>
                
                <button mat-raised-button color="primary" id="btn-search" type="submit"  style="margin:auto 0 !important;"> Tìm kiếm </button>
            </div>
            
        </form>
    </mat-card>

    <div class="mt-3 mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="w-100">
            <ng-container matColumnDef="stt">
                <th mat-header-cell *matHeaderCellDef> STT </th>
                <td mat-cell *matCellDef="let element; let i = index;"  class="text-center">{{ (i + 1) + pageIndex * pageSize }}</td>
            </ng-container>

            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef> Tài khoản </th>
                <td mat-cell *matCellDef="let element" > {{ element.USERNAME }} </td>
            </ng-container>

            <ng-container matColumnDef="hoten">
                <th mat-header-cell *matHeaderCellDef> Họ tên </th>
                <td mat-cell *matCellDef="let element"> {{ element.HO_TEN }} </td>
            </ng-container>

            <ng-container matColumnDef="tendonvi">
                <th mat-header-cell *matHeaderCellDef> Tên đơn vị </th>
                <td mat-cell *matCellDef="let element"> {{ element.TEN_DON_VI }} </td>
            </ng-container>

            <ng-container matColumnDef="tenapi">
                <th mat-header-cell *matHeaderCellDef> Tên API </th>
                <td mat-cell *matCellDef="let element"> {{ element.TEN_API }} </td>
            </ng-container>

            <ng-container matColumnDef="ghichu">
                <th mat-header-cell *matHeaderCellDef> Ghi chú </th>
                <td mat-cell *matCellDef="let element"> {{ element.GHI_CHU }} </td>
            </ng-container>

            <ng-container matColumnDef="thoidiem">
                <th mat-header-cell *matHeaderCellDef> Thời gian </th>
                <td mat-cell *matCellDef="let element"> {{ element.THOI_DIEM }} </td>
            </ng-container>
            

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="setDataUpdate(row.ID_LOG_IN, row.ID_ACTION); openModal(viewModalContent, 'updateModal')"></tr>
        </table>
        <div class="d-flex justify-content-end">
            <mat-paginator class="w-100" #paginator showFirstLastButtons 
                [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
                [pageSizeOptions]="pageOption" (page)="pageEvent = search($event)">
            </mat-paginator>
        </div>
    </div>
</div>
<ng-template #viewModalContent let-modal>
    <div class="modal-header">
        <h3 class="modal-title mb-0">CHI TIẾT LOG CHỨC NĂNG</h3>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form id="formModal">
            <table class="w-100 p-3">
                <tr>
                    <th class="p-3 w-35">Username:</th>
                    <td>{{username}}</td>
                </tr>
                <tr>
                    <th class="p-3">Họ tên:</th>
                    <td>{{hoTen}}</td>
                </tr>
                <tr>
                    <th class="p-3">Tên đơn vị:</th>
                    <td>{{tenDonVi}}</td>
                </tr>
                <tr>
                    <th class="p-3">Tên API:</th>
                    <td>{{tenApi}}</td>
                </tr>
                <tr>
                    <th class="p-3">Mô tả:</th>
                    <td>{{moTa}}</td>
                </tr>
                <tr>
                    <th class="p-3">Đường dẫn:</th>
                    <td>{{duongDan}}</td>
                </tr>
                <tr>
                    <th class="p-3">Thời gian:</th>
                    <td>{{thoiGian}}</td>
                </tr>
                <tr>
                    <th class="p-3">Ghi chú:</th>
                    <td>{{ghiChu}}</td>
                </tr>
                <tr>
                    <th class="p-3">IP Client:</th>
                    <td>{{ipClient}}</td>
                </tr>
                <tr>
                    <th class="p-3">Server Name:</th>
                    <td>{{serverName}}</td>
                </tr> 
                <tr>
                    <th class="p-3">IP Server:</th>
                    <td>{{ipServer}}</td>
                </tr>
            </table>
            <div class="modal-footer">
                <button class="mr-3" mat-raised-button color="warn" type="button" (click)="modal.dismiss('Cross click')"> Đóng </button>
            </div>
        </form>
    </div>
    
</ng-template>