<div class="snakebar">
    <div class="d-flex align-items-center justify-content-between">
        <div> Trung tâm điều hành Y tế tỉnh An Giang </div>
        <div class="dismiss">
            <button mat-icon-button (click)="snackBarRef.dismiss()">
                <mat-icon> close </mat-icon>
            </button>
        </div>
    </div>
    <div class="data py-3" [innerHTML]="data.ms"> </div>
</div>