.login-wrapper {
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .title {
        text-transform: uppercase;
        color: gray;
    }
}

.province {
    color: #0067B2;
    
}