<div [class]="'main-wrapper bg-ioc' + (this.isFitPage ? ' vh-100' : '')">
  <div class="container-fluid h-100 pt-3">
    <form class="dark-mode mb-3" [formGroup]="formSearch" id="formSearch">
      <div class="d-flex align-items-center justify-content-end">
        <ngx-dropdown
          panelClass="dark-mode"
          class="mb-0 mr-2"
          [multiple]="true"
          allItemLabel="Tất cả"
          placeholder="Chọn tháng"
          [data]="MONTHS"
          [formControl]="formSearch.controls.month"
          [label]="!lableMonth ? 'Chọn tháng' : 'Tất cả'"
          (selected)="getData()"
          keyId="id"
          keyName="text"
        >
        </ngx-dropdown>
        <ngx-dropdown
          panelClass="dark-mode"
          class="mb-0 mr-2"
          placeholder="Chọn năm"
          [data]="YEARS"
          [formControl]="formSearch.controls.year"
          label="Chọn năm"
          (selected)="getData()"
          keyId="id"
          keyName="text"
        >
        </ngx-dropdown>
        <button mat-raised-button class="btn-fullscreen" id="btn-fullscreen" (click)="showFullScreen()" type="button"
          matTooltip="{{ isFullScreen ? 'Thoát toàn màn hình' : 'Toàn màn hình' }}">
          <mat-icon color="primary">{{ isFullScreen ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
        </button>
      </div>
    </form>
    <!-- row 1 -->
    <div [ngStyle]="this.rowStyles">
      <div class="row small-gutters h-15">
        <!-- Tổng số văn bản đến -->
        <div [ngClass]=" isFitPage ? 'col-md-3 col-sm-3 mb-3 h-200  ' : 'col-md-6 col-sm-12 mb-3 ' " >
          <div class="custom-border">
            <div class="bg-card p-2 h-200" style="height: 100px;">
              <h4 class="card-title mb-3">Tổng số văn bản đến</h4>
              <div class="card-value" [style.color]="CONST_COLOR[11]">
                {{ THE.TOTAL }}
              </div>
            </div>
          </div>
        </div>
        <!-- Tổng số văn bản đến đúng hạn-->
        <div
          [ngClass]=" isFitPage ? 'col-md-3 col-sm-3 mb-3 h-200  '  : ' col-md-6 col-sm-12 mb-3 ' " >
          <div class="custom-border">
            <div class="bg-card p-2 h-200" style="height: 100px">
              <h4 class="card-title mb-3">Tổng số văn bản đến đúng hạn</h4>
              <div class="card-value" [style.color]="CONST_COLOR[10]">
                {{ THE.DUNGHAN }}
              </div>
            </div>
          </div>
        </div>
        <!-- Tổng số văn bản đến quá hạn -->
        <div [ngClass]=" isFitPage ? 'col-md-3 col-sm-3 mb-3 h-200  ' : ' col-md-6 col-sm-12 mb-3 '  " >
          <div class="custom-border">
            <div class="bg-card p-2 h-200" style="height: 100px">
              <h4 class="card-title mb-3">Tổng số văn bản đến quá hạn</h4>
              <div class="card-value" [style.color]="CONST_COLOR[12]">
                {{ THE.QUAHAN }}
              </div>
            </div>
          </div>
        </div>
        <!-- Tổng số văn bản đi liên thông / văn bản đi -->
        <div [ngClass]="isFitPage ? 'col-md-3 col-sm-3 mb-3 h-200 ' : ' col-md-6 col-sm-12 mb-3 '"  >
          <div class="custom-border">
            <div class="bg-card p-2 h-200" style="height: 100px">
              <h4 class="card-title mb-3">Tổng số văn bản đi liên thông/văn bản đi</h4>
              <div class="card-value">
                <span [style.color]="CONST_COLOR[13]">{{ THE1.VBLIENTHONG }}</span>
                <span> / </span>
                <span [style.color]="CONST_COLOR[11]">{{ THE1.VBDI }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- row 2 -->
    <div [ngStyle]="this.rowStyles">
      <div class="row small-gutter h-100">
        <!-- Thống kê văn bản đến theo đơn vị -->
        <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
          <div class="custom-border mt-3" style="height: 400px;">
            <div class="bg-chart p-2 h-100" style="overflow: auto;">
              <h4 class="chart-title">Thống kê văn bản đến</h4>
              <div [style]="getDynamicWidthAndHeight(this.TkVanBanDenTheoDonVi.barChartData[0], 0, 10)">
                <app-bar-chart #TkVanBanDenTheoDonVi></app-bar-chart>
              </div>
            </div>
          </div>
        </div>
        <!-- Thống kê văn bản đến đúng hạn theo đơn vị -->
        <div  [ngClass]=" isFitPage  ? 'col-4 h-100'  : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3' " >
          <div class="custom-border mt-3" style="height: 400px;">
            <div class="bg-chart p-2 h-100" style="overflow: auto;">
              <h4 class="chart-title">Thống kê văn bản đến đúng hạn</h4>
              <div [style]="getDynamicWidthAndHeight(this.TkVanBanDenDungHanTheoDonVi.lineChartData[0], 20,0)">
              <app-line-chart #TkVanBanDenDungHanTheoDonVi></app-line-chart>
            </div>
            </div>
          </div>
        </div>
        <!-- Thống kê văn bản đến quá hạn theo đơn vị -->
        <div
          [ngClass]=" isFitPage ? 'col-4 h-100'   : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'  " >
          <div class="custom-border mt-3" style="height: 400px;">
            <div class="bg-chart p-2 h-100" style="overflow: auto;">
              <h4 class="chart-title">Thống kê văn bản đến quá hạn</h4>
               <div [style]="getDynamicWidthAndHeight(this.TkVanBanDenQuaHanTheoDonVi.barChartData[0], 10,0)">
              <app-bar-chart #TkVanBanDenQuaHanTheoDonVi></app-bar-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- row 3 -->
    <div [ngStyle]="this.rowStyles">
      <div class="row small-gutter h-100">
        <!-- Thống kê văn bản đi theo đơn vị -->
        <div [ngClass]=" isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3' " >
          <div class="custom-border mt-3" style="height: 400px;">
            <div class="bg-chart p-2 h-100" style="overflow: auto;">
              <h4 class="chart-title">Thống kê văn bản đi</h4>
              <div [style]="getDynamicWidthAndHeight(this.TkVanBanDiTheoDonVi.barChartData[0], 10,0)">
              <app-bar-chart #TkVanBanDiTheoDonVi></app-bar-chart>
              </div>
            </div>
          </div>
        </div>
        <!-- Thống kê văn bản đi gửi liên thông theo don vi -->
        <div [ngClass]=" isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'  " >
          <div class="custom-border mt-3" style="height: 400px;">
            <div class="bg-chart p-2 h-100" style="overflow: auto;">
              <h4 class="chart-title">Thống kê văn bản đi gửi liên thông</h4>
              <div [style]="getDynamicWidthAndHeight(this.TkVanBanDiLienThongTheoDonVi.barChartData[0], 0, 10)">
              <app-bar-chart #TkVanBanDiLienThongTheoDonVi></app-bar-chart>
              </div>
            </div>
          </div>
        </div>
        <!-- Thống kê số lượt truy cập hệ thống theo don vi -->
        <div [ngClass]="isFitPage ? 'col-4 h-100': 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
          <div class="custom-border mt-3 mb-3" style="height: 400px;">
            <div class="bg-chart p-2 h-100" style="overflow-x: auto;">
              <h4 class="chart-title">Thống kê số lượt truy cập hệ thống</h4>
              <div style="height: 400px;" [style]="getDynamicWidthAndHeight(this.TkSoLuongTruyCapHeThongTheoDonVi.barChartData[0], 10, 2)">
              <app-bar-chart #TkSoLuongTruyCapHeThongTheoDonVi></app-bar-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
