<div [class]="'main-wrapper bg-ioc' + (this.isFitPage ? ' vh-100' : '')">
  <div class="container-fluid h-100 pt-3">
      <form class="dark-mode mb-3" [formGroup]="formSearch" id="formSearch">
          <div class="d-flex align-items-center">
        <div class="ml-auto mr-3">
          <ngx-dropdown panelClass="dark-mode" class="mb-0 dark-mode" placeholder="Chọn năm"
          [data]="YEARS" [formControl]="formSearch.controls.year" label="Chọn năm" (selected)="getData()" keyId="id" keyName="text"></ngx-dropdown>
        </div>
        <ngx-dropdown panelClass="dark-mode" class="mb-0 mr-2" placeholder="Chọn quý" [data]="QUARTER"
                        [formControl]="formSearch.controls.quarter" label="Chọn quý" (selected)="getData()"
                        keyId="id" keyName="text">
        </ngx-dropdown>
        <button mat-raised-button class="btn-fullscreen" id="btn-fullscreen" (click)="showFullScreen()" type="button" matTooltip="Toàn màn hình">
          <mat-icon color="primary">fullscreen</mat-icon>
        </button>
      </div>
    </form>
    <div [ngStyle]="this.rowStyles">
      <div class="row small-gutters h-100">
        <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
          <div class="row small-gutters h-100">

          <div [ngClass]="isFitPage ? 'col-4 h-50 pr-1 pb-1' : 'col-md-6 col-sm-12 mb-3'">
            <div class="bg-card p-2 h-100">
                <h4 class="card-title">Tổng số đơn</h4>
                <div class="card-value" [style.color]="CONST_COLOR[6]"> {{ THE.TONG_DON }} </div>
            </div>
          </div>
          <div [ngClass]="isFitPage ? 'col-4 h-50 pr-1 pb-1' : 'col-md-6 col-sm-12 mb-3'">
            <div class="bg-card p-2 h-100">
                <h4 class="card-title">Đơn đã xử lý</h4>
                <div class="card-value" [style.color]="CONST_COLOR[5]"> {{ THE.DON_DA_XU_LY }} </div>
            </div>
          </div>
          <div [ngClass]="isFitPage ? 'col-4 h-50 pr-1 pb-1' : 'col-md-6 col-sm-12 mb-3'">
            <div class="bg-card p-2 h-100">
                <h4 class="card-title">Đơn chưa đủ điều kiện xử lý</h4>
                <div class="card-value" [style.color]="CONST_COLOR[1]"> {{ THE.DON_KHONG_DU_DK_XU_LY }} </div>
            </div>
          </div>
          <div [ngClass]="isFitPage ? 'col-4 h-50 pr-1 pb-1 pt-2 mt-1' : 'col-md-6 col-sm-12 mb-3'">
            <div class="bg-card p-2 h-100">
                <h4 class="card-title">Đơn đã xử lý</h4>
                <div class="card-value" [style.color]="CONST_COLOR[2]"> {{ THE.DON_DU_DK_XU_LY }} </div>
            </div>
          </div>
          <div [ngClass]="isFitPage ? 'col-4 h-50 pr-1 pb-1 pt-2 mt-1' : 'col-md-6 col-sm-12 mb-3'">
            <div class="bg-card p-2 h-100">
                <h4 class="card-title">Vụ việc đã xử lý</h4>
                <div class="card-value" [style.color]="CONST_COLOR[0]"> {{ THE.VU_VIEC_DU_DK_XU_LY }} </div>
            </div>
          </div>
          <div [ngClass]="isFitPage ? 'col-4 h-50 pr-1 pb-1 pt-2 mt-1' : 'col-md-6 col-sm-12 mb-3'">
            <div class="bg-card p-2 h-100">
                <h4 class="card-title">Văn bản phúc đáp nhận được do chuyển đơn</h4>
                <div class="card-value" [style.color]="CONST_COLOR[4]"> {{ THE.VBPD_NHAN_DUOC_DO_CHUYEN_DON }} </div>
            </div>
          </div>
        </div>

        </div>
        <!-- <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
          <div class="bg-chart p-2 h-100">
            <h4 class="chart-title">Thống kê đại diện trên cùng một đơn</h4>
            <app-bar-chart #daiDien></app-bar-chart>
          </div>
        </div> -->
        <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
          <div class="bg-chart p-2 h-100">
            <h4 class="chart-title">Thống kê đại diện trên cùng một đơn</h4>
            <div class="h-100 pt-2" style="overflow-y: auto;">
              <div class="h-100" style="width: 120%;">
                <app-bar-chart #daiDien></app-bar-chart>
              </div>
            </div>
          </div>
        </div>
        <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
          <div class="bg-chart p-2 h-100">
            <h4 class="chart-title">Phân loại theo nội dung</h4>
            <app-pie-chart #noiDung></app-pie-chart>
          </div>
        </div>
        <div [ngClass]="isFitPage ? 'col-4 h-100 mt-3' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
          <div class="bg-chart p-2 h-100">
            <h4 class="chart-title">Phân loại theo tình trạng</h4>
            <app-pie-chart #tinhTrang></app-pie-chart>
          </div>
        </div>
        <div [ngClass]="isFitPage ? 'col-4 h-100 mt-3' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
          <div class="bg-chart p-2 h-100">
            <h4 class="chart-title">Kết quả xử lý đơn thuộc thẩm quyền</h4>
            <app-bar-chart #thuocThamQuyen></app-bar-chart>
          </div>
        </div>
        <div [ngClass]="isFitPage ? 'col-4 h-100 mt-3' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
          <div class="bg-chart p-2 h-100">
            <h4 class="chart-title">Kết quả xử lý đơn không thuộc thẩm quyền</h4>
            <app-bar-chart #khongThuocThamQuyen></app-bar-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
