.mat-column-tuongtacdulieu {
    width: 9% !important;
    max-width: 9% !important;
}

.mat-column-tool {
    width: 9% !important;
    max-width: 9% !important;
}


::ng-deep {
    mat-drawer-content {
        background-color: #fff !important;
    }

    form mat-form-field .mat-form-field-wrapper {
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }

    .mat-tab-body-content {
        overflow: visible !important;
    }

    .myCustomModalClass .modal-dialog {
        max-width: calc(100vw - 700px) !important;
    }
}

.invisible {
    display: none;
    visibility: hidden;
    height: 0;
    width: 0;
}

label {
    margin: 0.5em 0 !important;
}

#formSearch {
    button {
        margin-top: -3px;
        box-shadow: none !important;
    }
}

table {
    th {
        text-align: center !important;
    }
}





.search-nested {
    width: 80% !important;
    height: 50px !important;
    margin-left: 15px !important;
}

.clear-search-nested {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
}

.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}