<div class="main-wrapper p-3">
    <mat-card>
        <mat-toolbar class="title mb-3">
            <mat-toolbar-row>
                <div class="name-page">BÁO CÁO DANH SÁCH TỶ LỆ SINH CON LẦN 3 TRỞ LÊN
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
        <form [formGroup]="formSearch" id="formSearch" (submit)="search()">
            <div class="row mb-3">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Loại bộ lọc</mat-label>
                        <mat-select formControlName="filter" (selectionChange)="hideFilter($event.value)">
                            <mat-option [value]="option" *ngFor="let option of [1,2,3]">{{ option | filterType
                                }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12" [ngClass]="{'invisible': hideDate === 1}">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Từ ngày</mat-label>
                        <input matInput [matDatepicker]="picker1" formControlName="tungay" (change)="initializeYears()">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12" [ngClass]="{'invisible': hideDate === 1}">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Đến ngày</mat-label>
                        <input matInput [matDatepicker]="picker2" formControlName="denngay"
                            (change)="initializeYears()">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12" [ngClass]="{'invisible': hideMonth === 1}">
                    <mat-form-field class="w-100 mb-2" appearance="outline">
                        <mat-label>Tháng</mat-label>
                        <mat-select panelClass="panel-filter" formControlName="thang">
                            <mat-option [value]="month.value" *ngFor="let month of months">{{ month.name
                                }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12" [ngClass]="{'invisible': hideYear === 1}">
                    <mat-form-field class="w-100 mb-2" appearance="outline">
                        <mat-label>Năm</mat-label>
                        <mat-select panelClass="panel-filter" formControlName="nam">
                            <mat-option [value]=-1>Tất cả</mat-option>
                            <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 pt-2">
                    <button mat-raised-button color="primary" class="mr-2" id="btn-search" type="submit"> Tìm kiếm
                    </button>
                    <button mat-raised-button color="primary" class="mr-2" type="button" (click)="exportToExcel()">Xuất
                        Excel</button>
                    <button mat-raised-button color="primary" type="button" (click)="exportToPDF()">Xuất
                        PDF</button>
                </div>
            </div>
        </form>
        <div class="mt-3 mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" id="pdfTable" class="w-100">
                <ng-container matColumnDef="STT">
                    <th mat-header-cell *matHeaderCellDef> STT </th>
                    <td mat-cell *matCellDef="let element; let i = index;" class="text-center">{{ (i + 1) + pageIndex *
                        pageSize }}</td>
                </ng-container>

                <ng-container matColumnDef="NGAY">
                    <th mat-header-cell *matHeaderCellDef>Ngày</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.NGAY_FORMAT }} </td>
                </ng-container>

                <ng-container matColumnDef="THANG">
                    <th mat-header-cell *matHeaderCellDef>Tháng </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.THANG }} </td>
                </ng-container>

                <ng-container matColumnDef="NAM">
                    <th mat-header-cell *matHeaderCellDef>Năm </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.NAM }} </td>
                </ng-container>

                <ng-container matColumnDef="TEN_DON_VI">
                    <th mat-header-cell *matHeaderCellDef>Tên đơn vị </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.TEN_DON_VI }} </td>
                </ng-container>

                <ng-container matColumnDef="CHI_TIEU">
                    <th mat-header-cell *matHeaderCellDef>Chỉ tiêu </th>
                    <td mat-cell *matCellDef="let element" class="text-right"> {{ element.CHI_TIEU }} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <div class="d-flex justify-content-end">
                <mat-paginator class="w-100" #paginator showFirstLastButtons [length]="length" [pageIndex]="pageIndex"
                    [pageSize]="pageSize" [pageSizeOptions]="pageOption" (page)="pageEvent = search($event)">
                </mat-paginator>
            </div>
        </div>
    </mat-card>
</div>