@import "~@angular/material/theming";

:host ::ng-deep {
    .mat-icon {
        vertical-align: middle;
        margin-right: 20px;
    }

    .profile-card {
        text-align: center;
        padding: 0 20px 20px 20px;

        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .sidebar {
        width: 100%;
        .logo {
            width: 100px;
            height: 100px;
        }

        .list-item-active {
            background-color: mat-color($mat-indigo, 500);
            color: #fff;
        }
        .parent {
            .menu-button {
                transition: 300ms ease-in-out;
                transform: rotate(0deg);
            }
            .menu-button.rotated {
                transform: rotate(180deg);
            }
        }
        .submenu {
            display: none;
            // visibility: hidden;
            opacity: 0;
            height: 0;
            // transition: visibility 0s, opacity 0.3s linear;
            padding-left: 20px;
        }
        .submenu.expanded {
            // visibility: visible;
            display: block;
            opacity: 1;
            height: 100%;
        }
    }
}