// Theming
@import "~@angular/material/theming";

// End: Theming

@import "~src/assets/style/variable";
// Define some css classes to use on website

.bg-plum-plate {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%) !important;
}

.bg-ioc {
  background-color: $bg-ioc;
  .bg-chart {
    background-color: $bg-chart;
    border-radius: 0.5em;
    position: relative;
    .value {
      text-align: center;
      width: 100%;
      left: 0;
      right: 0;
      font-size: 24px;
      padding-top: 18%;
      position: absolute;
    }
    .chart-title {
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      width: 100%;
    }
    .legend {
      position: absolute;
      top: 40px;
      text-align: center;
      color: #fff;
      width: 100%;
      font-size: 12px;
      .shape {
        display: inline-block;
        width: 30px;
        height: 10px;
        &::before {
          content: '';
        }
      }
    }
  }

  .bg-card {
    background-color: $bg-chart;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    .card-title {
      text-transform: uppercase;
      width: 100%;
      margin-bottom: 0;
    }
    .card-value {
      font-size: 24px;
      margin: auto;
    }
  }
}

.dark-mode {
  .mat-form-field-label,
  .mat-form-field-appearance-outline .mat-form-field-outline-thick,
  .mat-form-field-appearance-outline .mat-form-field-outline,
  .mat-select-arrow,
  .mat-slide-toggle-content,
  .mat-select-value,
  .mat-datepicker-toggle,
  .mat-input-element,
  .mat-pseudo-checkbox {
    color: #fff;
  }

  .mat-checkbox-frame {
    border-color: #fff;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start, 
  .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end, 
  .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap {
    border-width: 1px;
  }
}

.cdk-overlay-container .cdk-overlay-pane .dark-mode {
  background-color: $bg-chart;
  border: 1px solid #fff;
  .mat-option:not(.mat-selected){
    color: #fff;
  }
  .mat-select-search-inner {
    background-color: $bg-chart;
    border-top: 1px solid #fff;
    .mat-select-search-input {
      color: wheat;
      caret-color: wheat;
      &::placeholder {
        color: wheat;
      }
    }
    .mat-select-search-clear {
      color: #fff;
    }
  }
}

body {
  .root-spinner#spinner-loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.3);

    mat-spinner {
      position: fixed;
      top: calc(50% - 50px);
      left: calc(50% - 50px);
    }
  }

  .mat-button.link-button {
    width: 100%;
    text-align: left;
    padding: 0;
    color: mat-color($mat-indigo, 500);
    transition: 0.3s ease all;
    :hover {
      color: mat-color($mat-indigo, 800);
    }
    .mat-button-focus-overlay {
      transition: none;
      background: none;
    }
  }

  .mat-form-field-appearance-outline {
    .mat-form-field-prefix,
    .mat-form-field-suffix {
      top: 0;
      margin: auto;
    }
  }

  .row.small-gutters {
    margin-left: calc(
      #{$small-gutters} * -1
    ); // While calc() will indeed cause issues with SCSS files by default
    margin-right: calc(
      #{$small-gutters} * -1
    ); // this can be avoided by using interpolation

    > .col,
    > [class*="col-"] {
      padding-left: $small-gutters;
      padding-right: $small-gutters;
    }
  }

  .main-wrapper {
    min-height: 600px;
    height: 100%;
    // height: calc(100vh - 64px);

    .mat-form-field.mb-0 .mat-form-field-wrapper,
    div[appearance="outline"].mb-0 .mat-form-field-wrapper {
      padding-bottom: 0 !important;
      margin-bottom: 0 !important;
    }

    .mat-table.hovering {
      .mat-row:hover .mat-cell {
        background-color: mat-color($mat-gray, 200);
      }
    }
  }
}

.mat-snack-bar-container {
  .dismiss {
    .mat-icon-button {
      width: auto;
      height: auto;
      line-height: inherit;
    }
  }
}

.mat-snack-bar-container.error_notification {
  background-color: mat-color($mat-pink, 500);
  color: #fff;
}

.mat-snack-bar-container.success_notification {
  background-color: mat-color($mat-green, 500);
  color: #fff;
}

.mat-table {
  .mat-header-row {
    .mat-header-cell {
      font-size: 14px;
      border: 1px solid mat-color($mat-gray, 300);
      padding: 0 10px;
      background-color: mat-color($mat-indigo, 500);
      color: #fff;
    }
  }

  tbody .mat-row {
    .mat-cell {
      border: 1px solid mat-color($mat-gray, 300);
      padding: 0 10px;
    }
  }
}

.mat-form-field-infix {
  border: 0px !important;
}

.mat-form-field-appearance-outline {
  .mat-select-arrow-wrapper {
    transform: none !important;
  }

  .mat-form-field-label {
    margin: 0;
  }
}

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label,
.mat-form-field-appearance-outline.mat-form-field-can-float
  .mat-input-server:focus
  + .mat-form-field-label-wrapper
  .mat-form-field-label {
  transform: translateY(-1.20375em) scale(0.75);
  width: 133.3333333333%;
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 99999 !important;
}
// Custom scroll chart
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: blueviolet;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: blueviolet;
}

// End: Define some css classes to use on website

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
