<div class="main-wrapper p-3">
  <mat-card>
    <mat-toolbar class="title mb-3">
      <mat-toolbar-row>
        <div class="name-page">BÁO CÁO SÀNG LỌC SƠ SINH</div>
      </mat-toolbar-row>
    </mat-toolbar>
    <form [formGroup]="formSearch" id="formSearch" (submit)="search()">
      <div class="row mb-3">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Loại bộ lọc</mat-label>
            <mat-select formControlName="filter" (selectionChange)="filterType = $event.value">
              <mat-option [value]="option" *ngFor="let option of [1, 2, 3]">{{ option | filterType }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12" [ngClass]="{ invisible: filterType !== 1 }">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Từ ngày</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="tungay" />
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12" [ngClass]="{ invisible: filterType !== 1 }">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Đến ngày</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="denngay" />
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12" [ngClass]="{ invisible: filterType !== 2 }">
          <mat-form-field class="w-100 mb-2" appearance="outline">
            <mat-label>Tháng</mat-label>
            <mat-select panelClass="panel-filter" formControlName="thang">
              <mat-option [value]="1">Tháng 1</mat-option>
              <mat-option [value]="2">Tháng 2</mat-option>
              <mat-option [value]="3">Tháng 3</mat-option>
              <mat-option [value]="4">Tháng 4</mat-option>
              <mat-option [value]="5">Tháng 5</mat-option>
              <mat-option [value]="6">Tháng 6</mat-option>
              <mat-option [value]="7">Tháng 7</mat-option>
              <mat-option [value]="8">Tháng 8</mat-option>
              <mat-option [value]="9">Tháng 9</mat-option>
              <mat-option [value]="10">Tháng 10</mat-option>
              <mat-option [value]="11">Tháng 11</mat-option>
              <mat-option [value]="12">Tháng 12</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12" [ngClass]="{ invisible: filterType !== 3 }">
          <mat-form-field class="w-100 mb-2" appearance="outline">
            <mat-label>Năm</mat-label>
            <mat-select panelClass="panel-filter" formControlName="nam">
              <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 pt-2">
          <button mat-raised-button color="primary" class="mr-2" id="btn-search" type="submit">Tìm kiếm</button>
          <button mat-raised-button color="primary" class="mr-2" type="button" (click)="exportToExcel()">Xuất Excel</button>
          <button mat-raised-button color="primary" type="button" (click)="exportToPDF()">Xuất PDF</button>
        </div>
      </div>
    </form>
    <div class="mt-3 mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" id="pdfTable" class="w-100">
        <ng-container matColumnDef="STT">
          <th mat-header-cell *matHeaderCellDef>STT</th>
          <td mat-cell *matCellDef="let element; let i = index" class="text-center">{{ i + 1 + pageIndex * pageSize }}</td>
        </ng-container>

        <ng-container matColumnDef="NAM">
          <th mat-header-cell *matHeaderCellDef>Năm</th>
          <td mat-cell *matCellDef="let element" class="text-center">{{ element.NAM }}</td>
        </ng-container>

        <ng-container matColumnDef="THANG">
          <th mat-header-cell *matHeaderCellDef>Tháng</th>
          <td mat-cell *matCellDef="let element">{{ element.THANG }}</td>
        </ng-container>

        <ng-container matColumnDef="NGAY_BAO_CAO">
          <th mat-header-cell *matHeaderCellDef>Ngày báo cáo</th>
          <td mat-cell *matCellDef="let element">{{ element.NGAY_BAO_CAO }}</td>
        </ng-container>

        <ng-container matColumnDef="TEN_TINH">
          <th mat-header-cell *matHeaderCellDef>Tỉnh</th>
          <td mat-cell *matCellDef="let element">{{ element.TEN_TINH }}</td>
        </ng-container>

        <ng-container matColumnDef="TEN_HUYEN">
          <th mat-header-cell *matHeaderCellDef>Huyện</th>
          <td mat-cell *matCellDef="let element">{{ element.TEN_HUYEN }}</td>
        </ng-container>

        <ng-container matColumnDef="TEN_XA">
          <th mat-header-cell *matHeaderCellDef>Xã</th>
          <td mat-cell *matCellDef="let element">{{ element.TEN_XA }}</td>
        </ng-container>

        <ng-container matColumnDef="DUOC_SLSS">
          <th mat-header-cell *matHeaderCellDef>Số lượng được sàng lọc sơ sinh</th>
          <td mat-cell *matCellDef="let element">{{ element.DUOC_SLSS }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div class="d-flex justify-content-end">
        <mat-paginator
          class="w-100"
          #paginator
          showFirstLastButtons
          [length]="length"
          [pageIndex]="pageIndex"
          [pageSize]="pageSize"
          [pageSizeOptions]="pageOption"
          (page)="pageEvent = search($event)"
        >
        </mat-paginator>
      </div>
    </div>
  </mat-card>
</div>
