
<div [class]="'main-wrapper bg-ioc' + (this.isFitPage ? ' vh-100' : '')">
    <div class="container-fluid h-100 pt-3">
        <div class="d-flex justify-content-end mb-3 pt-2 w-100">
            <form class="dark-mode mb-3"  [formGroup]="formSearch" id="formSearch">
                <div class="d-flex align-items-center">
                    <div class="ml-auto mr-3">
                        <mat-form-field class="w-100 mb-0" appearance="outline" >
                            <mat-label>Loại thời gian</mat-label>
                            <mat-select panelClass="dark-mode" (selectionChange)="onFilterChangeLoai()" formControlName="loai">
                                <mat-option [value]="0">Theo năm</mat-option>
                                <mat-option [value]="1">Theo quý </mat-option>
                                <mat-option [value]="2">Theo tháng </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div  *ngIf="!isHuyen" class="ml-auto mr-3">
                        <ngx-dropdown panelClass="dark-mode" class="mb-0 w-100"  placeholder="Chọn huyện/thị/thành" [data]="listHuyen"  (selected)="getData()"
                            [formControl]="formSearch.controls.huyen" label="Huyện/Thị/Thành"
                            keyId="MA_HUYEN" keyName="TEN_HUYEN">
                        </ngx-dropdown>
                    </div>
                    <div *ngIf="isHuyen"  class="ml-auto mr-3">
                        <mat-form-field  class="mb-0 w-100 " appearance="outline" floatLabel="always">
                            <mat-label>Quận/huyện</mat-label>
                            <input matInput readonly="true" formControlName="tenhuyen" />
                        </mat-form-field>
                    </div>
                    <div *ngIf="showNam" class="mr-3" >
                        <ngx-dropdown panelClass="dark-mode" class="mb-0 dark-mode" placeholder="Chọn năm" [data]="YEARS" [formControl]="formSearch.controls.year" label="Chọn năm" (selected)="getData()" keyId="id" keyName="text">
                        </ngx-dropdown>
                    </div>

                    <div *ngIf="showThang" class="ml-auto mr-3">
                        <mat-form-field  class="w-100 mb-0" appearance="outline">
                            <mat-label>Chọn tháng</mat-label>
                            <mat-select panelClass="dark-mode" (selectionChange)="getData()" formControlName="thang">
                                <mat-option [value]="thang.GIA_TRI_THANG" *ngFor="let thang of listThang"> {{thang.GIA_TRI_THANG =='Tất cả'?'Tất cả': 'Tháng ' + thang.GIA_TRI_THANG }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngIf="showQuy" class="ml-auto mr-3">
                        <mat-form-field  class="w-100 mb-0" appearance="outline">
                            <mat-label>Chọn quý</mat-label>
                            <mat-select panelClass="dark-mode" (selectionChange)="getData()" formControlName="quy">
                                <mat-option [value]="quy.GIA_TRI_QUY" *ngFor="let quy of listQuy">{{ quy.GIA_TRI_QUY =='Tất cả'?'Tất cả': 'Qúy ' + quy.GIA_TRI_QUY}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <button mat-raised-button class="btn-fullscreen" id="btn-fullscreen" (click)="showFullScreen()" matTooltip="Toàn màn hình">
                        <mat-icon color="primary">fullscreen</mat-icon>
                    </button>
                </div>

            </form>
        </div>
        <!-- ROW 1 -->
        <div [ngStyle]="this.rowStyles">
            <div class="row small-gutters h-100">
                <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-3'">
                    <div class="row small-gutters" style="height: calc(50% - 7.5px)">
                        <div [ngClass]="isFitPage ? 'col-6 h-100' : 'col-md-6 col-sm-12 mb-3'">
                            <div class="bg-card p-2 h-100">
                                <h4 class="card-title">Tổng mẫu lấy </h4>
                                <div class="card-value" [style.color]="CONST_COLOR[0]"> {{SL_4_THE_TONG.MAU_LAY}} </div>
                            </div>
                        </div>
                        <div [ngClass]="isFitPage ? 'col-6 h-100' : 'col-md-6 col-sm-12 mb-3'">
                            <div class="bg-card p-2 h-100">
                                <h4 class="card-title">Tổng mẫu gửi</h4>
                                <div class="card-value" [style.color]="CONST_COLOR[2]"> {{SL_4_THE_TONG.MAU_GUI}} </div>
                            </div>
                        </div>
                        <div [ngClass]="isFitPage ? 'col-6 h-100 mt-3' : 'col-md-6 col-sm-12 mb-3'">
                            <div class="bg-card p-2 h-100">
                                <h4 class="card-title">Tổng mẫu lấy báo cáo vào viện</h4>
                                <div class="card-value" [style.color]="CONST_COLOR[1]"> {{SL_4_THE_TONG.MAULAY_BC_VIEN}} </div>
                            </div>
                        </div>
                        <div [ngClass]="isFitPage ? 'col-6 h-100 mt-3' : 'col-md-6 col-sm-12 mb-3'">
                          <div class="bg-card p-2 h-100">
                              <h4 class="card-title">Tổng mẫu gửi báo cáo vào viện</h4>
                              <div class="card-value" [style.color]="CONST_COLOR[1]"> {{SL_4_THE_TONG.MAUGUI_BC_VIEN}} </div>
                          </div>
                      </div>
                    </div>
                </div>
                <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Tổng mẫu lấy theo loại mẫu</h4>
                        <div class="h-100" style="overflow-x: auto; overflow-y: hidden;">
                            <div *ngIf="!isLayMau" class="none-form">
                                <b>Dữ liệu chưa có!</b>
                            </div>
                            <div class="h-100" [style]="getDynamicWidth(this.slLayMau.barChartData[0], 17)">
                                <app-bar-chart #slLayMau [isSummary]="true"></app-bar-chart>
                            </div>
                        </div>
                    </div>

                </div>

                <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
                  <div class="bg-chart p-2 h-100">
                      <h4 class="chart-title">Tổng mẫu gửi theo loại mẫu</h4>
                      <div class="h-100" style="overflow-x: auto; overflow-y: hidden;">
                          <div *ngIf="!isLayGui" class="none-form">
                              <b>Dữ liệu chưa có!</b>
                          </div>
                          <div class="h-100" [style]="getDynamicWidth(this.slLayGui.barChartData[0], 17)">
                              <app-bar-chart #slLayGui [isSummary]="true"></app-bar-chart>
                          </div>
                      </div>

                  </div>
              </div>
            </div>
        </div>



        <!-- ROW 2 -->

        <div [ngStyle]="this.rowStyles">
            <div class="row small-gutters h-100">
                <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Mẫu theo loại cơ sở</h4>
                        <div class="h-100" style="overflow-x: auto; overflow-y: hidden;">
                            <div *ngIf="!isLayGui" class="none-form">
                                <b>Dữ liệu chưa có!</b>
                            </div>
                            <div class="h-100">
                                <app-bar-chart #slTheoCS [isSummary]="true"></app-bar-chart>
                            </div>
                        </div>

                    </div>
                </div>
                <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Mẫu lấy không đạt theo loại mẫu</h4>
                        <div class="h-100" style="overflow-x: auto; overflow-y: hidden;">
                            <div *ngIf="!isMauLayKhongDat" class="none-form">
                                <b>Dữ liệu chưa có!</b>
                            </div>
                            <div class="h-100" [style]="getDynamicWidth(this.slMauLayKhongDat.barChartData[0], 17)">
                                <app-bar-chart #slMauLayKhongDat [isSummary]="true"></app-bar-chart>
                            </div>
                        </div>
                    </div>
                </div>
                <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Mẫu gửi không đạt theo loại mẫu</h4>
                        <div class="h-100" style="overflow-x: auto; overflow-y: hidden;">
                            <div *ngIf="!isMauGuiKhongDat" class="none-form">
                                <b>Dữ liệu chưa có!</b>
                            </div>
                            <div class="h-100" [style]="getDynamicWidth(this.slMauGuiKhongDat.barChartData[0], 17)">
                                <app-bar-chart #slMauGuiKhongDat [isSummary]="true"></app-bar-chart>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
