<div [class]="'main-wrapper bg-ioc' + (this.isFitPage ? ' vh-100' : '')">
    <div class="container-fluid h-100 pt-3">
        <form class="dark-mode mb-3" [formGroup]="formSearch" id="formSearch">
            <div class="d-flex align-items-center">
                <div class="ml-auto mr-3">
                    <ngx-dropdown panelClass="dark-mode" class="mb-0" [multiple]="true" allItemLabel="Tất cả" placeholder="Chọn đơn vị" [data]="DON_VI_LIST"
                        [formControl]="formSearch.controls.madonvi" [label]="!lableDonVi ?'Chọn đơn vị':'Tất cả'"
                        (selected)="getData()" keyId="MA_DON_VI_CON" keyName="TEN_DON_VI_CON">
                    </ngx-dropdown>
                </div>
                <div class="mr-3">
                    <ngx-dropdown panelClass="dark-mode" class="mb-0" placeholder="Chọn năm" [data]="YEARS"
                        [formControl]="formSearch.controls.year" label="Chọn năm" (selected)="getData()"
                        keyId="id" keyName="text">
                    </ngx-dropdown>
                </div>
                <div class="mr-3">
                    <ngx-dropdown panelClass="dark-mode" class="mb-0" [multiple]="true" allItemLabel="Tất cả" placeholder="Chọn tháng" [data]="MONTHS"
                        [formControl]="formSearch.controls.month" [label]="!lableMonth ?'Chọn tháng':'Tất cả'" (selected)="getData()"
                        keyId="id" keyName="text">
                    </ngx-dropdown>
                </div>

                <button mat-raised-button class="btn-fullscreen" id="btn-fullscreen" (click)="showFullScreen()" 
                        type="button" matTooltip="Toàn màn hình">
                    <mat-icon color="primary">fullscreen</mat-icon>
                </button>
            </div>
        </form>

        <div [ngStyle]="this.rowStyles">
            <div class="row small-gutters h-100">
                <div [ngClass]="isFitPage ? 'col-2 h-100' : 'col-xl-2 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="row small-gutters" style="height: calc(50% - 7.5px)">
                        <div [ngClass]="isFitPage ? 'col-12 h-100' : 'col-md-12 col-sm-12 mb-3'">
                            <div class="bg-card p-2 h-100">
                                <h4 class="card-title">Tổng văn bản đến</h4>
                                <div class="card-value" [style.color]="CONST_COLOR[0]"> {{ getNumber(this.sumraryInfo.TONG_SO_DEN) }} </div>
                            </div>
                        </div>
                    </div>
                    <div style="height: 15px;">&nbsp;</div>
                    <div class="row small-gutters" style="height: calc(50% - 7.5px)">
                        <div [ngClass]="isFitPage ? 'col-12 h-100' : 'col-md-12 col-sm-12 mb-3'">
                            <div class="bg-card p-2 h-100">
                                <h4 class="card-title">Tổng văn bản đi</h4>
                                <div class="card-value" [style.color]="CONST_COLOR[2]"> {{ getNumber(this.sumraryInfo.TONG_SO_DI) }} </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div [ngClass]="isFitPage ? 'col-5 h-100' : 'col-xl-5 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Tổng văn bản đi và đến theo đơn vị</h4>
                        <div class="legend d-flex align-items-center justify-content-center flex-wrap">
                            <div class="mx-2 d-flex align-items-center" *ngFor="let item of this.tongVBDiDenTheoDonViChart.lineChartData">
                                <span class="shape" [style]="'background-color: ' + item.backgroundColor"></span>
                                <span class="ml-1">{{ item.label }}</span>
                            </div>
                        </div>
                        <div class="h-100 pt-5" style="overflow-x: auto;">
                            <div class="h-100" style="width: 500%;">
                                <app-line-chart #tongVBDiDenTheoDonViChart [isSummary]="true"></app-line-chart>
                            </div>
                        </div>
                    </div>
                </div>
                <div [ngClass]="isFitPage ? 'col-5 h-100' : 'col-xl-5 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Thống kê văn bản đi và đến có ký số theo đơn vị</h4>
                        <div class="legend d-flex align-items-center justify-content-center flex-wrap">
                            <div class="mx-2 d-flex align-items-center" *ngFor="let item of this.tkVBDiDenKySoChart.lineChartData">
                                <span class="shape" [style]="'background-color: ' + item.backgroundColor"></span>
                                <span class="ml-1">{{ item.label }}</span>
                            </div>
                        </div>
                        <div class="h-100 pt-5" style="overflow-x: auto;">
                            <div class="h-100" style="width: 500%;">
                                <app-line-chart #tkVBDiDenKySoChart [isSummary]="true"></app-line-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div [ngStyle]="this.rowStyles">
            <div class="row small-gutters h-100">
                <div [ngClass]="isFitPage ? 'col-6 h-100' : 'col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Thống kê tình hình xử lý văn bản đến trễ hạn</h4>
                        <div class="legend d-flex align-items-center justify-content-center flex-wrap">
                            <div class="mx-2 d-flex align-items-center" *ngFor="let item of this.tkVBDenTreHanChart.barChartData">
                                <span class="shape" [style]="'background-color: ' + item.backgroundColor"></span>
                                <span class="ml-1">{{ item.label }}</span>
                            </div>
                        </div>
                        <div class="h-100 pt-5" style="overflow-x: auto;">
                            <div class="h-100" [style]="getDynamicWidth(this.tkVBDenTreHanChart.barChartData[0], 20)">
                                <app-bar-chart #tkVBDenTreHanChart [isSummary]="true"></app-bar-chart>
                            </div>
                        </div>
                    </div>
                </div>
                <div [ngClass]="isFitPage ? 'col-6 h-100' : 'col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Thống kê tình hình duyệt văn bản đến</h4>
                        <div class="legend d-flex align-items-center justify-content-center flex-wrap">
                            <div class="mx-2 d-flex align-items-center" *ngFor="let item of this.tkTinhHinhPheDuyetVBDenChart.barChartData">
                                <span class="shape" [style]="'background-color: ' + item.backgroundColor"></span>
                                <span class="ml-1">{{ item.label }}</span>
                            </div>
                        </div>
                        <div class="h-100 pt-5" style="overflow-x: auto;">
                            <div class="h-100" [style]="getDynamicWidth(this.tkTinhHinhPheDuyetVBDenChart.barChartData[0], 20)">
                                <app-bar-chart #tkTinhHinhPheDuyetVBDenChart [isSummary]="true"></app-bar-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>