<div [class]="'main-wrapper bg-ioc' + (this.isFitPage ? ' vh-100' : '')">
    <div class="container-fluid h-100 pt-3">
        <form class="dark-mode mb-3" [formGroup]="formSearch" id="formSearch">
            <div class="d-flex align-items-center">
                <div class="ml-auto mr-3">
                    <ngx-dropdown panelClass="dark-mode" class="mb-0" [multiple]="true" allItemLabel="Tất cả" placeholder="Chọn đơn vị" [data]="DON_VI_LIST"
                        [formControl]="formSearch.controls.madonvi" [label]="!lableDonVi ?'Chọn đơn vị':'Tất cả'"
                        (selected)="getData()" keyId="MA_DON_VI_CON" keyName="TEN_DON_VI_CON">
                    </ngx-dropdown>
                </div>
                <div class="mr-3">
                    <ngx-dropdown panelClass="dark-mode" class="mb-0" placeholder="Chọn năm" [data]="YEARS"
                        [formControl]="formSearch.controls.year" label="Chọn năm" (selected)="getData()"
                        keyId="id" keyName="text">
                    </ngx-dropdown>
                </div>
                <div class="mr-3">
                    <ngx-dropdown panelClass="dark-mode" class="mb-0" [multiple]="true" allItemLabel="Tất cả" placeholder="Chọn tháng" [data]="MONTHS"
                        [formControl]="formSearch.controls.month" [label]="!lableMonth ?'Chọn tháng':'Tất cả'" (selected)="getData()" (selected)="getData()"
                        keyId="id" keyName="text">
                    </ngx-dropdown>
                </div>

                <button mat-raised-button class="btn-fullscreen" id="btn-fullscreen" (click)="showFullScreen()" 
                        type="button" matTooltip="Toàn màn hình">
                    <mat-icon color="primary">fullscreen</mat-icon>
                </button>
            </div>
        </form>

        <div [ngStyle]="this.rowStyles">
            <div class="row small-gutters h-100">
                <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Tình hình ký số văn bản đến</h4>
                        <app-bar-chart #tinhHinhKySoVBDen [isSummary]="true"></app-bar-chart>
                    </div>
                </div>
                <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Tình hình ký số văn bản đi</h4>
                        <app-bar-chart #tinhHinhKySoVBDi [isSummary]="true"></app-bar-chart>
                    </div>
                </div>
                <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Tình hình duyệt văn bản đến</h4>
                        <app-bar-chart #tinhHinhDuyetVBDen [isSummary]="true"></app-bar-chart>
                    </div>
                </div>
            </div>
        </div>
        <div [ngStyle]="this.rowStyles">
            <div class="row small-gutters h-100">
                <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Tình hình tiếp nhận văn bản đến</h4>
                        <app-bar-chart #tinhHinhTiepNhanVBDen [isSummary]="true"></app-bar-chart>
                    </div>
                </div>
                <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Tình hình xử lý văn bản đến bị trễ hạn</h4>
                        <app-line-chart #tinhHinhXLVBDenBiTreHan [isSummary]="true"></app-line-chart>
                    </div>
                </div>
                <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Tình hình sử dụng hệ thống (số người truy cập)</h4>
                        <app-line-chart #tinhHinhSDHeThong [isSummary]="true"></app-line-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>