.search-nested {
  width: 80% !important;
  height: 50px !important;
  margin-left: 15px !important;
}

.clear-search-nested {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
}