.bg-ioc {
    .note {
        position: absolute;
        font-size: 13px;
    }

    .btn-link {
        font-size: 12px;
        color: #fff;
    }

    .btn-link:hover {
        text-decoration: underline;
    }

    .btn-link:focus {
        outline-style: none;
        box-shadow: none;
        border-color: transparent;
    }

    .note.right {
        right: 15px;
        bottom: 5px;
    }

    .note-container {
        position: sticky;
        bottom: 0;
        width: 100%;

        .btn-link {
            color: #000;
            font-size: 14px;
        }
    }
}

.btn-fullscreen {
    margin-top: 0.2em;
    background: none;
    box-shadow: none;
    border: 1px solid #fff !important;

    .mat-icon {
        color: #fff;
    }
}

::ng-deep {
    html:fullscreen .header {
        display: none;
    }

    html:-moz-full-screen .header {
        display: none;
    }

    html:-webkit-full-screen .header {
        display: none;
    }
}
.overflow-x{
    overflow-x: auto;
}

.w-chart{
    width: 2600px;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    background: blueviolet;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: blueviolet;
}