@import "~@angular/material/theming";
::ng-deep {
    .mat-icon {
        vertical-align: middle;
        margin-right: 20px;
    }

    .selected {
        background-color: mat-color($mat-indigo, 500);
        color: #fff;
    }

    .parent {
        .menu-button {
            transition: 300ms ease-in-out;
            transform: rotate(0deg);
        }

        .menu-button.rotated {
            transform: rotate(180deg);
        }
    }

    .submenu {
        display: none;
        // visibility: hidden;
        opacity: 0;
        height: 0;
        // transition: visibility 0s, opacity 0.3s linear;
        padding-left: 20px;
    }

    .submenu.expanded {
        // visibility: visible;
        display: block;
        opacity: 1;
        height: 100%;
    }

    .mat-list-base {
        padding-top: 0px !important;
    }

    .listReport {
        background-color: rgb(255, 255, 255);
        height: 100vh;
    }

    .listParam {
        background-color: rgb(255, 255, 255);
        color: white !important;
        height: 100vh;
    }

    .pdfobject-container {
        height: 70vh;
        border: 10px solid rgba(0, 0, 0, 0.2);
        margin: auto auto;
    }
}

.bg-ioc {
    .note {
        position: absolute;
        font-size: 13px;
    }

    .btn-link {
        font-size: 12px;
        color: #fff;
    }

    .btn-link:hover {
        text-decoration: underline;
    }

    .btn-link:focus {
        outline-style: none;
        box-shadow: none;
        border-color: transparent;
    }

    .note.right {
        right: 15px;
        bottom: 5px;
    }

    .note-container {
        position: sticky;
        bottom: 0;
        width: 100%;

        .btn-link {
            color: #000;
            font-size: 14px;
        }
    }
}

.btn-fullscreen {
    margin-top: 0.2em;
    background: none;
    box-shadow: none;
    border: 1px solid #fff !important;

    .mat-icon {
        color: #fff;
    }
}

::ng-deep {
    html:fullscreen .header {
        display: none;
    }

    html:-moz-full-screen .header {
        display: none;
    }

    html:-webkit-full-screen .header {
        display: none;
    }
}

.body-form {
    height: 100%;
    width: 100%;
}

.b-header {
    padding: 8px 10px;
    height: 68px;
}

.b-body {
    height: calc(100% - 68px);
}

.b-body .b-body-top,
.b-body .b-body-buttom {
    height: 50%;
}

h1 {
    font-weight: bold;
    margin-bottom: 10px;
}

.b-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
}

.number-card {
    width: 100%;
    min-height: 100%;
    border-radius: 5px;
    background-color: #272A3D;
    color: aliceblue;
}

.number-card-text {
    margin: 7px;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
}

.number-card-number {
    margin: 5px;
    color: hsla(0, 0%, 100%, .8);
    font-size: 22px;
    text-align: center;
    /* line-height:24px; */
}

.overflow-x {
    overflow-y: hidden;
    overflow-x: scroll;
}

.w-chart {
    width: 1600px;
}

.w-chart150 {
    width: 9000px;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: blueviolet;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: blueviolet;
}

@media (max-width: 991px) {
    .number-card-text {
        font-size: 20px;
    }

    .number-card {
        padding-top: 12px;
        padding-bottom: 16px;
    }
}

.font-30 {
    font-size: 30px !important;
}

.pb-1 {
    padding-bottom: 1rem !important;
}

.pb-16 {
    padding-bottom: 16px;
}

.mat-pseudo-checkbox {
    color: #fff !important;
}



@media (max-width: 1600px) {
    .bg-card {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .number-card-text {
        margin: 7px;
        color: #fff;
        font-weight: 400;
        font-size: 11px;
        text-align: center;
        text-transform: uppercase;
        line-height: 18px;
    }
}

@media (max-width: 480px) {
    .number-card-text {
        margin: 7px;
        color: #fff;
        font-weight: 400;
        font-size: 11px;
        text-align: center;
        text-transform: uppercase;
        line-height: 18px;
    }
}