<div class="row">
    <div class="col-3 pr-0 listReport">
        <list-reports [reportList]="reportList"></list-reports>
    </div>
    <div class="col-9">
        <div class="row">
            <div class="col-12">
                <form [formGroup]="form" class="dark-mode mr-1 w-100">
                    <div class="row">
                        <div *ngFor="let field of params" class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                            <div [ngSwitch]="field.typename">
                        
                                <div *ngSwitchCase="'text'" #textTemplate>
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>{{ field.fieldname }}</mat-label>
                                        <input matInput [formControlName]="field.fieldproc">
                                    </mat-form-field>
                                </div>
                        
                                <div *ngSwitchCase="'number'" #numberTemplate>
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>{{ field.fieldname }}</mat-label>
                                        <input matInput type="number" [formControlName]="field.fieldproc">
                                    </mat-form-field>
                                </div>
                        
                                <div *ngSwitchCase="'date'" #dateTemplate>
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>{{ field.fieldname }}</mat-label>
                                        <input matInput [matDatepicker]="picker" [formControlName]="field.fieldproc">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                        
                                <div *ngSwitchCase="'select'" #selectTemplate>
                                    <ngx-dropdown class="mb-0 w-100" panelClass="dark-mode" [multiple]="true" allItemLabel="Tất cả"
                                        placeholder="{{field.fieldname}}" [data]="field.data" [label]="field.fieldname"
                                        [formControl]="form.controls[field.fieldproc]" keyId="id" keyName="val" (selected)="loadParam()">
                                    </ngx-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                            <ngx-dropdown class="mb-0 w-100" panelClass="dark-mode" [multiple]="false" placeholder="Kiểu report"
                                [data]="typeReport" [label]="'Kiểu report'" [formControl]="form.controls.p_reportype" keyId="id" keyName="val"
                                (selected)="loadParam()">
                            </ngx-dropdown>
                        </div>
                    </div>
                    <button mat-button>submit</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p *ngIf="isLoading">Loading...</p>

                <div id="pdfContainer"></div>
            </div>
        </div>
    </div>
</div>