<div class="main-wrapper">
    <mat-toolbar class="title mb-3">
        <mat-toolbar-row>
            <div class="name-page">DANH MỤC TÔN GIÁO</div>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-card>
        <form [formGroup]="formSearch" id="formSearch" (submit)="search()">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 align-items-center">
                    <mat-form-field class="w-100 mb-0" appearance="outline">
                        <mat-label>Từ khóa</mat-label>
                        <input matInput formControlName="keyword" placeholder="Nhập từ khóa tìm kiếm">
                    </mat-form-field>
                </div>
                <button mat-raised-button color="primary" id="btn-search" type="submit"> Tìm kiếm </button>
            </div>
        </form>
    </mat-card>

    <div class="mt-3 mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="w-100">
            <ng-container matColumnDef="stt" class="mat-card">
                <th mat-header-cell *matHeaderCellDef class="text-center">STT</th>
                <td mat-cell *matCellDef="let element; let i = index;" class="text-center">{{ (i + 1) }}</td>
            </ng-container>

            <ng-container matColumnDef="maTG">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Mã Tôn Giáo </th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{ element.MA_TON_GIAO }} </td>
            </ng-container>

            <ng-container matColumnDef="tenTG">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Tên Tôn Giáo </th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{ element.TEN_TON_GIAO }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <!-- <div class="d-flex justify-content-end">
            <mat-paginator class="w-100" #paginator showFirstLastButtons [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="pageOption" (page)="pageEvent = search($event)">
            </mat-paginator>
        </div> -->
    </div>
</div>