<div class="main-wrapper p-3">
    <mat-card>
        <mat-toolbar class="title mb-3">
            <mat-toolbar-row>
                <div class="name-page">BÁO CÁO DANH SÁCH BỆNH NHÂN STI
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
        <form [formGroup]="formSearch" id="formSearch" (submit)="search()">
            <div class="row mb-3">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Loại bộ lọc</mat-label>
                        <mat-select formControlName="filter" (selectionChange)="hideFilter($event.value)">
                            <mat-option [value]="option" *ngFor="let option of [1,2,3,4]">{{ option | filterType
                                }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12" [ngClass]="{'invisible': hideDate === 1}">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Từ ngày</mat-label>
                        <input matInput [matDatepicker]="picker1" formControlName="tungay" (change)="initializeYears()">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12" [ngClass]="{'invisible': hideDate === 1}">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Đến ngày</mat-label>
                        <input matInput [matDatepicker]="picker2" formControlName="denngay"
                            (change)="initializeYears()">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12" [ngClass]="{'invisible': hideMonth === 1}">
                    <mat-form-field class="w-100 mb-2" appearance="outline">
                        <mat-label>Tháng</mat-label>
                        <mat-select panelClass="panel-filter" formControlName="thang">
                            <mat-option [value]="month.value" *ngFor="let month of months">{{ month.name
                                }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12" [ngClass]="{'invisible': hideQuater === 1}">
                    <mat-form-field class="w-100 mb-2" appearance="outline">
                        <mat-label>Quý</mat-label>
                        <mat-select panelClass="panel-filter" formControlName="quy">
                            <mat-option [value]="quarter.value" *ngFor="let quarter of quarters">{{
                                quarter.name
                                }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12" [ngClass]="{'invisible': hideYear === 1}">
                    <mat-form-field class="w-100 mb-2" appearance="outline">
                        <mat-label>Năm</mat-label>
                        <mat-select panelClass="panel-filter" formControlName="nam">
                            <mat-option [value]=-1>Tất cả</mat-option>
                            <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 pt-2">
                    <button mat-raised-button color="primary" class="mr-2" id="btn-search" type="submit"> Tìm kiếm
                    </button>
                    <button mat-raised-button color="primary" class="mr-2" type="button" (click)="exportToExcel()">Xuất
                        Excel</button>
                    <button mat-raised-button color="primary" type="button" (click)="exportToPDF()">Xuất
                        PDF</button>
                </div>
            </div>
        </form>
        <div class="mt-3 mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" id="pdfTable" class="w-100">
                <ng-container matColumnDef="STT">
                    <th mat-header-cell *matHeaderCellDef> STT </th>
                    <td mat-cell *matCellDef="let element; let i = index;" class="text-center">{{ (i + 1) + pageIndex *
                        pageSize }}</td>
                </ng-container>

                <ng-container matColumnDef="NGAY">
                    <th mat-header-cell *matHeaderCellDef>Ngày</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.NGAY }} </td>
                </ng-container>

                <ng-container matColumnDef="HO_TEN">
                    <th mat-header-cell *matHeaderCellDef>Họ tên</th>
                    <td mat-cell *matCellDef="let element"> {{ element.HO_TEN }} </td>
                </ng-container>

                <ng-container matColumnDef="DIA_CHI">
                    <th mat-header-cell *matHeaderCellDef>Địa chỉ</th>
                    <td mat-cell *matCellDef="let element"> {{ element.DIA_CHI }} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <div class="d-flex justify-content-end">
                <mat-paginator class="w-100" #paginator showFirstLastButtons [length]="length" [pageIndex]="pageIndex"
                    [pageSize]="pageSize" [pageSizeOptions]="pageOption" (page)="pageEvent = search($event)">
                </mat-paginator>
            </div>
        </div>
    </mat-card>

    <div #reportView id="reportView" style="width: 21cm; height: 29.7cm; padding: 2cm 1.5cm 2cm 3cm; display: none;">
        <p class="text-center font-weight-bold">BÁO CÁO DANH SÁCH BỆNH NHÂN STI</p>
        <p class="text-center mb-4">Từ ngày {{ this.formSearch.controls["tungay"].value | date: dateFormat }} 
            đến ngày {{ this.formSearch.controls["denngay"].value | date: dateFormat }}</p>
        <table class="table table-bordered border-dark w-100 mt-3">
            <thead>
                <tr>
                    <th class="bg-white">Ngày</th>
                    <th class="bg-white">Họ tên</th>
                    <th class="bg-white">Địa chỉ</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let element of this.ELEMENT_DATA">
                    <td class="text-center">{{ element.NGAY }}</td>
                    <td class="text-center">{{ element.HO_TEN }}</td>
                    <td class="text-center">{{ element.DIA_CHI }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>