.mat-column-tuongtacdulieu {
  width: 9% !important;
  max-width: 9% !important;
}
.mat-column-tool {
  width: 9% !important;
  max-width: 9% !important;
}

::ng-deep {
  form mat-form-field .mat-form-field-wrapper {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
}

.invisible {
  display: none;
  visibility: hidden;
  height: 0;
  width: 0;
}
label {
  margin: 0.5em 0 !important;
}
#formSearch {
  button {
    margin-top: 5px;
    box-shadow: none !important;
   
  }
}
table {
  th {
    text-align: center !important;
  }
}
.titleTree {
  font-size: 1.23em;
  font-weight: 400;
  margin: 0 0 5px 0 !important;
}
.scrollTree {
  max-height: 70vh; overflow-y:auto;
}