.bg-home {
    background: 
        linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
        url(../../../../assets/logo/3661906.jpg);
    background-size: cover;
    height: 100vh;
}
.home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(205, 174, 1);
    text-align: center;
}
h1 {
    text-transform: uppercase;
    margin: 0;
    font-size: 2rem;
    white-space: nowrap;
    font-weight: bold;
}
h5{
    font-size: 1.8rem;
    margin-top: 15px;
    color: aliceblue;
}
.w-chart{
    width: 1000px;
}
.w-chart150{
    width: 1500px;
}
@media (max-width: 670px) {
    h1 {
        text-transform: uppercase;
        margin: 0;
        font-size: 1.5rem;
        white-space: nowrap;
        font-weight: bold;
    }
    h5{
        font-size: 1.1rem;
        margin-top: 15px;
        color: aliceblue;
    }
    
}