<div class="main-wrapper bg-ioc ">
    <div class="bg-home">
        <div class="home-content">
            <h1>{{siteTitle}} {{tenTinh}}</h1>
            <h5> {{TT_USER==null?"": "Xin chào: "+TT_USER+"" }}</h5>
        </div>
    </div>
   
</div>
