@import "~src/assets/style/variable";

.search-nested {
  width: 80% !important;
  height: 50px !important;
  margin-left: 15px !important;
  color: wheat;
  caret-color: wheat;
}
.search-nested::placeholder {
  color: wheat;
}

.clear-search-nested {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  color: wheat;
}

::ng-deep {
  html:fullscreen .header {
    display: none;
  }

  html:-moz-full-screen .header {
    display: none;
  }

  html:-webkit-full-screen .header {
    display: none;
  }
}

.btn-fullscreen {
  margin-top: 0.25em;
  margin-left: 0.5rem;
  background: none;
  box-shadow: none;
  border: 1px solid #fff !important;
  .mat-icon {
    color: #fff;
  }
}

.tag-value {
  padding-top: 50% !important;
}
