<div [class]="'main-wrapper bg-ioc' + (this.isFitPage ? ' vh-100' : '')">
  <div class="container-fluid h-100 pt-3">
    <form class="dark-mode mb-3" [formGroup]="formSearch" id="formSearch">
      <div class="d-flex align-items-center">
        <div class="ml-auto mr-3">
          <ngx-dropdown panelClass="dark-mode" class="mb-0 dark-mode" placeholder="Chọn năm" [data]="YEARS" [formControl]="formSearch.controls.year" label="Chọn năm" (selected)="getData()" keyId="id" keyName="text"></ngx-dropdown>
        </div>
        <ngx-dropdown panelClass="dark-mode" class="mb-0 mr-2" placeholder="Chọn tháng" [data]="MONTHS"
                        [formControl]="formSearch.controls.month" label="Chọn tháng" (selected)="getData()"
                        keyId="id" keyName="text">
        </ngx-dropdown>
        <button mat-raised-button class="btn-fullscreen" id="btn-fullscreen" (click)="showFullScreen()" type="button" matTooltip="Toàn màn hình">
          <mat-icon color="primary">fullscreen</mat-icon>
        </button>
      </div>
    </form>
    <div [ngStyle]="this.rowStyles">
      <div class="row small-gutters h-100">
        <div [ngClass]="isFitPage ? 'col-4 h-100 mt-3' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
          <div class="bg-chart p-2 h-100">
            <h4 class="chart-title">Số phụ nữ đẻ được khám thai ≥ 4 lần trong 3 thời kỳ</h4>
            <div class="h-100 pt-5" style="overflow-y: auto;">
              <div class="h-100" style="width: 250%;">
                <app-bar-chart #khamThai></app-bar-chart>
              </div>
            </div>
          </div>
        </div>
        <div [ngClass]="isFitPage ? 'col-4 h-100 mt-3' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
          <div class="bg-chart p-2 h-100">
            <h4 class="chart-title">Số phụ nữ đẻ được cán bộ có kỹ năng đỡ</h4>
            <div class="h-100 pt-5" style="overflow-y: auto;">
              <div class="h-100" style="width: 250%;">
                <app-bar-chart #canBoDoDe></app-bar-chart>
              </div>
            </div>
          </div>
        </div>
        <div [ngClass]="isFitPage ? 'col-4 h-100 mt-3' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
          <div class="bg-chart p-2 h-100">
            <h4 class="chart-title">phụ nữ đẻ và trẻ sơ sinh được chăm sóc sau sinh trong tuần đầu</h4>
            <div class="h-100 pt-5" style="overflow-y: auto;">
              <div class="h-100" style="width: 250%;">
                <app-bar-chart #chamSocSauSinh></app-bar-chart>
              </div>
            </div>
          </div>
        </div>
        <div [ngClass]="isFitPage ? 'col-4 h-100 mt-3' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
          <div class="bg-chart p-2 h-100">
            <h4 class="chart-title">Số ca phá thai</h4>
            <div class="h-100 pt-5" style="overflow-y: auto;">
              <div class="h-100" style="width: 250%;">
                <app-bar-chart #phaThai></app-bar-chart>
              </div>
            </div>
          </div>
        </div>
        <div [ngClass]="isFitPage ? 'col-4 h-100 mt-3' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
          <div class="bg-chart p-2 h-100">
            <h4 class="chart-title">Số ca tử vong mẹ</h4>
            <div class="h-100 pt-5" style="overflow-y: auto;">
              <div class="h-100" style="width: 250%;">
                <app-bar-chart #tuVongMe></app-bar-chart>
              </div>
            </div>
          </div>
        </div>
        <div [ngClass]="isFitPage ? 'col-4 h-100 mt-3' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
          <div class="bg-chart p-2 h-100">
            <h4 class="chart-title">Số ca tử vong trẻ em dưới 1 tuổi</h4>
            <div class="h-100 pt-5" style="overflow-y: auto;">
              <div class="h-100" style="width: 250%;">
                <app-bar-chart #tuVongDuoi1Tuoi></app-bar-chart>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
</div>
