.btn-fullscreen {
    margin-top: 0.2em;
    background: none;
    box-shadow: none;
    border: 1px solid #fff !important;

    .mat-icon {
        color: #fff;
    }
}

::ng-deep {
    html:fullscreen .header {
        display: none;
    }

    html:-moz-full-screen .header {
        display: none;
    }

    html:-webkit-full-screen .header {
        display: none;
    }
}
.body-form{
    height: 100%;
    width: 100%;
}
.b-header{
    padding: 8px 10px;
    height: 68px;
}
.b-body{
    height: calc(100% - 68px);
}
.b-body .b-body-top, .b-body .b-body-buttom{
    height: 50%;
}