<div [class]="'main-wrapper bg-ioc' + (this.isFitPage ? ' vh-100' : '')">
    <div class="container-fluid h-100 pt-3">
        <form class="dark-mode mb-3" [formGroup]="formSearch" id="formSearch">
            <div class="d-flex align-items-center">
            
                <div class="ml-auto mr-3">
                    <ngx-dropdown panelClass="dark-mode" class="mb-0" placeholder="Chọn năm" [data]="YEARS"
                        [formControl]="formSearch.controls.year" label="Chọn năm" (selected)="getData()"
                        keyId="id" keyName="text">
                    </ngx-dropdown>
                </div>
              

                <button mat-raised-button class="btn-fullscreen" id="btn-fullscreen" (click)="showFullScreen()" 
                        type="button" matTooltip="Toàn màn hình">
                    <mat-icon color="primary">fullscreen</mat-icon>
                </button>
            </div>
        </form>

        <div [ngStyle]="this.rowStyles">
            <div class="row small-gutters h-100">
                <div [ngClass]="isFitPage ? 'col-2 h-100' : 'col-xl-2 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="row small-gutters" style="height: calc(50% - 7.5px)">
                        <div [ngClass]="isFitPage ? 'col-12 h-100' : 'col-md-12 col-sm-12 mb-3'">
                            <div class="bg-card p-2 h-100">
                                <h4 class="card-title">Số cơ sở kiểm tra chuyên ngành</h4>
                                <div class="card-value" [style.color]="CONST_COLOR[0]"> {{ this.summaryInfo?.CHUYENNGANH }} </div>
                            </div>
                        </div>
                    </div>
                    <div style="height: 15px;">&nbsp;</div>
                    <div class="row small-gutters" style="height: calc(50% - 7.5px)">
                        <div [ngClass]="isFitPage ? 'col-12 h-100' : 'col-md-12 col-sm-12 mb-3'">
                            <div class="bg-card p-2 h-100">
                                <h4 class="card-title">Số cơ sở kiểm tra liên ngành</h4>
                                <div class="card-value" [style.color]="CONST_COLOR[2]"> {{ this.summaryInfo?.LIENNGANH }} </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div [ngClass]="isFitPage ? 'col-5 h-100' : 'col-xl-5 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Thống kê kết quả thanh tra chuyên ngành theo loại hình</h4>
                        <div class="legend d-flex align-items-center justify-content-center flex-wrap">
                            <div class="mx-2 d-flex align-items-center" *ngFor="let item of this.chuyenNganhTheoLoaiHinh.barChartData">
                                <span class="shape" [style]="'background-color: ' + item.backgroundColor"></span>
                                <span class="ml-1">{{ item.label }}</span>
                            </div>
                        </div>
                        <div class="h-100 pt-5" style="overflow-x: auto;">
                            <div class="h-100" [style]="getDynamicWidth(this.lienNganhTheoLoaiHinh.barChartData[0], 30)">
                                <app-bar-chart #chuyenNganhTheoLoaiHinh [isSummary]="true"></app-bar-chart>
                            </div>
                        </div>
                    </div>
                </div>
                <div [ngClass]="isFitPage ? 'col-5 h-100' : 'col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Thống kê kết quả thanh tra liên ngành theo loại hình</h4>
                        <div class="legend d-flex align-items-center justify-content-center flex-wrap">
                            <div class="mx-2 d-flex align-items-center" *ngFor="let item of this.lienNganhTheoLoaiHinh.barChartData">
                                <span class="shape" [style]="'background-color: ' + item.backgroundColor"></span>
                                <span class="ml-1">{{ item.label }}</span>
                            </div>
                        </div>
                        <div class="h-100 pt-5" style="overflow-x: auto;">
                            <div class="h-100" [style]="getDynamicWidth(this.lienNganhTheoLoaiHinh.barChartData[0], 30)">
                                <app-bar-chart #lienNganhTheoLoaiHinh [isSummary]="true"></app-bar-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div [ngStyle]="this.rowStyles">
            <div class="row small-gutters h-100">
                <div [ngClass]="isFitPage ? 'col-2 h-100' : 'col-xl-2 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="row small-gutters" style="height: calc(50% - 7.5px)">
                        <div [ngClass]="isFitPage ? 'col-12 h-100' : 'col-md-12 col-sm-12 mb-3'">
                            <div class="bg-card p-2 h-100">
                                <h4 class="card-title">Tổng số cơ sở vi phạm</h4>
                                <div class="card-value" [style.color]="CONST_COLOR[10]"> {{ this.summaryInfo?.VIPHAM }} </div>
                            </div>
                        </div>
                    </div>
                    <div style="height: 15px;">&nbsp;</div>
                    <div class="row small-gutters" style="height: calc(50% - 7.5px)">
                        <div [ngClass]="isFitPage ? 'col-12 h-100' : 'col-md-12 col-sm-12 mb-3'">
                            <div class="bg-card p-2 h-100">
                                <h4 class="card-title">Tổng số cơ sở đã xử phạt</h4>
                                <div class="card-value" [style.color]="CONST_COLOR[9]"> {{ this.summaryInfo?.XUPHAT }} </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div [ngClass]="isFitPage ? 'col-5 h-100' : 'col-xl-5 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Thống kê kết quả thanh tra chuyên ngành theo đợt</h4>
                        <div class="legend d-flex align-items-center justify-content-center flex-wrap">
                            <div class="mx-2 d-flex align-items-center" *ngFor="let item of this.chuyenNganhTheoDot.barChartData">
                                <span class="shape" [style]="'background-color: ' + item.backgroundColor"></span>
                                <span class="ml-1">{{ item.label }}</span>
                            </div>
                        </div>
                        <div class="h-100 pt-5" style="overflow-x: auto;">
                            <div class="h-100" [style]="getDynamicWidth(this.lienNganhTheoLoaiHinh.barChartData[0], 30)">
                                <app-bar-chart #chuyenNganhTheoDot [isSummary]="true"></app-bar-chart>
                            </div>
                        </div>
                    </div>
                </div>
                <div [ngClass]="isFitPage ? 'col-5 h-100' : 'col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Thống kê kết quả thanh tra liên ngành theo đợt</h4>
                        <div class="legend d-flex align-items-center justify-content-center flex-wrap">
                            <div class="mx-2 d-flex align-items-center" *ngFor="let item of this.lienNganhTheoDot.barChartData">
                                <span class="shape" [style]="'background-color: ' + item.backgroundColor"></span>
                                <span class="ml-1">{{ item.label }}</span>
                            </div>
                        </div>
                        <div class="h-100 pt-5" style="overflow-x: auto;">
                            <div class="h-100" [style]="getDynamicWidth(this.lienNganhTheoDot.barChartData[0], 30)">
                                <app-bar-chart #lienNganhTheoDot [isSummary]="true"></app-bar-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>