<div [class]="'main-wrapper bg-ioc' + (this.isFitPage ? ' vh-100' : '')">
  <div class="container-fluid h-100 pt-3">
    <form class="dark-mode mb-3" [formGroup]="formSearch" id="formSearch">
      <div class="d-flex align-items-center justify-content-end">
        <ngx-dropdown panelClass="dark-mode" class="mb-0 mr-2" [multiple]="true" allItemLabel="Tất cả"
          placeholder="Chọn tháng" [data]="MONTHS" [formControl]="formSearch.controls.month"
          [label]="!lableMonth ? 'Chọn tháng' : 'Tất cả'" (selected)="getData()" keyId="id" keyName="text">
        </ngx-dropdown>
        <ngx-dropdown panelClass="dark-mode" class="mb-0 mr-2" placeholder="Chọn năm" [data]="YEARS"
          [formControl]="formSearch.controls.year" label="Chọn năm" (selected)="getData()" keyId="id" keyName="text">
        </ngx-dropdown>
        <button mat-raised-button class="btn-fullscreen" id="btn-fullscreen" (click)="showFullScreen()" type="button"
          matTooltip="{{ isFullScreen ? 'Thoát toàn màn hình' : 'Toàn màn hình' }}">
          <mat-icon color="primary">{{ isFullScreen ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
        </button>
      </div>
    </form>
    <div [ngStyle]="this.rowStyles">
      <div class="row small-gutters">
        <!-- col 1 -->
        <div [ngClass]="
            isFitPage
              ? 'col-4 h-100 '
              : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'
          ">
          <div class="row small-gutters">
            <!-- Nhóm 5 đơn vị có văn bản đến nhiều nhất -->
            <div [ngClass]="
                isFitPage
                  ? 'col-12 h-100'
                  : 'col-xl-12 col-lg-14 col-md-14 col-sm-20 mb-3'
              ">
              <div class="custom-border" style="height: 480px;">
                <div class="bg-chart p-2 h-100" style="overflow: auto;">
                  <h4 class="chart-title mb-9">
                    Nhóm 5 đơn vị có văn bản đến nhiều nhất
                  </h4>
                  <div style="height: 480px;"
                    [style]="getDynamicWidthAndHeight(this.Top5DonViCoVbDenNhieuNhat.barChartData[0], 10, 0)">
                    <app-bar-chart #Top5DonViCoVbDenNhieuNhat></app-bar-chart>
                  </div>
                </div>
              </div>
            </div>
            <!-- Nhóm 5 đơn vị có người dùng thường xuyên truy cập hệ thống -->
            <div [ngClass]="
                isFitPage
                  ? 'col-12 h-100'
                  : 'col-xl-12 col-lg-14 col-md-14 col-sm-20 mb-3'
              ">
              <div class="custom-border mt-3 mb-3">
                <div class="bg-chart p-2 h-500" style="height: 480px; overflow: auto">
                  <div class="chart-title-wrapper">
                    <h4 class="chart-title">
                      Nhóm 5 đơn vị có người dùng thường xuyên truy cập hệ thống
                    </h4>
                  </div>
                  <app-bar-chart #Top5TruyCapNhieuNhat></app-bar-chart>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- col 2 -->
        <div [ngClass]="
            isFitPage
              ? 'col-8 h-100 '
              : 'col-xl-8 col-lg-10 col-md-10 col-sm-16 mb-3'
          ">
          <div class="row small-gutters">
            <!-- Số lượng văn bản đến trung bình (văn bản/đơn vị) -->
            <div [ngClass]="
                isFitPage
                  ? 'col-12 h-100'
                  : 'col-xl-12 col-lg-14 col-md-14 col-sm-18 mb-3'
              ">
              <div class="custom-border">
                <div class="bg-card p-2 h-500" style="height: 98.5px">
                  <h4 class="card-title mb-2">
                    Số lượng văn bản đến trung bình (văn bản/đơn vị)
                  </h4>
                  <div class="card-value" [style.color]="CONST_COLOR[11]">
                    {{ THE.AVG }}
                  </div>
                </div>
              </div>
            </div>
            <!-- Nhóm 5 đơn vị có tỷ lệ xử lý văn bản đến đúng hạn cao nhất -->
            <div [ngClass]="
                isFitPage
                  ? 'col-6 h-400'
                  : 'col-xl-6 col-lg-8 col-md-8 col-sm-14 mb-3'
              ">
              <div class="custom-border mt-3">
                <div class="bg-chart p-2 h-400" style="height: 360px; overflow: auto">
                  <div class="chart-title-wrapper">
                    <h4 class="chart-title">
                      Nhóm 5 đơn vị có tỷ lệ xử lý văn bản đến đúng hạn cao nhất
                    </h4>
                  </div>
                  <!-- <app-pie-chart #noiDung></app-pie-chart> -->
                  <app-bar-chart #Top5DonViCoVbdenDungHanNhieuNhat></app-bar-chart>
                </div>
              </div>
            </div>
            <!-- Nhóm 5 đơn vị có tỷ lệ xử lý văn bản đến quá hạn cao nhất -->
            <div [ngClass]="
                isFitPage
                  ? 'col-6 h-400'
                  : 'col-xl-6 col-lg-8 col-md-8 col-sm-14 mb-3'
              ">
              <div class="custom-border mt-3">
                <div class="bg-chart p-2 h-400" style="height: 360px; overflow: auto">
                  <div class="chart-title-wrapper">
                    <h4 class="chart-title">
                      Nhóm 5 đơn vị có tỷ lệ xử lý văn bản đến quá hạn cao nhất
                    </h4>
                  </div>
                  <!-- <app-pie-chart #tinhTrang></app-pie-chart> -->
                  <app-bar-chart #Top5DonViCoVbdenQuaHanNhieuNhat></app-bar-chart>
                </div>
              </div>
            </div>
            <!-- Số lượng văn bản đi trung bình (văn bản/đơn vị) -->
            <div [ngClass]="
                isFitPage
                  ? 'col-12 h-100'
                  : 'col-xl-12 col-lg-14 col-md-14 col-sm-18 mb-3'
              ">
              <div class="custom-border mt-3">
                <div class="bg-card p-2 h-500" style="height: 98.5px">
                  <h4 class="card-title mb-2">
                    Số lượng văn bản đi trung bình (văn bản/đơn vị)
                  </h4>
                  <div class="card-value" [style.color]="CONST_COLOR[11]">
                    {{ THE1.AVG }}
                  </div>
                </div>
              </div>
            </div>
            <!-- Nhóm 5 đơn vị có văn bản đi nhiều nhất -->
            <div [ngClass]="
                isFitPage
                  ? 'col-6 h-400'
                  : 'col-xl-6 col-lg-8 col-md-8 col-sm-14 mb-3'
              ">
              <div class="custom-border mt-3 mb-3">
                <div class="bg-chart p-2 h-400" style="height: 360px; overflow: auto">
                  <div class="chart-title-wrapper">
                    <h4 class="chart-title">
                      Nhóm 5 đơn vị có văn bản đi nhiều nhất
                    </h4>
                  </div>
                  <!-- <app-bar-chart #thuocThamQuyen></app-bar-chart> -->
                  <app-bar-chart #Top5DonViCoVbDiNhieuNhat></app-bar-chart>
                </div>
              </div>
            </div>
            <!-- Nhóm 5 đơn vị có văn bản liên thông nhiều nhất -->
            <div [ngClass]="
                isFitPage
                  ? 'col-6 h-400'
                  : 'col-xl-6 col-lg-8 col-md-8 col-sm-14 mb-3'
              ">
              <div class="custom-border mt-3 mb-3">
                <div class="bg-chart p-2 h-400" style="height: 360px; overflow: auto">
                  <div class="chart-title-wrapper">
                    <h4 class="chart-title">
                      Nhóm 5 đơn vị có văn bản liên thông nhiều nhất
                    </h4>
                  </div>
                  <!-- <app-bar-chart #thuocThamQuyen></app-bar-chart> -->
                  <app-bar-chart #Top5DonViCoVbLienThongNhieuNhat></app-bar-chart>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>