<div class= "main-wrapper bg-ioc vh-100 " >
    <div class=" b-header " >
        <div class="d-flex justify-content-end mb-3 pt-2 w-100">
            <form class="dark-mode mr-4 w-100" [formGroup]="formSearch" id="formSearch">
                <div class="row align-items-center justify-content-end ">
                    <div class="ml-auto mr-3">
                        <mat-form-field class="w-100 mb-0" appearance="outline" >
                            <mat-label>Loại thời gian</mat-label>
                            <mat-select panelClass="dark-mode" (selectionChange)="onFilterChangeCombobox()" formControlName="loai">
                                <mat-option [value]="0">Theo năm</mat-option>
                                <mat-option [value]="2">Theo quý </mat-option>
                                <mat-option [value]="1">Theo tháng </mat-option>
                                <mat-option [value]="3">Theo ngày </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngIf="showNam" class="col-xl-2 col-lg-2 col-md-6 col-sm-12" >
                        <mat-form-field class="w-100 mb-0" appearance="outline">
                            <mat-label>Chọn năm</mat-label>
                            <mat-select panelClass="dark-mode" (selectionChange)="onFilterChange()" formControlName="nam">
                                <!-- <mat-option [value]="0">Tất cả</mat-option> -->
                                <mat-option [value]="nam.GIA_TRI_NAM" *ngFor="let nam of listNam">{{nam.GIA_TRI_NAM}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div *ngIf="showThang" class="col-xl-2 col-lg-2 col-md-6 col-sm-12">
                        <mat-form-field  class="w-100 mb-0" appearance="outline">
                            <mat-label>Chọn tháng</mat-label>
                            <mat-select panelClass="dark-mode" (selectionChange)="onFilterChange()" formControlName="thang">
                                <!-- <mat-option [value]="0">Tất cả</mat-option> -->
                                <mat-option [value]="thang.GIA_TRI_THANG" *ngFor="let thang of listThang"> {{thang.GIA_TRI_THANG =='Tất cả'?'Tất cả': 'Tháng ' + thang.GIA_TRI_THANG }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div  *ngIf="showQuy" class="col-xl-1 col-lg-2 col-md-6 col-sm-12">
                        <mat-form-field  class="w-100 mb-0" appearance="outline">
                            <mat-label>Chọn quý</mat-label>
                            <mat-select panelClass="dark-mode" (selectionChange)="onFilterChange()" formControlName="quy">
                                <mat-option [value]="quy.GIA_TRI_QUY" *ngFor="let quy of listQuy">{{ quy.GIA_TRI_QUY =='Tất cả'?'Tất cả': 'Qúy ' + quy.GIA_TRI_QUY}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngIf="showTuNgay" class="mr-3">
                        <mat-form-field class="w-100 mb-0 c-text" appearance="outline">
                            <mat-label>Từ ngày</mat-label>
                            <input matInput formControlName="fromDate" placeholder="Thời gian từ ngày" [matDatepicker]="tuNgayPicker" class="c-text"  autocomplete="off" class="c-text"  (dateChange)="onFilterChange()">
                            <mat-datepicker-toggle matSuffix [for]="tuNgayPicker" class="c-text" ></mat-datepicker-toggle>
                            <mat-datepicker #tuNgayPicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div *ngIf="showDenNgay" class="mr-3">
                        <mat-form-field class="w-100 mb-0" appearance="outline" >
                            <mat-label>Đến ngày</mat-label>
                            <input matInput formControlName="toDate" placeholder="Thời gian đến ngày" [matDatepicker]="denNgayPicker"  autocomplete="off" class="c-text" (dateChange)="onFilterChange()">
                            <mat-datepicker-toggle matSuffix [for]="denNgayPicker" class="c-text" ></mat-datepicker-toggle>
                            <mat-datepicker #denNgayPicker ></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </form>
            <button mat-raised-button class="btn-fullscreen" id="btn-fullscreen" (click)="toggleFullScreen()" *ngIf="!isFullScreen" matTooltip="Toàn màn hình">
                <mat-icon color="primary">fullscreen</mat-icon>
            </button>
            <button mat-raised-button class="btn-fullscreen" id="btn-fullscreen" (click)="toggleFullScreen()" *ngIf="isFullScreen" matTooltip="Thu nhỏ">
                <mat-icon color="primary">fullscreen_exit</mat-icon>
            </button>
        </div>
    </div>
    <div class="b-body pl-2 pr-2">
        <div class="b-body-top">
            <div class="row small-gutters h-100">
                <div class="col-md-6 h-100 ">
                    <div class="row small-gutters h-50">
                        <div class="col-md-4 w-100 h-100 p-2">
                            <div class="w-100 h-100">
                                <div class="number-card number-card-content1 h-100">
                                    <div class="b-card h-100">
                                        <h3 class="number-card-text">Nhãn Hàng mới trong tháng </h3>
                                        <div [ngClass]="isFullScreen? 'number-card-number  font-30' : 'number-card-number'" style="color: #0060ff;" (click)="onClicked($event, viewDetailGCNContent, 'NHAN_HANG', 'xl')"> {{dsTheTong.SL_NHAN_HANG_MOI_TRONG_THANG}} </div>
                                       
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-4 w-100 h-100 p-2">
                            <div class="w-100 h-100">
                                <div class="number-card number-card-content1 h-100">
                                    <div class="b-card h-100">
                                        <h3 class="number-card-text">Sản phẩm mới trong tháng</h3>
                                        <div [ngClass]="isFullScreen? 'number-card-number  font-30' : 'number-card-number'" style="color: #d2980d;" (click)="onClicked($event, viewDetailGCNContent, 'SAN_PHAM', 'xl')"> {{dsTheTong.TONG_SO_SAN_MOI_TRONG_THANG}}  </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 w-100 h-100 p-2">
                            <div class="w-100 h-100">
                                <div class="number-card number-card-content1 h-100">
                                    <div class="b-card h-100">
                                        <h3 class="number-card-text">CTY SX mới trong tháng</h3>
                                        <div [ngClass]="isFullScreen? 'number-card-number  font-30' : 'number-card-number'" style="color: #00E0BB;" (click)="onClicked($event, viewDetailGCNContent, 'CTY', 'xl')">  {{dsTheTong.TONG_SO_SP_MOI_TRONG_THANG}} </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row small-gutters h-50">
                        <div class="col-md-4 w-100 h-100 p-2">
                            <div class="w-100 h-100">
                                <div class="number-card number-card-content1 h-100">
                                    <div class="b-card h-100">
                                        <h3 class="number-card-text">Tổng số Nhãn Hàng</h3>
                                        <div [ngClass]="isFullScreen? 'number-card-number  font-30' : 'number-card-number'" style="color: #0060ff;" (click)="onClicked($event, viewDetailGCNContent, 'TONG_NHAN_HANG', 'xl')"> {{dsTheTong.SL_NHAN_HANG}} </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 w-100 h-100 p-2">
                            <div class="w-100 h-100">
                                <div class="number-card number-card-content1 h-100">
                                    <div class="b-card h-100">
                                        <h3 class="number-card-text">Tổng số Sản phẩm </h3>
                                        <div [ngClass]="isFullScreen? 'number-card-number  font-30' : 'number-card-number'" style="color: #d2980d;" (click)="onClicked($event, viewDetailGCNContent, 'TONG_SAN_PHAM', 'xl')"> {{dsTheTong.TONG_MA_CTY_SANXUAT}} </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-4 w-100 h-100 p-2">
                            <div class="w-100 h-100">
                                <div class="number-card number-card-content1 h-100">
                                    <div class="b-card h-100">
                                        <h3 class="number-card-text">Tổng số CTY Sản xuất</h3>
                                        <div [ngClass]="isFullScreen? 'number-card-number  font-30' : 'number-card-number'" style="color: #00E0BB;" (click)="onClicked($event, viewDetailGCNContent, 'TONG_CTY', 'xl')"> {{dsTheTong.TONG_SO_SP}}  </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 h-100 p-2" >
                    <div class="bg-chart p-2 h-100">
                        <h3 class="chart-title">Thống kê CTY Sản xuất theo Huyện</h3>
                        <app-bar-chart #ctySanXuatTheoHuyen [barChartLegend]="true" [isSummary]="true"></app-bar-chart>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="b-body-buttom">
            <div class="row small-gutters h-100">
                <div class="col-md-6 h-100 p-2" >
                    <div class="bg-chart p-2 h-100">
                        <h3 class="chart-title">Thống kê sản phẩm theo CTY Sản Xuất</h3>
                        <app-bar-chart #sanPhamTheoCTySanXuat [barChartLegend]="true" [isSummary]="true"></app-bar-chart>
                    </div>
                </div>
                <div class="col-md-6 h-100 p-2" >
                    <div class="bg-chart p-2 h-100">
                        <h3 class="chart-title">Thống kê Nhãn hàng theo CTY Sản Xuất </h3>
                        <app-bar-chart #nhanHangTheoCTySanXuat [barChartLegend]="true" [isSummary]="true"></app-bar-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #viewDetailGCNContent let-modal>
    <div class="modal-header">
        <h2 class="modal-title mb-0">Danh sách chi tiết</h2>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <app-ng-modal [modal]="modal" [ELEMENT_DATA]="ELEMENT_DATA" [COLUMNS_SCHEMA]="listHeaderColumnGCN" [pageIndex]="index" [length]="length" (paginatorOut)="getListCongBoMPByTrangThai($event)"></app-ng-modal>
</ng-template>