.bg-ioc {
    .note {
        position: absolute;
        font-size: 13px;
    }

    .btn-link {
        font-size: 12px;
        color: #fff;
    }

    .btn-link:hover {
        text-decoration: underline;
    }

    .btn-link:focus {
        outline-style: none;
        box-shadow: none;
        border-color: transparent;
    }

    .note.right {
        right: 15px;
        bottom: 5px;
    }

    .note-container {
        position: sticky;
        bottom: 0;
        width: 100%;

        .btn-link {
            color: #000;
            font-size: 14px;
        }
    }
}

.btn-fullscreen {
    margin-top: 0.2em;
    background: none;
    box-shadow: none;
    border: 1px solid #fff !important;

    .mat-icon {
        color: #fff;
    }
}

::ng-deep {
    html:fullscreen .header {
        display: none;
    }

    html:-moz-full-screen .header {
        display: none;
    }

    html:-webkit-full-screen .header {
        display: none;
    }
}
.body-form{
    height: 100%;
    width: 100%;
}
.b-header{
    padding: 8px 10px;
    height: 68px;
}
.b-body{
    height: calc(100% - 68px);
}
.b-body .b-body-top, .b-body .b-body-buttom{
    height: 50%;
}
h1{
    font-weight:bold;
    margin-bottom:10px;
}
.b-card{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
}
.number-card{
    width: 100%;
    min-height: 100%;
    border-radius:5px;
    background-color: #272A3D;
    color: aliceblue;
}
.number-card-text{
    margin: 10px;
    color:#fff;
    font-weight:400;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
}
.number-card-number{
    margin: 10px;
    color:hsla(0, 0%, 100%, .8);
    font-size:22px;
    text-align: center;
    /* line-height:24px; */
}
@media (max-width: 991px){
    .number-card-text{
        font-size:20px;
    }
    .number-card{
        padding-top:12px;
        padding-bottom:16px;
    }
}

