<div [class]="'main-wrapper bg-ioc' + (this.isFitPage ? ' vh-100' : '')">
  <div class="container-fluid h-100 pt-3">
    <form class="dark-mode mb-3" [formGroup]="formSearch" id="formSearch">
      <div class="d-flex align-items-center justify-content-end">
        <ngx-dropdown panelClass="dark-mode" class="mb-0 mr-2" [multiple]="true" allItemLabel="Tất cả"
          placeholder="Chọn tháng" [data]="MONTHS" [formControl]="formSearch.controls.month"
          [label]="!lableMonth ? 'Chọn tháng' : 'Tất cả'" (selected)="getData()" keyId="id" keyName="text">
        </ngx-dropdown>
        <ngx-dropdown panelClass="dark-mode" class="mb-0 mr-2" placeholder="Chọn năm" [data]="YEARS"
          [formControl]="formSearch.controls.year" label="Chọn năm" (selected)="getData()" keyId="id" keyName="text">
        </ngx-dropdown>
        <button mat-raised-button class="btn-fullscreen" id="btn-fullscreen" (click)="showFullScreen()" type="button"
          matTooltip="{{ isFullScreen ? 'Thoát toàn màn hình' : 'Toàn màn hình' }}">
          <mat-icon color="primary">{{ isFullScreen ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
        </button>
      </div>
    </form>
    <!-- row 1 -->
    <div [ngStyle]="this.rowStyles">
      <div class="row small-gutters">
        <!-- col 1 -->
        <div [ngClass]=" isFitPage ? 'col-4 h-100 '  : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3' ">
          <!-- row 1 -->
          <div class="row small-gutters">
            <!-- Tổng số văn bản đến -->
            <div [ngClass]="
                          isFitPage ? 'col-4 h-100 mb-2' : 'col-md-6 col-sm-12 mb-3'
                        ">
              <div class="custom-border">
                <div class="bg-card p-2 h-200" style="height: 166px !important">
                  <h4 class="card-title mb-2">Tổng số văn bản đến</h4>
                  <div class="card-value" [style.color]="CONST_COLOR[10]">
                    {{ THE.TOTAL }}
                  </div>
                </div>
              </div>
            </div>
            <!-- Tổng số văn bản đến trong hạn -->
            <div [ngClass]="
                          isFitPage ? 'col-4 h-100 mb-2' : 'col-md-6 col-sm-12 mb-3'
                        ">
              <div class="custom-border">
                <div class="bg-card p-2 h-200" style="height: 166px !important">
                  <h4 class="card-title mb-2">Tổng số văn bản đến trong hạn</h4>
                  <div class="card-value" [style.color]="CONST_COLOR[11]">
                    {{ THE.DUNGHAN }}
                  </div>
                </div>
              </div>
            </div>
            <!-- Tổng số văn bản đến quá hạn -->
            <div [ngClass]="
                          isFitPage ? 'col-4 h-100 mb-2' : 'col-md-6 col-sm-12 mb-3'
                        ">
              <div class="custom-border">
                <div class="bg-card p-2 h-200" style="height: 166px !important">
                  <h4 class="card-title mb-2">Tổng số văn bản đến quá hạn</h4>
                  <div class="card-value" [style.color]="CONST_COLOR[12]">
                    {{ THE.QUAHAN }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- row 2 -->
          <div class="row small-gutters">
            <!-- Tổng số văn bản đến cần xử lý trong hạn -->
            <div [ngClass]="
                          isFitPage ? 'col-4 h-100 mb-2' : 'col-md-6 col-sm-12 mb-3'
                        ">
              <div class="custom-border">
                <div class="bg-card p-2 h-100" style="height: 166px !important">
                  <h4 class="card-title mb-2">
                    Tổng số văn bản đến cần xử lý trong hạn
                  </h4>
                  <div class="card-value" [style.color]="CONST_COLOR[11]">
                    {{ THE.CXLTRONGHAN }}
                  </div>
                </div>
              </div>
            </div>
            <!-- Tổng số văn bản đến cần xử lý quá hạn -->
            <div [ngClass]="
                          isFitPage ? 'col-4 h-100 mb-2' : 'col-md-6 col-sm-12 mb-3'
                        ">
              <div class="custom-border">
                <div class="bg-card p-2 h-100" style="height: 166px !important">
                  <h4 class="card-title mb-2">
                    Tổng số văn bản đến cần xử lý quá hạn
                  </h4>
                  <div class="card-value" [style.color]="CONST_COLOR[12]">
                    {{ THE.CXLQUAHAN }}
                  </div>
                </div>
              </div>
            </div>
            <!-- Tổng số văn bản đến đang xử lý trong hạn -->
            <div [ngClass]="
                          isFitPage ? 'col-4 h-100 mb-2' : 'col-md-6 col-sm-12 mb-3'
                        ">
              <div class="custom-border">
                <div class="bg-card p-2 h-100" style="height: 166px !important">
                  <h4 class="card-title mb-2">
                    Tổng số văn bản đến đang xử lý trong hạn
                  </h4>
                  <div class="card-value" [style.color]="CONST_COLOR[11]">
                    {{ THE.DXLTRONGHAN }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- row 3 -->
          <div class="row small-gutters">
            <!-- Tổng số văn bản đến đang xử lý quá hạn -->
            <div [ngClass]="
                          isFitPage ? 'col-4 h-100 mb-2' : 'col-md-6 col-sm-12 mb-3'
                        ">
              <div class="custom-border">
                <div class="bg-card p-2 h-100" style="height: 166px !important">
                  <h4 class="card-title mb-2">
                    Tổng số văn bản đến đang xử lý quá hạn
                  </h4>
                  <div class="card-value" [style.color]="CONST_COLOR[12]">
                    {{ THE.DXLQUAHAN }}
                  </div>
                </div>
              </div>
            </div>
            <!-- Tổng số văn bản đến đã xử lý trong hạn -->
            <div [ngClass]="
                          isFitPage ? 'col-4 h-100 mb-2' : 'col-md-6 col-sm-12 mb-3'
                        ">
              <div class="custom-border">
                <div class="bg-card p-2 h-100" style="height: 166px !important">
                  <h4 class="card-title mb-2">
                    Tổng số văn bản đến đã xử lý trong hạn
                  </h4>
                  <div class="card-value" [style.color]="CONST_COLOR[11]">
                    {{ THE.HTTRONGHAN }}
                  </div>
                </div>
              </div>
            </div>
            <!-- Tổng số văn bản đến đã xử lý quá hạn -->
            <div [ngClass]="
                          isFitPage ? 'col-4 h-100 mb-2' : 'col-md-6 col-sm-12 mb-3'
                        ">
              <div class="custom-border">
                <div class="bg-card p-2 h-100" style="height: 166px !important">
                  <h4 class="card-title mb-2">
                    Tổng số văn bản đến đã xử lý quá hạn
                  </h4>
                  <div class="card-value" [style.color]="CONST_COLOR[12]">
                    {{ THE.HTQUAHAN }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- col 2 -->
        <div [ngClass]=" isFitPage ? 'col-4 h-100 '  : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3' ">
          <!-- Thống kê văn bản đến theo tháng -->
          <div [ngClass]="  isFitPage ? 'col-18 h-100'  : 'col-xl-6 col-lg-8 col-md-8 col-sm-14 mb-3' ">
            <div class="custom-border mb-2" style="height: 526px; ">
              <div class="bg-chart p-2 h-100" style="overflow: auto">
                <h4 class="chart-title mb-9"> Thống kê văn bản đến theo tháng </h4>
                <div style="height: 526px;"
                  [style]="getDynamicWidthAndHeight(this.TkVanBanDenTheoThang.barChartData[0], 10,0)">
                  <app-bar-chart #TkVanBanDenTheoThang></app-bar-chart>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- col 3 -->
        <div [ngClass]=" isFitPage ? 'col-4 h-100 '  : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3' ">
          <!-- Thống kê văn bản đến quá hạn theo tháng -->
          <div [ngClass]="  isFitPage ? 'col-18 h-100'  : 'col-xl-6 col-lg-8 col-md-8 col-sm-14 mb-3' ">
            <div class="custom-border" style="height: 526px; ">
              <div class="bg-chart p-2 h-100" style="overflow: auto">
                <h4 class="chart-title">Thống kê văn bản đến quá hạn theo tháng </h4>
                <div style="height: 526px;"
                  [style]="getDynamicWidthAndHeight(this.TkVanBanDenQuaHanTheoThang.barChartData[0], 10,0)">
                  <app-bar-chart #TkVanBanDenQuaHanTheoThang></app-bar-chart>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- row 2 -->
    <div [ngStyle]="this.rowStyles">
      <div class="row small-gutters">
        <div [ngClass]="isFitPage ? 'col-4 h-100': 'col-xl-2 col-lg-4 col-md-4 col-sm-10 mb-3'">
          <!-- Tỷ lệ văn bản đến đúng hạn và quá hạn -->
          <div [ngClass]="isFitPage ? 'col-14 h-100': 'col-xl-2 col-lg-4 col-md-4 col-sm-10 mb-3'">
            <div class="custom-border mb-2" style="height: 220px;">
              <div class="bg-chart p-2 h-100" style="overflow: auto;">
                <h4 class="chart-title">Tỷ lệ văn bản đến đúng hạn và quá hạn</h4>
                <div style="height: 220px;"
                  [style]="getDynamicWidthAndHeight(this.tyLeVbDenDungVaQuaHan.pieChartData[0], 0, 10)">
                  <app-pie-chart #tyLeVbDenDungVaQuaHan></app-pie-chart>
                </div>
              </div>
            </div>
          </div>
          <div class="row small-gutters">
            <!-- Tổng số văn bản đi -->
            <div [ngClass]="isFitPage ? 'col-6 h-100 mb-2' : 'col-md-8 col-sm-14 mb-3'">
              <div class="custom-border">
                <div class="bg-card p-2 h-200" style="height: 65px;">
                  <h4 class="card-title mb-2">Tổng số văn bản đi</h4>
                  <div class="card-value" [style.color]="CONST_COLOR[10]">
                    {{ THE1.VBDI }}
                  </div>
                </div>
              </div>
            </div>
            <!-- Tổng số văn bản đi liên thông -->
            <div [ngClass]="isFitPage ? 'col-6 h-100 mb-2' : 'col-md-8 col-sm-14 mb-3' ">
              <div class="custom-border">
                <div class="bg-card p-2 h-200" style="height: 65px;">
                  <h4 class="card-title mb-2">Tổng số văn bản đi liên thông</h4>
                  <div class="card-value" [style.color]="CONST_COLOR[11]">
                    {{ THE1.VBLIENTHONG }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Tỷ lệ văn bản liên thông -->
          <div [ngClass]="isFitPage ? 'col-14 h-100': 'col-xl-2 col-lg-4 col-md-4 col-sm-10 mb-3'">
            <div class="custom-border mb-2" style="height: 220px;">
              <div class="bg-chart p-2 h-100" style="overflow: auto;">
                <h4 class="chart-title">Tỷ lệ văn bản liên thông</h4>
                <div style="height: 220px;"
                  [style]="getDynamicWidthAndHeight(this.tyLeVbDenDungVaQuaHan.pieChartData[0], 0, 10)">
                  <app-pie-chart #tyLeVbLienThong></app-pie-chart>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div [ngClass]=" isFitPage ? 'col-4 h-100 '  : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3' ">
          <!-- Thống kê văn bản liên thông theo tháng -->
          <div [ngClass]="  isFitPage ? 'col-18 h-100'  : 'col-xl-6 col-lg-8 col-md-8 col-sm-14 mb-3' ">
            <div class="custom-border mb-2" style="height: 526px;">
              <div class="bg-chart p-2 h-100" style="overflow: auto">
                <h4 class="chart-title"> Thống kê văn bản liên thông theo tháng </h4>
                <div style="height: 526px;"
                  [style]="getDynamicWidthAndHeight(this.TkVanBanLienThongTheoThang.barChartData[0], 10,0)">
                  <app-bar-chart #TkVanBanLienThongTheoThang></app-bar-chart>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div [ngClass]=" isFitPage ? 'col-4 h-100 '  : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3' ">
          <!-- Thống kê số lượng truy cập hệ thống theo tháng -->
          <div [ngClass]="  isFitPage ? 'col-18 h-100'  : 'col-xl-6 col-lg-8 col-md-8 col-sm-14 mb-3' ">
            <div class="custom-border mb-2" style="height: 526px;">
              <div class="bg-chart p-2 h-100" style="overflow: auto">
                <h4 class="chart-title"> Thống kê số lượng truy cập hệ thống theo tháng </h4>
                <div style="height: 526px;"
                  [style]="getDynamicWidthAndHeight(this.TkSoLuongTruyCapHeThongTheoThang.barChartData[0], 10,0)">
                  <app-bar-chart #TkSoLuongTruyCapHeThongTheoThang></app-bar-chart>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
