<div [class]="'main-wrapper bg-ioc' + (this.isFitPage ? ' vh-100' : '')">
    <div class="container-fluid h-100 pt-3">
        <form class="dark-mode mb-3" [formGroup]="formSearch" id="formSearch">
            <div class="d-flex align-items-center">
                <div class="ml-auto mr-3">
                    <ngx-dropdown panelClass="dark-mode" class="mb-0" [multiple]="true" allItemLabel="Tất cả" placeholder="Chọn đơn vị" [data]="DON_VI_LIST"
                        [formControl]="formSearch.controls.madonvi" [label]="!lableDonVi ?'Chọn đơn vị':'Tất cả'"
                        (selected)="getData()" keyId="MA_DON_VI_CON" keyName="TEN_DON_VI_CON">
                    </ngx-dropdown>
                </div>
                <div class="mr-3">
                    <ngx-dropdown panelClass="dark-mode" class="mb-0" placeholder="Chọn năm" [data]="YEARS"
                        [formControl]="formSearch.controls.year" label="Chọn năm" (selected)="getData()"
                        keyId="id" keyName="text">
                    </ngx-dropdown>
                </div>
                <div class="mr-3">
                    <ngx-dropdown panelClass="dark-mode" class="mb-0" [multiple]="true" allItemLabel="Tất cả" placeholder="Chọn tháng" [data]="MONTHS"
                        [formControl]="formSearch.controls.month" [label]="!lableMonth ?'Chọn tháng':'Tất cả'" (selected)="getData()"
                        keyId="id" keyName="text">
                    </ngx-dropdown>
                </div>

                <button mat-raised-button class="btn-fullscreen" id="btn-fullscreen" (click)="showFullScreen()" 
                        type="button" matTooltip="Toàn màn hình">
                    <mat-icon color="primary">fullscreen</mat-icon>
                </button>
            </div>
        </form>

        <div [ngStyle]="this.rowStyles">
            <div class="row small-gutters h-100">
                <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Top 5 đơn vị có văn bản đi và đến nhiều nhất</h4>
                        <app-bar-chart #top5DonViCoVBDiDenNhieuNhat [isSummary]="true"></app-bar-chart>
                        <!-- <div class="legend d-flex align-items-center justify-content-center flex-wrap">
                            <div class="mx-2 d-flex align-items-center" *ngFor="let item of this.top5DonViCoVBDiDenNhieuNhat.barChartData">
                                <span class="shape" [style]="'background-color: ' + item.backgroundColor"></span>
                                <span class="ml-1">{{ item.label }}</span>
                            </div>
                        </div>
                        <div class="h-100 pt-5" style="overflow-x: auto;">
                            <div class="h-100" [style]="getDynamicWidth(this.top5DonViCoVBDiDenNhieuNhat.barChartData[0], 20)">
                                <app-bar-chart #top5DonViCoVBDiDenNhieuNhat [isSummary]="true"></app-bar-chart>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Top 5 đơn vị có văn bản đến nhiều nhất</h4>
                        <app-bar-chart #top5DonViCoVBDenNhieuNhat [isSummary]="true"></app-bar-chart>
                    </div>
                </div>
                <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Top 5 đơn vị có văn bản đi nhiều nhất</h4>
                        <app-bar-chart #top5DonViCoVBDiNhieuNhat [isSummary]="true"></app-bar-chart>
                    </div>
                </div>
            </div>
        </div>
        <div [ngStyle]="this.rowStyles">
            <div class="row small-gutters h-100">
                <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Top 5 đơn vị có văn bản đến trễ hạn nhiều nhất</h4>
                        <app-bar-chart #top5DonViCoVBDenTreHanNhieuNhat [isSummary]="true"></app-bar-chart>
                    </div>
                </div>
                <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Top 5 đơn vị có số người truy cập nhiều nhất</h4>
                        <app-bar-chart #top5DonViCoSNTruyCapNhieuNhat [isSummary]="true"></app-bar-chart>
                    </div>
                </div>
                <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Top 5 đơn vị có nhiều văn bản đến chưa tiếp nhận</h4>
                        <app-bar-chart #top5DonViCoNhieuVBDenChuaTiepNhan [isSummary]="true"></app-bar-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>