<div [class]="'main-wrapper bg-ioc' + (this.isFitPage ? ' vh-100' : '')">
    <div class="container-fluid h-100 pt-3">
        <form  class="dark-mode mb-3" [formGroup]="formSearch" id="formSearch">
            <div #formSearchHeight class="form_search align-items-center">
                <div class="mr-3">
                    <mat-form-field class="w-100 mb-0" appearance="outline">
                      <mat-label>Loại thời gian</mat-label>
                      <mat-select panelClass="dark-mode" (selectionChange)="getData();" formControlName="loai">
                        <mat-option [value]="0">Theo năm </mat-option>
                        <mat-option [value]="1">Theo tháng </mat-option>
                        <mat-option [value]="2">Theo quý </mat-option>
                        <mat-option [value]="3">Theo ngày </mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>
                <div *ngIf="showSearch[0]" class="mr-3">
                    <ngx-dropdown panelClass="dark-mode" class="mb-0 dark-mode" placeholder="Chọn năm" [data]="YEARS" [formControl]="formSearch.controls.year" label="Chọn năm" (selected)="getData()" keyId="id" keyName="text">
                    </ngx-dropdown>
                </div>
                <div *ngIf="showSearch[1]" class="mr-3">
                    <mat-form-field  class="w-100 mb-0" appearance="outline">
                        <mat-label>Chọn quý</mat-label>
                        <mat-select panelClass="dark-mode" (selectionChange)="getData()" formControlName="quy">
                            <mat-option [value]="quy.GIA_TRI_QUY" *ngFor="let quy of listQuy">{{ quy.GIA_TRI_QUY =='Tất cả'?'Tất cả': 'Qúy ' + quy.GIA_TRI_QUY}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div *ngIf="showSearch[2]" class="mr-3">
                    <mat-form-field  class="w-100 mb-0" appearance="outline">
                        <mat-label>Chọn tháng</mat-label>
                        <mat-select panelClass="dark-mode" (selectionChange)="getData()" formControlName="thang">
                            <mat-option [value]="thang.GIA_TRI_THANG" *ngFor="let thang of listThang">{{ thang.GIA_TRI_THANG =='Tất cả'?'Tất cả': 'Tháng ' + thang.GIA_TRI_THANG}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div *ngIf="showSearch[3]" class="mr-3">
                    <mat-form-field class="w-100 mb-0" panelClass="dark-mode" appearance="outline">
                      <mat-label>Từ ngày</mat-label>
                      <input matInput formControlName="tungay" placeholder="Thời gian từ ngày" [matDatepicker]="tuNgayPicker" autocomplete="off" class="c-text" (dateChange)="getData()">
                      <mat-datepicker-toggle matSuffix [for]="tuNgayPicker"></mat-datepicker-toggle>
                      <mat-datepicker #tuNgayPicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div *ngIf="showSearch[3]" class="mr-3">
                    <mat-form-field class="w-100 mb-0" panelClass="dark-mode" appearance="outline">
                      <mat-label>Đến ngày</mat-label>
                      <input matInput formControlName="denngay" placeholder="Thời gian đến ngày" [matDatepicker]="denNgayPicker" autocomplete="off" (dateChange)="getData()">
                      <mat-datepicker-toggle matSuffix [for]="denNgayPicker"></mat-datepicker-toggle>
                      <mat-datepicker #denNgayPicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="mr-3">
                    <mat-form-field  class="w-100 mb-0" appearance="outline">
                        <mat-label>Chọn huyện</mat-label>
                        <mat-select panelClass="dark-mode" (selectionChange)="getData(); getListXa($event.value)" formControlName="huyen">
                            <mat-option [value]="huyen.MA_HUYEN" *ngFor="let huyen of listHuyen">{{ huyen.TEN_HUYEN}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="mr-3">
                    <mat-form-field  class="w-100 mb-0" appearance="outline">
                        <mat-label>Chọn xã</mat-label>
                        <mat-select panelClass="dark-mode" (selectionChange)="getData();" formControlName="xa">
                            <mat-option [value]="xa.MA_XA" *ngFor="let xa of listXa">{{xa.TEN_XA}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <button mat-raised-button class="btn-fullscreen" id="btn-fullscreen" (click)="showFullScreen()" matTooltip="Toàn màn hình">
                    <mat-icon color="primary">fullscreen</mat-icon>
                </button>
            </div>
        </form>

        <!-- ROW 1 -->
        <div [ngStyle]="this.rowStyles">
            <div class="row small-gutters h-100">
                <div [ngClass]="isFitPage ? 'col-6 h-100' : 'col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="row small-gutters" style="height: calc(50% - 7.5px)">
                    
                        <div [ngClass]="isFitPage ? 'col-6 h-100' : 'col-md-6 col-sm-12 mb-3'">
                            <div class="bg-card p-2 h-100">
                                <h4 class="card-title">Tổng số cuộc thanh tra hành chính</h4>
                                <div class="card-value" [style.color]="CONST_COLOR[0]"> {{ THANHTRA.TONG_TTHC }} </div>
                            </div>
                        </div>
                        <div [ngClass]="isFitPage ? 'col-6 h-100' : 'col-md-6 col-sm-12 mb-3'">
                            <div class="bg-card p-2 h-100">
                                <h4 class="card-title">Tổng số cuộc thanh tra chuyên ngành</h4>
                                <div class="card-value" [style.color]="CONST_COLOR[1]"> {{ THANHTRA.TONG_TTCN }} </div>
                            </div>
                        </div>
                        <div style="height: 15px;" class="w-100">&nbsp;</div>
                        <div [ngClass]="isFitPage ? 'col-6 h-100' : 'col-md-6 col-sm-12 mb-3'">
                            <div class="bg-card p-2 h-100">
                                <h4 class="card-title">Tổng số cuộc kiểm tra hành chính</h4>
                                <div class="card-value" [style.color]="CONST_COLOR[2]"> {{ THANHTRA.TONG_KTHC }} </div>
                            </div>
                        </div>
                        <div [ngClass]="isFitPage ? 'col-6 h-100' : 'col-md-6 col-sm-12 mb-3'">
                            <div class="bg-card p-2 h-100">
                                <h4 class="card-title">Tổng số cuộc kiểm tra chuyên ngành</h4>
                                <div class="card-value" [style.color]="CONST_COLOR[3]"> {{ THANHTRA.TONG_KTCN }} </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div [ngClass]="isFitPage ? 'col-6 h-100' : 'col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div style="height: calc(100%)" class="bg-chart p-2 overflow-x">
                        <h4 class="chart-title">Thống kê cơ sở vi phạm so sánh cùng kỳ</h4>
                        <div class="h-100" style="overflow-x: auto;">
                            <div *ngIf="!isthongKeLVVPCK" class="none-form">
                                <b>Dữ liệu chưa có!</b>
                            </div>
                            <div class="h-100">
                                <app-bar-chart #thongKeLVVPCK [isSummary]="true"></app-bar-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>