<div class="main-wrapper bg-white p-3">
    <mat-toolbar class="title mb-3">
        <mat-toolbar-row>
            <div class="name-page">THỐNG KÊ BÁO CÁO PHÒNG, CHỐNG HIV/AIDS</div>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-card>
        <form [formGroup]="formSearch" id="formSearch" (submit)="search()">
            <div class="row align-items-center">
                <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12">
                    <mat-form-field class="w-100 mb-0" appearance="outline">
                        <mat-label>Loại thống kê</mat-label>
                        <mat-select formControlName="loai" placeholder="Chọn loại">
                            <mat-option [value]="0">Theo năm</mat-option>
                            <mat-option [value]="1">Theo tháng</mat-option>
                            <mat-option [value]="2">Theo ngày</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12" *ngIf="formSearch.controls['loai'].value != 2">
                    <ngx-dropdown class="w-100 mb-0" placeholder="Chọn năm" [data]="LIST_NAM" 
                        [formControl]="$any(formSearch.controls['nam'])"
                        label="Năm" keyId="key" keyName="value">
                    </ngx-dropdown>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12" *ngIf="formSearch.controls['loai'].value == 1">
                    <ngx-dropdown class="w-100 mb-0" placeholder="Chọn tháng" [data]="LIST_THANG" 
                        [formControl]="$any(formSearch.controls['thang'])"
                        label="Tháng" keyId="key" keyName="value">
                    </ngx-dropdown>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12" *ngIf="formSearch.controls['loai'].value == 2">
                    <mat-form-field class="w-100 mb-0" appearance="outline">
                        <mat-label>Từ ngày</mat-label>
                        <input matInput formControlName="tuNgay" placeholder="Chọn từ ngày" [matDatepicker]="tuNgayPicker" autocomplete="off">
                        <mat-datepicker-toggle matSuffix [for]="tuNgayPicker"></mat-datepicker-toggle>
                        <mat-datepicker #tuNgayPicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12" *ngIf="formSearch.controls['loai'].value == 2">
                    <mat-form-field class="w-100 mb-0" appearance="outline">
                        <mat-label>Đến ngày</mat-label>
                        <input matInput formControlName="denNgay" placeholder="Chọn đến ngày" [matDatepicker]="denNgayPicker" autocomplete="off">
                        <mat-datepicker-toggle matSuffix [for]="denNgayPicker"></mat-datepicker-toggle>
                        <mat-datepicker #denNgayPicker ></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <button mat-raised-button color="primary" id="btn-search" class="mr-2" type="submit"> Xem </button>
                    <button mat-raised-button color="primary" class="mr-2" type="button" 
                        (click)="exportToExcel()">Xuất Excel</button>
                    <button mat-raised-button color="primary" type="button" (click)="exportToPDF()">Xuất PDF</button>
                </div>
            </div>
        </form>
    </mat-card>
    <div class="mt-3 mat-elevation-z8 min-height-600">
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" class="hovering w-100">
                <ng-container matColumnDef="stt" class="mat-card">
                    <th mat-header-cell *matHeaderCellDef>STT</th>
                    <td mat-cell *matCellDef="let element; let i = index;" class="text-center">
                        {{ (i + 1) + paginator.pageIndex * paginator.pageSize }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="nam">
                    <th mat-header-cell *matHeaderCellDef> Năm </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.NAM }} </td>
                </ng-container>

                <ng-container matColumnDef="thang">
                    <th mat-header-cell *matHeaderCellDef> Tháng </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.THANG }} </td>
                </ng-container>

                <ng-container matColumnDef="tenHuyen">
                    <th mat-header-cell *matHeaderCellDef> Tên huyện </th>
                    <td mat-cell *matCellDef="let element" class="text-nowrap"> {{ element.TEN_HUYEN }} </td>
                </ng-container>

                <ng-container matColumnDef="tyLeNguoiNhiem">
                    <th mat-header-cell *matHeaderCellDef> Tỷ lệ người nhiễm HIV có thẻ bảo hiểm y tế được chi trả theo quy định </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.TY_LE_NHIEM_HIV_BHYT }}% </td>
                </ng-container>

                <ng-container matColumnDef="soMauPhatHien">
                    <th mat-header-cell *matHeaderCellDef> Số mẫu giám sát phát hiện </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.SO_MAU_PHAT_HIEN }} </td>
                </ng-container>

                <ng-container matColumnDef="soNguoiDieuTri">
                    <th mat-header-cell *matHeaderCellDef> Số người điều trị Methadone </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.SO_DIEU_TRI_METHADONE }} </td>
                </ng-container>

                <ng-container matColumnDef="tyLeNguoiLon">
                    <th mat-header-cell *matHeaderCellDef> Tỷ lệ bệnh nhân người lớn điều trị ARV/Số BN đủ tiêu chuẩn điều trị </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.TY_LE_NGUOI_LON_ARV }}% </td>
                </ng-container>

                <ng-container matColumnDef="soTreEm">
                    <th mat-header-cell *matHeaderCellDef> Số trẻ em điều trị ARV </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.SO_TRE_EM_ARV }} </td>
                </ng-container>

                <ng-container matColumnDef="soPhuNuMangThai">
                    <th mat-header-cell *matHeaderCellDef> Số phụ nữ mang thai được xét nghiệm HIV </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.SO_PHU_NU_MANG_THAI_XN_HIV }} </td>
                </ng-container>

                <ng-container matColumnDef="tyLePhuNuMangThai">
                    <th mat-header-cell *matHeaderCellDef> Tỷ lệ Phụ nữ mang thai HIV (+) được điều trị DPLTMC </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.TY_LE_PHU_NU_MANG_THAI_DPLTMC }}% </td>
                </ng-container>

                <ng-container matColumnDef="tyLeNguoiBiLaoHiv">
                    <th mat-header-cell *matHeaderCellDef> Tỷ lệ người nhiễm HIV mắc lao được điều trị đồng thời Lao và ARV </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.TY_LE_HIV_LAO_ARV }}% </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
            </table>
        </div>
        <div class="d-flex align-items-center justify-content-between">
            <mat-paginator class="w-100" #paginator [pageSize]="pageSizeDefault" [pageSizeOptions]="pageOption"
                (page)="search($event)" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>

<div #reportView id="reportView" style="width: 29.7cm; height: 21cm; padding: 2cm; display: none;">
    <p class="text-center font-weight-bold">BÁO CÁO PHÒNG, CHỐNG HIV/AIDS</p>
    <table class="table table-bordered border-dark w-100 mt-3">
        <thead>
            <tr>
                <th class="bg-white">STT</th>
                <th class="bg-white">Năm</th>
                <th class="bg-white">Tháng</th>
                <th class="bg-white">Tên huyện</th>
                <th class="bg-white">Tỷ lệ người nhiễm HIV có thẻ bảo hiểm y tế được chi trả theo quy định</th>
                <th class="bg-white">Số mẫu giám sát phát hiện</th>
                <th class="bg-white">Số người điều trị Methadone</th>
                <th class="bg-white">Tỷ lệ bệnh nhân người lớn điều trị ARV/Số BN đủ tiêu chuẩn điều trị</th>
                <th class="bg-white">Số trẻ em điều trị ARV</th>
                <th class="bg-white">Số phụ nữ mang thai được xét nghiệm HIV</th>
                <th class="bg-white">Tỷ lệ Phụ nữ mang thai HIV (+) được điều trị DPLTMC</th>
                <th class="bg-white">Tỷ lệ người nhiễm HIV mắc lao được điều trị đồng thời Lao và ARV</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let element of this.ELEMENT_DATA; let i = index;">
                <td class="text-center">{{ (i + 1) + paginator.pageIndex * paginator.pageSize }}</td>
                <td class="text-center">{{ element.NAM }}</td>
                <td class="text-center">{{ element.THANG }}</td>
                <td>{{ element.TEN_HUYEN }}</td>
                <td class="text-center">{{ element.TY_LE_NHIEM_HIV_BHYT }}</td>
                <td class="text-center">{{ element.SO_MAU_PHAT_HIEN }}</td>
                <td class="text-center">{{ element.SO_DIEU_TRI_METHADONE }}</td>
                <td class="text-center">{{ element.TY_LE_NGUOI_LON_ARV }}</td>
                <td class="text-center">{{ element.SO_TRE_EM_ARV }}</td>
                <td class="text-center">{{ element.SO_PHU_NU_MANG_THAI_XN_HIV }}</td>
                <td class="text-center">{{ element.TY_LE_PHU_NU_MANG_THAI_DPLTMC }}</td>
                <td class="text-center">{{ element.TY_LE_HIV_LAO_ARV }}</td>
            </tr>
        </tbody>
    </table>
</div>