.btn-fullscreen {
  margin-top: 0.2em;
  background: none;
  box-shadow: none;
  border: 1px solid #fff !important;

  .mat-icon {
    color: #fff;
  }
}

::ng-deep {
  html:fullscreen .header {
    display: none;
  }

  html:-moz-full-screen .header {
    display: none;
  }

  html:-webkit-full-screen .header {
    display: none;
  }
}

.chart-title-wrapper {
  margin-bottom: 30px;
}

.custom-border{
  border: 2px solid transparent;
  background-image: linear-gradient(to bottom right, #006699 0%, #66ffff 100%);
  border-image-slice: 1;
  border-radius: 10px;
}

.card-spacing {
  margin-right: 68px;
}
