<div *ngFor="let report of reportList">
    <mat-nav-list *ngIf="report.chilReport === null"> <!-- If single menu -->
        <a class="my-1" [ngClass]="{'selected' : report.isSelect}" mat-list-item (click)="loadReport(['/' + report.urlreport], report)"><i
                class="material-icons mr-2">dashboard</i> {{ report.reportname }}</a>
    </mat-nav-list>

    <mat-nav-list *ngIf="report.chilReport !== null && report.chilReport.length > 0"> <!-- If nested menu -->
        <mat-list-item (click)="isShow(report)" class="parent">
            <i class="material-icons">dashboard</i>
            <div class="w-100 ml-2">{{ report.reportname }}</div>
            <mat-icon class="menu-button m-0" [ngClass]="{'rotated' : report.isShow}">expand_more</mat-icon>
        </mat-list-item>
        <!-- Get sub menus -->
        <!-- <div class="submenu" [ngClass]="{'expanded' : menu.isShow}" *ngFor="let subMenu of menu.chilReport"> -->
        <div class="submenu" [ngClass]="{'expanded' : report.isShow}">
            <!-- <a class="my-1" mat-list-item routerLinkActive="list-item-active" 
                [routerLink]="['/' + subMenu.route]">{{ subMenu.name }}</a> -->
            <list-reports [reportList]="report.chilReport"></list-reports>
        </div>
    </mat-nav-list>
</div>