.btn-fullscreen {
    margin-top: 0.2em;
    background: none;
    box-shadow: none;
    border: 1px solid #fff !important;

    .mat-icon {
        color: #fff;
    }
}
.w-chart150{
    width: 150%;
}
.w-chart110{
    width: 150%;
}
.w-chart200{
    width: 270%;
}
::ng-deep {
    html:fullscreen .header {
        display: none;
    }

    html:-moz-full-screen .header {
        display: none;
    }

    html:-webkit-full-screen .header {
        display: none;
    }
}