<div [class]="'main-wrapper bg-ioc' + (this.isFitPage ? ' vh-100' : '')">
    <div class="container-fluid h-100 pt-3">
        <form class="dark-mode mb-3"  [formGroup]="formSearch" id="formSearch">
            <div class="d-flex align-items-center">
                <div class="ml-auto mr-3">
                    <mat-form-field class="w-100 mb-0" appearance="outline">
                        <mat-label>Chọn năm</mat-label>
                        <mat-select panelClass="dark-mode" (selectionChange)="onFilterChange()" formControlName="nam">
                            <!-- <mat-option [value]="0">Tất cả</mat-option> -->
                            <mat-option [value]="nam.GIA_TRI_NAM" *ngFor="let nam of listNam">{{nam.GIA_TRI_NAM}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="mr-3" >
                    <mat-form-field  class="w-100 mb-0" appearance="outline">
                        <mat-label>Chọn tháng</mat-label>
                        <mat-select panelClass="dark-mode" (selectionChange)="onFilterChange()" formControlName="thang">
                            <!-- <mat-option [value]="0">Tất cả</mat-option> -->
                            <mat-option [value]="thang.GIA_TRI_THANG" *ngFor="let thang of listThang"> {{thang.GIA_TRI_THANG =='Tất cả'?'Tất cả': 'Tháng ' + thang.GIA_TRI_THANG }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                
                <button mat-raised-button class="btn-fullscreen" id="btn-fullscreen" (click)="showFullScreen()" matTooltip="Toàn màn hình">
                    <mat-icon color="primary">fullscreen</mat-icon>
                </button>
            </div>
           
        </form>

        <!-- ROW 1 -->
        <div [ngStyle]="this.rowStyles">
            <div class="row small-gutters h-100">
                <div [ngClass]="isFitPage ? 'col-2 h-100' : 'col-xl-2 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="d-flex flex-column w-100 h-100">
                        <div class="h-50">
                            <div class="bg-card p-2 h-100">
                                <h4 class="card-title" style="color:#70ad47">Tổng doang thu</h4>
                                <div class="card-value" style="color:#70ad47"> {{ nFormatter(this.DOANHTHU.TONGDOANHTHU, 0) }} </div>
                            </div>
                        </div>
                        <hr class="border-0 my-2" />
                        <div class="h-50">
                            <div class="bg-card p-2 h-100">
                                <h4 class="card-title" style="color:#ffc000">Tổng chi phí</h4>
                                <div class="card-value" style="color:#ffc000"> {{ nFormatter(this.DOANHTHU.TONGCHIPHI, 0) }} </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div [ngClass]="isFitPage ? 'col-10 h-100' : 'col-xl-10 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="row small-gutters h-100">
                        <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-lg-4 col-md-12'">
                            <div class="bg-chart p-2 h-100 w-100">
                                <h4 class="chart-title">Thống kê Thặng dư theo loại</h4>
                                <div *ngIf="!isNoneChart" class="none-form">
                                    <b>Dữ liệu chưa có!</b>
                                </div>
                                <div class="h-100" >
                                    <app-pie-chart #thongKeThangDuTheoLoai></app-pie-chart>
                                </div>
                                
                            </div>
                        </div>
                        <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-lg-4 col-md-12'">
                            <div class="bg-chart p-2 h-100 w-100">
                                <h4 class="chart-title">Thặng dư/Thâm hụt trong năm (đvt: triệu đồng)</h4>
                                <div *ngIf="!isNoneChart" class="none-form">
                                    <b>Dữ liệu chưa có!</b>
                                </div>
                                <div class="h-100" [style]="getDynamicWidth(this.thangDuThamHut.barChartData[0], 30)">
                                    <app-bar-chart #thangDuThamHut [isSummaryVN]="true" [summaryToMillion]="true"></app-bar-chart>
                                </div>
                                
                            </div>
                        </div>
                        <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-lg-4 col-md-12'">
                            <div class="bg-chart p-2 h-100 w-100">
                                <h4 class="chart-title">Hoạt động SX-KD-DV (đvt: triệu đồng)</h4>
                                <div *ngIf="!isNoneChart" class="none-form">
                                    <b>Dữ liệu chưa có!</b>
                                </div>
                                <div class="h-100" [style]="getDynamicWidth(this.hoatDongSanXuat.barChartData[0], 30)">
                                    <app-bar-chart #hoatDongSanXuat [isSummaryVN]="true" [summaryToMillion]="true"></app-bar-chart>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ROW 2 -->

        <div [ngStyle]="this.rowStyles">
            <div class="row small-gutters h-100">
                <div [ngClass]="isFitPage ? 'col-2 h-100' : 'col-xl-2 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="d-flex flex-column w-100 h-100">
                        <div class="h-50">
                            <div class="bg-card p-2 h-100">
                                <h4 class="card-title" style="color:#5b9bd5">Tổng thặng dư/Thâm hụt</h4>
                                <div class="card-value" style="color:#5b9bd5"> {{ nFormatter(this.DOANHTHU.TONGTHANGDUTHAMHUT, 0) }} </div>
                            </div>
                        </div>
                        <hr class="border-0 my-2" />
                        <div class="h-50">
                            <div class="bg-card p-2 h-100">
                                <h4 class="card-title" style="color:#f8696b">Tổng chi phí thuế TNDN</h4>
                                <div class="card-value" style="color:#f8696b"> {{ nFormatter(this.DOANHTHU.TONGCHIPHITHUTNDN, 0) }} </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div [ngClass]="isFitPage ? 'col-10 h-100' : 'col-xl-10 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="row small-gutters h-100">
                        <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-lg-4 col-md-12'">
                            <div class="bg-chart p-2 h-100 w-100">
                                <h4 class="chart-title">Hoạt Động Hành chính, sự nghiệp (đvt: triệu đồng)</h4>
                                <div *ngIf="!isNoneChart" class="none-form">
                                    <b>Dữ liệu chưa có!</b>
                                </div>
                                <div class="h-100" [style]="getDynamicWidth(this.hanhChinhSuNghiep.barChartData[0], 30)">
                                    <app-bar-chart #hanhChinhSuNghiep [isSummaryVN]="true" [summaryToMillion]="true"></app-bar-chart>
                                </div>
                            </div>
                        </div>
                        <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-lg-4 col-md-12'">
                            <div class="bg-chart p-2 h-100 w-100">
                                <h4 class="chart-title">Hoạt Động tài chính (đvt: triệu đồng)</h4>
                                <div *ngIf="!isNoneChart" class="none-form">
                                    <b>Dữ liệu chưa có!</b>
                                </div>
                                <div class="h-100" [style]="getDynamicWidth(this.hoatDongTaiChinh.barChartData[0], 30)">
                                    <app-bar-chart #hoatDongTaiChinh [isSummaryVN]="true" [summaryToMillion]="true"></app-bar-chart>
                                </div>
                                
                            </div>
                        </div>
                        <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-lg-4 col-md-12'">
                            <div class="bg-chart p-2 h-100 w-100">
                                <h4 class="chart-title">Hoạt động khác (đvt: triệu đồng)</h4>
                                <div *ngIf="!isNoneChart" class="none-form">
                                    <b>Dữ liệu chưa có!</b>
                                </div>
                                <div class="h-100" [style]="getDynamicWidth(this.hoatDongKhac.barChartData[0], 30)">
                                    <app-bar-chart #hoatDongKhac [isSummaryVN]="true" [summaryToMillion]="true"></app-bar-chart>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>