<div class="main-wrapper p-3">
  <mat-card>
    <mat-toolbar class="title mb-3">
      <mat-toolbar-row>
        <div class="name-page">
          BÁO CÁO TÌNH HÌNH QUẢN LÝ SỨC KHOẺ HỘ GIA ĐÌNH
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <form [formGroup]="formSearch" id="formSearch" (submit)="search()">
      <div class="row mb-3">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
          <div class="ml-auto w-100">
            <ngx-dropdown
              class="mb-0 w-100"
              placeholder="Nhập từ khoá"
              [data]="listTinh"
              [formControl]="formSearch.controls.tinh"
              label="Tỉnh"
              keyId="MA_TINH"
              keyName="TEN_TINH"
              (selected)="getDsHuyen()"
            >
            </ngx-dropdown>
          </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
          <div class="ml-auto w-100">
            <ngx-dropdown
              class="mb-0 w-100"
              placeholder="Nhập từ khoá"
              [data]="listHuyen"
              [formControl]="formSearch.controls.huyen"
              label="Huyện"
              keyId="MA_HUYEN"
              keyName="TEN_HUYEN"
            >
            </ngx-dropdown>
          </div>
        </div>

        <div
          class="col-xl-3 col-lg-3 col-md-6 col-sm-12"
          [ngClass]="{ invisible: hideDate === 1 }"
        >
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Từ ngày</mat-label>
            <input
              matInput
              [matDatepicker]="picker1"
              formControlName="tungay"
              (change)="initializeYears()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>

        <div
          class="col-xl-3 col-lg-3 col-md-6 col-sm-12"
          [ngClass]="{ invisible: hideDate === 1 }"
        >
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Đến ngày</mat-label>
            <input
              matInput
              [matDatepicker]="picker2"
              formControlName="denngay"
              (change)="initializeYears()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker2"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 pt-2">
          <button
            mat-raised-button
            color="primary"
            class="mr-2"
            id="btn-search"
            type="submit"
          >
            Tìm kiếm
          </button>
          <button
            mat-raised-button
            color="primary"
            class="mr-2"
            type="button"
            (click)="exportToExcel()"
          >
            Xuất Excel
          </button>
          <button
            mat-raised-button
            color="primary"
            type="button"
            (click)="exportToPDF()"
          >
            Xuất PDF
          </button>
        </div>
      </div>
    </form>
    <!-- <div class="mt-3 mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" id="pdfTable" class="w-100">
        <ng-container matColumnDef="STT">
          <th mat-header-cell *matHeaderCellDef>STT</th>
          <td
            mat-cell
            *matCellDef="let element; let i = index"
            class="text-center"
          >
            {{ i + 1 + pageIndex * pageSize }}
          </td>
        </ng-container>

        <ng-container matColumnDef="DANSO">
          <th mat-header-cell *matHeaderCellDef>Dân số</th>
          <td mat-cell *matCellDef="let element" class="text-center">
            {{ element.DAN_SO }}
          </td>
        </ng-container>

        <ng-container matColumnDef="TENDIAPHUONG">
          <th mat-header-cell *matHeaderCellDef>Tên địa phương</th>
          <td mat-cell *matCellDef="let element">{{ element.DIA_PHUONG }}</td>
        </ng-container>

        <ng-container matColumnDef="KHAMDUOC">
          <th mat-header-cell *matHeaderCellDef>Khám được</th>
          <td mat-cell *matCellDef="let element">{{ element.KHAM_DUOC }}</td>
        </ng-container>

        <ng-container matColumnDef="TILE">
          <th mat-header-cell *matHeaderCellDef>Tỉ lệ</th>
          <td mat-cell *matCellDef="let element">
            {{ round(element.KHAM_DUOC / element.DAN_SO) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="TANGHUYETAP">
          <th mat-header-cell *matHeaderCellDef>Tăng huyết áp</th>
          <td mat-cell *matCellDef="let element">{{ element.SL_THA }}</td>
        </ng-container>

        <ng-container matColumnDef="UNGTHU">
          <th mat-header-cell *matHeaderCellDef>Ung thư</th>
          <td mat-cell *matCellDef="let element">{{ element.SL_UT }}</td>
        </ng-container>

        <ng-container matColumnDef="DAITHAODUONG">
          <th mat-header-cell *matHeaderCellDef>Đái tháo đường</th>
          <td mat-cell *matCellDef="let element">{{ element.SL_DTD }}</td>
        </ng-container>

        <ng-container matColumnDef="TIMMACH">
          <th mat-header-cell *matHeaderCellDef>Bệnh tim mạch</th>
          <td mat-cell *matCellDef="let element">{{ element.SL_TIMMACH }}</td>
        </ng-container>

        <ng-container matColumnDef="PHOIMANTINH">
          <th mat-header-cell *matHeaderCellDef>Bệnh phổi mãn tính</th>
          <td mat-cell *matCellDef="let element">{{ element.SL_PHOI }}</td>
        </ng-container>

        <ng-container matColumnDef="HENSUYEN">
          <th mat-header-cell *matHeaderCellDef>Hen suyễn</th>
          <td mat-cell *matCellDef="let element">{{ element.SL_HENSUYEN }}</td>
        </ng-container>

        <ng-container matColumnDef="LAO">
          <th mat-header-cell *matHeaderCellDef>Lao</th>
          <td mat-cell *matCellDef="let element">{{ element.SL_LAO }}</td>
        </ng-container>

        <ng-container matColumnDef="TAMTHAN">
          <th mat-header-cell *matHeaderCellDef>Tâm thần</th>
          <td mat-cell *matCellDef="let element">{{ element.SL_TAMTHAN }}</td>
        </ng-container>

        <ng-container matColumnDef="TUKY">
          <th mat-header-cell *matHeaderCellDef>Tự kỷ</th>
          <td mat-cell *matCellDef="let element">{{ element.SL_TUKY }}</td>
        </ng-container>

        <ng-container matColumnDef="DONGKINH">
          <th mat-header-cell *matHeaderCellDef>Động kinh</th>
          <td mat-cell *matCellDef="let element">{{ element.SL_DK }}</td>
        </ng-container>
        <ng-container matColumnDef="BENHKHONGLAY">
          <th mat-header-cell *matHeaderCellDef [attr.colspan]="6">
            Bệnh không lây
          </th>
        </ng-container>
        <ng-container matColumnDef="BENHMANTINH">
          <th mat-header-cell *matHeaderCellDef [attr.colspan]="4">
            Bệnh mạn tính
          </th>
        </ng-container>
        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div class="d-flex justify-content-end">
        <mat-paginator
          class="w-100"
          #paginator
          showFirstLastButtons
          [length]="length"
          [pageIndex]="pageIndex"
          [pageSize]="pageSize"
          [pageSizeOptions]="pageOption"
          (page)="pageEvent = search($event)"
        >
        </mat-paginator>
      </div>
    </div> -->

    <div class="mt-3 mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" id="pdfTable" class="w-100">
        <ng-container matColumnDef="STT">
          <th mat-header-cell *matHeaderCellDef>STT</th>
          <td mat-cell *matCellDef="let element; let i = index">
            {{ i + 1 + pageIndex * pageSize }}
          </td>
        </ng-container>
        <ng-container matColumnDef="DANSO">
          <th mat-header-cell *matHeaderCellDef>Dân số</th>
          <td mat-cell *matCellDef="let element" class="text-center">
            {{ element.DAN_SO }}
          </td>
        </ng-container>
        <ng-container matColumnDef="TENDIAPHUONG">
          <th mat-header-cell *matHeaderCellDef>Tên địa phương</th>
          <td mat-cell *matCellDef="let element">{{ element.DIA_PHUONG }}</td>
        </ng-container>
        <ng-container matColumnDef="KHAMDUOC">
          <th mat-header-cell *matHeaderCellDef>Khám được</th>
          <td mat-cell *matCellDef="let element">{{ element.KHAM_DUOC }}</td>
        </ng-container>
        <ng-container matColumnDef="TYLE">
          <th mat-header-cell *matHeaderCellDef>Tỷ lệ</th>
          <td mat-cell *matCellDef="let element">
            {{ element.TY_LE }}
          </td>
        </ng-container>
        <ng-container matColumnDef="TANGHUYETAP">
          <th mat-header-cell *matHeaderCellDef>Tăng huyết áp</th>
          <td mat-cell *matCellDef="let element">{{ element.SL_THA }}</td>
        </ng-container>
        <ng-container matColumnDef="UNGTHU">
          <th mat-header-cell *matHeaderCellDef>Ung thư</th>
          <td mat-cell *matCellDef="let element">{{ element.SL_UT }}</td>
        </ng-container>
        <ng-container matColumnDef="DAITHAODUONG">
          <th mat-header-cell *matHeaderCellDef>Đái tháo đường</th>
          <td mat-cell *matCellDef="let element">{{ element.SL_DTD }}</td>
        </ng-container>
        <ng-container matColumnDef="TIMMACH">
          <th mat-header-cell *matHeaderCellDef>Bệnh tim mạch</th>
          <td mat-cell *matCellDef="let element">{{ element.SL_TIMMACH }}</td>
        </ng-container>
        <ng-container matColumnDef="PHOIMANTINH">
          <th mat-header-cell *matHeaderCellDef>Bệnh phổi mãn tính</th>
          <td mat-cell *matCellDef="let element">{{ element.SL_PHOI }}</td>
        </ng-container>
        <ng-container matColumnDef="HENSUYEN">
          <th mat-header-cell *matHeaderCellDef>Hen suyễn</th>
          <td mat-cell *matCellDef="let element">{{ element.SL_HENSUYEN }}</td>
        </ng-container>
        <ng-container matColumnDef="LAO">
          <th mat-header-cell *matHeaderCellDef>Lao</th>
          <td mat-cell *matCellDef="let element">{{ element.SL_LAO }}</td>
        </ng-container>
        <ng-container matColumnDef="TAMTHAN">
          <th mat-header-cell *matHeaderCellDef>Tâm thần</th>
          <td mat-cell *matCellDef="let element">{{ element.SL_TAMTHAN }}</td>
        </ng-container>
        <ng-container matColumnDef="TUKY">
          <th mat-header-cell *matHeaderCellDef>Tự kỷ</th>
          <td mat-cell *matCellDef="let element">{{ element.SL_TUKY }}</td>
        </ng-container>
        <ng-container matColumnDef="DONGKINH">
          <th mat-header-cell *matHeaderCellDef>Động kinh</th>
          <td mat-cell *matCellDef="let element">{{ element.SL_DK }}</td>
        </ng-container>
        <ng-container matColumnDef="stt">
          <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">STT</th>
        </ng-container>
        <ng-container matColumnDef="danso">
          <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Dân số</th>
        </ng-container>
        <ng-container matColumnDef="tendiaphuong">
          <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">
            Tên địa phương
          </th>
        </ng-container>
        <ng-container matColumnDef="khamduoc">
          <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">
            Khám được
          </th>
        </ng-container>
        <ng-container matColumnDef="tile">
          <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Tỷ lệ</th>
        </ng-container>
        <ng-container matColumnDef="BENHKHONGLAY">
          <th mat-header-cell *matHeaderCellDef [attr.colspan]="6">
            Bệnh không lây
          </th>
        </ng-container>
        <ng-container matColumnDef="BENHMANTINH">
          <th mat-header-cell *matHeaderCellDef [attr.colspan]="4">
            Bệnh mạn tính
          </th>
        </ng-container>
        <tr
          mat-header-row
          *matHeaderRowDef="[
            'stt',
            'danso',
            'tendiaphuong',
            'khamduoc',
            'tile',
            'BENHKHONGLAY',
            'BENHMANTINH'
          ]"
        ></tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div class="d-flex justify-content-end">
        <mat-paginator
          class="w-100"
          #paginator
          showFirstLastButtons
          [length]="length"
          [pageIndex]="pageIndex"
          [pageSize]="pageSize"
          [pageSizeOptions]="pageOption"
          (page)="pageEvent = search($event)"
        >
        </mat-paginator>
      </div>
    </div>
  </mat-card>

  <div #reportView id="reportView" style="width: 29.7cm; height: 21cm; padding: 2cm 1.5cm 2cm 3cm; display: none;">
      <p class="text-center font-weight-bold">BÁO CÁO TÌNH HÌNH QUẢN LÝ SỨC KHOẺ HỘ GIA ĐÌNH</p>
      <p class="text-center mb-4">Từ ngày {{ this.formSearch.controls["tungay"].value | date: dateFormat }} 
          đến ngày {{ this.formSearch.controls["denngay"].value | date: dateFormat }}</p>
      <table class="table table-bordered border-dark w-100 mt-3">
        <thead>
            <tr>
                <th class="bg-white" rowspan="2">STT</th>
                <th class="bg-white" rowspan="2">Dân số</th>
                <th class="bg-white" rowspan="2">Tên địa phương</th>
                <th class="bg-white" rowspan="2">Khám được</th>
                <th class="bg-white" rowspan="2">Tỷ lệ</th>
                <th class="bg-white" colspan="6">Bệnh không lây</th>
                <th class="bg-white" colspan="6">Bệnh mạn tính</th>
            </tr>
            <tr>
              <th class="bg-white">Tăng huyết áp</th>
              <th class="bg-white">Ung thư</th>
              <th class="bg-white">Đái tháo đường</th>
              <th class="bg-white">Bệnh tim mạch</th>
              <th class="bg-white">Bệnh phổi mãn tính</th>
              <th class="bg-white">Hen suyễn</th>
              <th class="bg-white">Lao</th>
              <th class="bg-white">Tâm thần</th>
              <th class="bg-white">Tự kỷ</th>
              <th class="bg-white">Động kinh</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let element of this.ELEMENT_DATA">
                <td class="text-center">{{ element.R }}</td>
                <td class="text-center">{{ element.DAN_SO }}</td>
                <td class="text-left">{{ element.DIA_PHUONG }}</td>
                <td class="text-center">{{ element.KHAM_DUOC }}</td>
                <td class="text-center">{{ element.TY_LE }}</td>
                <td class="text-center">{{ element.SL_THA }}</td>
                <td class="text-center">{{ element.SL_UT }}</td>
                <td class="text-center">{{ element.SL_DTD }}</td>
                <td class="text-center">{{ element.SL_TIMMACH }}</td>
                <td class="text-center">{{ element.SL_PHOI }}</td>
                <td class="text-center">{{ element.SL_HENSUYEN }}</td>
                <td class="text-center">{{ element.SL_LAO }}</td>
                <td class="text-center">{{ element.SL_TAMTHAN }}</td>
                <td class="text-center">{{ element.SL_TUKY }}</td>
                <td class="text-center">{{ element.SL_DK }}</td>
            </tr>
        </tbody>
      </table>
  </div>
</div>
