.bg-home {
  background:
      url(../../../../assets/logo/mohinhtongthe.jpg);
  background-size: 100%;
  object-fit: contain;
  height: 78%;
  background-repeat: no-repeat;


}
.abcs{
  background-color: white;
}
