.btn-fullscreen {
    margin-top: 0.2em;
    background: none;
    box-shadow: none;
    border: 1px solid #fff !important;
    .mat-icon {
      color: #fff;
    }
  }
  
  ::ng-deep {
    html:fullscreen .header {
      display: none;
    }
  
    html:-moz-full-screen .header {
      display: none;
    }
  
    html:-webkit-full-screen .header {
      display: none;
    }
  }
  .none-form{
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #9e9e9e;
      text-align: center;
  }
  