ul li {
  list-style: none;
}

::ng-deep {
  .header h3 {
    font-size: 16px;
  }
}

// .logo {
//   width: 42px;
//   height: 42px;
// }

// .name {
//   font-size: 1.2em;
// }

// ::ng-deep .mat-menu-content {
//   padding-top: 8px;
//   max-width: 50vh !important;
//   min-width: 35vh !important;
// //   padding-bottom: 8px;
// }

// .mat-button{
//   line-height: 20px;
// }
