<div [class]="'main-wrapper bg-ioc' + (this.isFitPage ? ' vh-100' : '')">
    <div class="container-fluid h-100 pt-3">
        <form class="dark-mode mb-3" [formGroup]="formSearch" id="formSearch">
            <div class="d-flex align-items-center">
                <div class="ml-auto mr-3">
                    <ngx-dropdown panelClass="dark-mode" class="mb-0" [multiple]="true" allItemLabel="Tất cả" placeholder="Chọn phòng ban" [data]="PHONG_BAN_LIST"
                        [formControl]="formSearch.controls.maphongban" [label]="!lablePhongBan ?'Chọn phòng ban':'Tất cả'"
                        (selected)="getData()" keyId="MA_PHONG_BAN" keyName="TEN_PHONG_BAN">
                    </ngx-dropdown>
                </div>
                <div class="mr-3">
                    <ngx-dropdown panelClass="dark-mode" class="mb-0" placeholder="Chọn năm" [data]="YEARS"
                        [formControl]="formSearch.controls.year" label="Chọn năm" (selected)="getData()"
                        keyId="id" keyName="text">
                    </ngx-dropdown>
                </div>
                <div class="mr-3">
                    <ngx-dropdown panelClass="dark-mode" class="mb-0" [multiple]="true" allItemLabel="Tất cả" placeholder="Chọn tháng" [data]="MONTHS"
                        [formControl]="formSearch.controls.month" [label]="!lableMonth ?'Chọn tháng':'Tất cả'" (selected)="getData()"
                        keyId="id" keyName="text">
                    </ngx-dropdown>
                </div>

                <button mat-raised-button class="btn-fullscreen" id="btn-fullscreen" (click)="toggleFullScreen()" *ngIf="!isFullScreen" matTooltip="Toàn màn hình">
                    <mat-icon color="primary">fullscreen</mat-icon>
                </button>
                <button mat-raised-button class="btn-fullscreen" id="btn-fullscreen" (click)="toggleFullScreen()" *ngIf="isFullScreen" matTooltip="Thu nhỏ">
                    <mat-icon color="primary">fullscreen_exit</mat-icon>
                </button>
            </div>
        </form>

        <div [ngStyle]="this.rowStyles">
            <div class="row small-gutters h-100">
                <div [ngClass]="isFitPage ? 'col-2 h-100' : 'col-xl-2 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="row small-gutters" style="height: calc(100% - 7.5px)">
                        <div [ngClass]="isFitPage ? 'col-12 h-100' : 'col-md-12 col-sm-12 mb-3'">
                            <div class="bg-card p-2 h-100">
                                <h4 class="card-title">Số lượng văn bản chưa điều phối</h4>
                                <div class="card-value" [style.color]="CONST_COLOR[0]"> {{ getNumber(this.sumraryInfo.TONG_SO_CHUA_DUYET) }} </div>
                            </div>
                        </div>
                    </div>
                    <div style="height: 15px;">&nbsp;</div>
                </div>
                <div [ngClass]="isFitPage ? 'col-5 h-100' : 'col-xl-5 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Số lượng văn bản đến/đi theo từng phòng ban</h4>
                        <div class="legend d-flex align-items-center justify-content-center flex-wrap">
                            <div class="mx-2 d-flex align-items-center" *ngFor="let item of this.tongVBDiDenTheoPhongBanChart.lineChartData">
                                <span class="shape" [style]="'background-color: ' + item.backgroundColor"></span>
                                <span class="ml-1">{{ item.label }}</span>
                            </div>
                        </div>
                        <div class="h-100 pt-5" style="overflow-x: auto;">
                            <div class="h-100" style="width: 150%;">
                                <app-line-chart #tongVBDiDenTheoPhongBanChart [isSummary]="true"></app-line-chart>
                            </div>
                        </div>
                    </div>
                </div>
                <div [ngClass]="isFitPage ? 'col-5 h-100' : 'col-xl-5 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Tình hình văn bản đến trễ hạn theo từng phòng ban</h4>
                        <div class="legend d-flex align-items-center justify-content-center flex-wrap">
                            <div class="mx-2 d-flex align-items-center" *ngFor="let item of this.tkVBDenTreHanTheoPhongBanChart.barChartData">
                                <span class="shape" [style]="'background-color: ' + item.backgroundColor"></span>
                                <span class="ml-1">{{ item.label }}</span>
                            </div>
                        </div>
                        <div class="h-100 pt-5" style="overflow-x: auto;">
                            <div class="h-100" [style]="getDynamicWidth(this.tkVBDenTreHanTheoPhongBanChart.barChartData[0], 20)">
                                <app-bar-chart #tkVBDenTreHanTheoPhongBanChart [isSummary]="true"></app-bar-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div [ngStyle]="this.rowStyles">
            <div class="row small-gutters h-100">
                <div [ngClass]="isFitPage ? 'col-6 h-100' : 'col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">10 cá nhân nhận văn bản đến nhiều nhất</h4>
                        <app-bar-chart #top10CaNhanNhanVBDenNhieuNhat [isSummary]="true"></app-bar-chart>
                    </div>
                </div>
                <div [ngClass]="isFitPage ? 'col-6 h-100' : 'col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">10 cá nhân tham mưu văn bản đi nhiều nhất</h4>
                        <app-bar-chart #top10CaNhanThamMuuVBDiNhieuNhat [isSummary]="true"></app-bar-chart>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div [ngStyle]="this.rowStyles">
            <div class="row small-gutters h-100">
                <div [ngClass]="isFitPage ? 'col-2 h-100' : 'col-xl-2 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Số lượng văn bản chưa điều phối</h4>
                        <div class="h-100 pt-5">
                            <div class="h-100">
                                <div class="card-value" [style.color]="CONST_COLOR[0]"> {{ getNumber(this.sumraryInfo.TONG_SO_DEN) }} </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div [ngClass]="isFitPage ? 'col-5 h-100' : 'col-xl-5 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Số lượng văn bản đến/đi theo từng phòng ban</h4>
                        <div class="legend d-flex align-items-center justify-content-center flex-wrap">
                            <div class="mx-2 d-flex align-items-center" *ngFor="let item of this.tongVBDiDenTheoPhongBanChart.lineChartData">
                                <span class="shape" [style]="'background-color: ' + item.backgroundColor"></span>
                                <span class="ml-1">{{ item.label }}</span>
                            </div>
                        </div>
                        <div class="h-100 pt-5" style="overflow-x: auto;">
                            <div class="h-100" style="width: 150%;">
                                <app-line-chart #tongVBDiDenTheoPhongBanChart [isSummary]="true"></app-line-chart>
                            </div>
                        </div>
                    </div>
                </div>
                <div [ngClass]="isFitPage ? 'col-5 h-100' : 'col-xl-5 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Tình hình văn bản đến trễ hạn theo từng phòng ban</h4>
                        <div class="legend d-flex align-items-center justify-content-center flex-wrap">
                            <div class="mx-2 d-flex align-items-center" *ngFor="let item of this.tkVBDenTreHanTheoPhongBanChart.barChartData">
                                <span class="shape" [style]="'background-color: ' + item.backgroundColor"></span>
                                <span class="ml-1">{{ item.label }}</span>
                            </div>
                        </div>
                        <div class="h-100 pt-5" style="overflow-x: auto;">
                            <div class="h-100" [style]="getDynamicWidth(this.tkVBDenTreHanTheoPhongBanChart.barChartData[0], 20)">
                                <app-bar-chart #tkVBDenTreHanTheoPhongBanChart [isSummary]="true"></app-bar-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div [ngStyle]="this.rowStyles">
            <div class="row small-gutters h-100">
                <div [ngClass]="isFitPage ? 'col-6 h-100' : 'col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Top 10 cá nhân nhận văn bản đến nhiều nhất</h4>
                        <app-bar-chart #top10CaNhanNhanVBDenNhieuNhat [isSummary]="true"></app-bar-chart>
                    </div>
                </div>
                <div [ngClass]="isFitPage ? 'col-6 h-100' : 'col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Top 10 cá nhân tham mưu văn bản đi nhiều nhất</h4>
                        <app-bar-chart #top10CaNhanThamMuuVBDiNhieuNhat [isSummary]="true"></app-bar-chart>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>