<div [class]="'main-wrapper bg-ioc' + (this.isFitPage ? ' vh-100' : '')">
    <div class="container-fluid h-100 pt-3">
        <form class="dark-mode mb-3" [formGroup]="formSearch" id="formSearch">
            <div class="d-flex align-items-center">
                <div class="ml-auto mr-3">
                    <mat-form-field class="mb-0" appearance="outline">
                        <mat-label>Loại thời gian</mat-label>
                        <mat-select panelClass="dark-mode" placeholder="Chọn loại thời gian" formControlName="timeType" (selectionChange)="getData()">
                            <mat-option [value]="0">Theo năm</mat-option>
                            <!-- <mat-option [value]="1">Theo tháng</mat-option> -->
                            <mat-option [value]="2">Theo quý</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="mr-3">
                    <ngx-dropdown panelClass="dark-mode" class="mb-0 dark-mode" placeholder="Chọn năm" [data]="YEARS" [formControl]="formSearch.controls.year" label="Chọn năm" (selected)="getData()" keyId="id" keyName="text">
                    </ngx-dropdown>
                </div>
                <!-- <div class="mr-3" *ngIf="formSearch.controls.timeType.value == 1">
                    <ngx-dropdown panelClass="dark-mode" class="mb-0" placeholder="Chọn tháng" [data]="MONTHS" [formControl]="formSearch.controls.month" label="Chọn tháng" (selected)="getData()" keyId="id" keyName="text">
                    </ngx-dropdown>
                </div> -->
                <div class="mr-3" *ngIf="formSearch.controls.timeType.value == 2">
                    <ngx-dropdown panelClass="dark-mode" class="mb-0" placeholder="Chọn quý" [data]="QUARTERS" [formControl]="formSearch.controls.quarter" label="Chọn quý" (selected)="getData()" keyId="id" keyName="text">
                    </ngx-dropdown>
                </div>

                <button mat-raised-button class="btn-fullscreen" id="btn-fullscreen" (click)="showFullScreen()" matTooltip="Toàn màn hình">
                    <mat-icon color="primary">fullscreen</mat-icon>
                </button>
            </div>
        </form>


        <!-- ROW 1 -->



        <!-- ROW 2 -->

        <div [ngStyle]="this.rowStyles">
            <div class="row small-gutters h-100">
                <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Số lượng CSKD được cấp GCN theo loại hình</h4>
                        <div class="h-100" style="overflow-x: auto;overflow-y: hidden;">
                            <div class="h-100" [style]="getDynamicWidth(this.LoaiCoSo.barChartData[0], 25)">
                                <app-bar-chart #LoaiCoSo></app-bar-chart>
                            </div>
                        </div>
                    </div>
                </div>
                <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
                  <div class="bg-chart p-2 h-100">
                      <h4 class="chart-title pl-4 pr-4">Số lượng Cơ sở dịch vụ ăn uống có GCN sắp hết hạn</h4>
                      <div class="h-100" style="overflow-x: auto;overflow-y: hidden;">
                          <div class="h-100" [style]="getDynamicWidth(this.DVAUHetHan.barChartData[0], 25)">
                              <app-bar-chart #DVAUHetHan></app-bar-chart>
                          </div>
                      </div>
                  </div>
              </div>
              <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
                <div class="bg-chart p-2 h-100">
                    <h4 class="chart-title">Số lượng Cơ sở sản xuất có GCN sắp hết hạn</h4>
                    <div class="h-100" style="overflow-x: auto;overflow-y: hidden;">
                        <div class="h-100" [style]="getDynamicWidth(this.NhomLoaiSPHetHan.barChartData[0], 25)">
                            <app-bar-chart #NhomLoaiSPHetHan></app-bar-chart>
                        </div>
                    </div>
                </div>
            </div>
            <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
              <div class="bg-chart p-2 h-100 mt-3">
                  <h4 class="chart-title">Số lượng Cơ sở dịch vụ ăn uống được cấp GCN</h4>
                  <div class="h-100" style="overflow-x: auto;overflow-y: hidden;">
                      <div class="h-100" [style]="getDynamicWidth(this.DVAUCapGCN.barChartData[0], 25)">
                          <app-bar-chart #DVAUCapGCN></app-bar-chart>
                      </div>
                  </div>
              </div>
          </div>
          <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
            <div class="bg-chart p-2 h-100 mt-3">
                <h4 class="chart-title">Số lượng Cơ sở sản xuất được cấp GCN</h4>
                <div class="h-100" style="overflow-x: auto;overflow-y: hidden;">
                    <div class="h-100" [style]="getDynamicWidth(this.NhomLoaiSPCapGCN.barChartData[0], 25)">
                        <app-bar-chart #NhomLoaiSPCapGCN></app-bar-chart>
                    </div>
                </div>
            </div>
        </div>
        <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
          <div class="bg-chart p-2 h-100 mt-3">
              <h4 class="chart-title">Số lượng cơ sở sản xuất tự công bố</h4>
              <div class="h-100" style="overflow-x: auto;overflow-y: hidden;">
                  <div class="h-100" [style]="getDynamicWidth(this.TuCongBo.barChartData[0], 25)">
                      <app-bar-chart #TuCongBo></app-bar-chart>
                  </div>
              </div>
          </div>
      </div>
            </div>
        </div>


    </div>
</div>
