<div [class]="'main-wrapper bg-ioc' + (this.isFitPage ? ' vh-100' : '')">
  <div class="container-fluid h-100 pt-3">
    <form class="dark-mode mb-3" [formGroup]="formSearch" id="formSearch">
      <div class="d-flex align-items-center justify-content-end">
        <ngx-dropdown panelClass="dark-mode" class="mb-0 mr-2" [multiple]="true" allItemLabel="Tất cả"
          placeholder="Chọn tháng" [data]="MONTHS" [formControl]="formSearch.controls.month"
          [label]="!lableMonth ? 'Chọn tháng' : 'Tất cả'" (selected)="getData()" keyId="id" keyName="text">
        </ngx-dropdown>
        <ngx-dropdown panelClass="dark-mode" class="mb-0 mr-2" placeholder="Chọn năm" [data]="YEARS"
          [formControl]="formSearch.controls.year" label="Chọn năm" (selected)="getData()" keyId="id" keyName="text">
        </ngx-dropdown>
        <button mat-raised-button class="btn-fullscreen" id="btn-fullscreen" (click)="showFullScreen()" type="button"
          matTooltip="{{ isFullScreen ? 'Thoát toàn màn hình' : 'Toàn màn hình' }}">
          <mat-icon color="primary">{{ isFullScreen ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
        </button>
      </div>
    </form>
    <!-- row 1 -->
    <div [ngStyle]="this.rowStyles">
      <div class="row small-gutters">
        <!-- col 1 -->
        <div [ngClass]="isFitPage ? 'col-6 h-100 ': 'col-xl-6 col-lg-8 col-md-10 col-sm-16 mb-3'">
          <div class="row small-gutters">
            <!-- Tổng số công việc đến -->
            <div [ngClass]="isFitPage ? 'col-4 h-200  ' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3 '">
              <div class="custom-border mb-3">
                <div class="bg-card p-2 h-200" style="height: 200px">
                  <h4 class="card-title mb-3">Tổng số công việc đến</h4>
                  <div class="card-value" [style.color]="CONST_COLOR[11]">
                    {{ THE.TOTAL }}
                  </div>
                </div>
              </div>
            </div>
            <!-- Tổng số công việc đã hoàn thành đúng hạn -->
            <div [ngClass]="isFitPage ? 'col-4 h-200  ' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3 '">
              <div class="custom-border mb-3">
                <div class="bg-card p-2 h-200" style="height: 200px">
                  <h4 class="card-title mb-9">
                    Tổng số công việc đã hoàn thành đúng hạn
                  </h4>
                  <div class="card-value" [style.color]="CONST_COLOR[10]">
                    {{ THE.HTTRONGHAN }}
                  </div>
                </div>
              </div>
            </div>
            <!-- Tổng số công việc đã hoàn thành quá hạn -->
            <div [ngClass]="isFitPage ? 'col-4 h-200  ' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3 '">
              <div class="custom-border mb-3">
                <div class="bg-card p-2 h-200" style="height: 200px">
                  <h4 class="card-title mb-9">
                    Tổng số công việc đã hoàn thành quá hạn
                  </h4>
                  <div class="card-value" [style.color]="CONST_COLOR[12]">
                    {{ THE.HTQUAHAN }}
                  </div>
                </div>
              </div>
            </div>
            <!-- Tổng số công việc chưa hoàn thành còn trong hạn  -->
            <div [ngClass]="isFitPage ? 'col-6 h-200  ' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3 '">
              <div class="custom-border">
                <div class="bg-card p-2 h-200" style="height: 200px">
                  <h4 class="card-title mb-9">
                    Tổng số công việc chưa hoàn thành còn trong hạn
                  </h4>
                  <div class="card-value" [style.color]="CONST_COLOR[11]">
                    {{ THE.CXLTRONGHAN }}
                  </div>
                </div>
              </div>
            </div>
            <!-- Tổng số công việc chưa hoàn thành quá hạn -->
            <div [ngClass]="isFitPage ? 'col-6 h-200  ' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3 '">
              <div class="custom-border">
                <div class="bg-card p-2 h-200" style="height: 200px">
                  <h4 class="card-title mb-9">
                    Tổng số công việc chưa hoàn thành quá hạn
                  </h4>
                  <div class="card-value" [style.color]="CONST_COLOR[13]">
                    {{THE.CXLQUAHAN}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- col 2 -->
        <div [ngClass]="
            isFitPage
              ? 'col-6 h-100 '
              : 'col-xl-6 col-lg-8 col-md-8 col-sm-10 mb-3'
          ">
          <div class="row small-gutters">
            <!-- Tỷ lệ công việc hoàn thành đúng hạn và quá hạn  -->
            <div [ngClass]="isFitPage? 'col-12 h-100': 'col-xl-12 col-lg-14 col-md-14 col-sm-20 mb-3' ">
              <div class="custom-border custom-margin-left" style="min-height: 450px !important;">
                <div class="bg-chart p-2 h-500" style="min-height: 446px !important;">
                  <h4 class="chart-title">
                    Tỷ lệ công việc hoàn thành đúng hạn và quá hạn
                  </h4>
                  <div>
                    <app-pie-chart #tyLeCongViecHTDungVaQuaHan></app-pie-chart>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <!-- row 2 -->
    <div [ngStyle]="this.rowStyles">

      <div class="row small-gutters">
        <!-- Thống kê số lượng công việc -->
        <div [ngClass]=" isFitPage ? 'col-4 h-100'  : 'col-xl-4 col-lg-6 col-md-6 col-sm-8 mb-3' ">
          <div class="custom-border mt-1 mb-3">
            <div class="bg-chart p-2 h-100" style=" overflow: auto">
              <h4 class="chart-title">Thống kê số lượng công việc</h4>
              <div style="height: 500px;" [style]="getDynamicWidth(this.TkSoLuongCongViec.barChartData[0], 10)">
                <app-bar-chart #TkSoLuongCongViec></app-bar-chart>
              </div>
            </div>
          </div>
        </div>
        <!-- Thống kê số lượng công việc đã hoàn thành đúng hạn -->
        <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
          <div class="custom-border mt-1">
            <div class="bg-chart p-2 h-100" style="overflow: auto">
              <h4 class="chart-title">
                Thống kê số lượng công việc đã hoàn thành đúng hạn
              </h4>
              <div style="height: 500px;"
                [style]="getDynamicWidth(this.TkSoLuongCongViecHTTrongHan.barChartData[0], 10)">
                <app-bar-chart #TkSoLuongCongViecHTTrongHan></app-bar-chart>
              </div>
            </div>
          </div>
        </div>
        <!-- Thống kê số lượng công việc đã hoàn thành quá hạn -->
        <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
          <div class="custom-border mt-1">
            <div class="bg-chart p-2 h-100" style="overflow: auto">
              <h4 class="chart-title">
                Thống kê số lượng công việc đã hoàn thành quá hạn
              </h4>
              <div style="height: 500px;" [style]="getDynamicWidth(this.TkSoLuongCongViecHTQuaHan.barChartData[0], 10)">
                <app-bar-chart #TkSoLuongCongViecHTQuaHan></app-bar-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>