<div [class]="'main-wrapper bg-ioc' + (this.isFitPage ? ' vh-100' : '')">
    <div class="container-fluid h-100 pt-3">
        <form class="dark-mode mb-3"  [formGroup]="formSearch" id="formSearch">
            <div class="d-flex align-items-center">
                <!-- <button mat-raised-button class="btn-export-excel" (click)="exportExcel()">Export to Excel</button> -->
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 pt-2">
                    <button mat-raised-button color="default" type="button" (click)="exportToExcel()">Xuất file Excel</button>
                </div>
                <div class="ml-auto mr-3">
                    <mat-form-field class="w-100 mb-0" appearance="outline">
                        <mat-label>Chọn năm</mat-label>
                        <mat-select panelClass="dark-mode" (selectionChange)="onFilterChange()" formControlName="nam">
                            <!-- <mat-option [value]="0">Tất cả</mat-option> -->
                            <mat-option [value]="nam.GIA_TRI_NAM" *ngFor="let nam of listNam">{{nam.GIA_TRI_NAM}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="mr-3" >
                    <mat-form-field  class="w-100 mb-0" appearance="outline">
                        <mat-label>Chọn tháng</mat-label>
                        <mat-select panelClass="dark-mode" (selectionChange)="onFilterChange()" formControlName="thang" (change)="onThangChange()" > //multiple
                            <!-- <mat-option [value]="0">Tất cả</mat-option> -->
                            <mat-option [value]="thang.GIA_TRI_THANG" *ngFor="let thang of listThang"> {{thang.GIA_TRI_THANG =='Tất cả'?'Tất cả': 'Tháng ' + thang.GIA_TRI_THANG }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                
                <button mat-raised-button class="btn-fullscreen" id="btn-fullscreen" (click)="toggleFullScreen()" *ngIf="!isFullScreen" matTooltip="Toàn màn hình">
                    <mat-icon color="primary">fullscreen</mat-icon>
                </button>
                <button mat-raised-button class="btn-fullscreen" id="btn-fullscreen" (click)="toggleFullScreen()" *ngIf="isFullScreen" matTooltip="Thu nhỏ">
                    <mat-icon color="primary">fullscreen_exit</mat-icon>
                </button>
            </div>
           
        </form>

        <!-- ROW 1 -->
        <div [ngStyle]="this.rowStyles">
            <div class="row small-gutters h-100">
                <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        
                        <h4 class="chart-title">Tình hình dịch bệnh (đơn vị tính: ca nhiễm)</h4>
                        <div class="h-100" style="overflow-x: auto; overflow-y: hidden;">
                            <div *ngIf="!isNoneChart" class="none-form">
                                <b>Dữ liệu chưa có!</b>
                            </div>
                            <div class="h-100" [style]="getDynamicWidth(this.tinhHinhDichBenh.barChartData[0], 40)">
                                <app-bar-chart #tinhHinhDichBenh [isSummaryVN]="true"></app-bar-chart>
                            </div>
                        </div>
                    </div>

                </div>
                <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Tiêm chủng mở rộng lũy kế tháng (đơn vị tính: %)</h4>
                        <div class="h-100" style="overflow-x: auto; overflow-y: hidden;">
                            <div *ngIf="!isNoneChart" class="none-form">
                                <b>Dữ liệu chưa có!</b>
                            </div>
                            <div class="h-100" [style]="getDynamicWidth(this.tiemChungMoRong.barChartData[0], 25)">
                                <app-bar-chart #tiemChungMoRong [isSummaryVN]="true"></app-bar-chart>
                            </div>
                        </div>
                    </div>

                </div>
                <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Lũy kế trong năm và năm trước (đơn vị tính: ca nhiễm)</h4>
                        <div class="h-100" style="overflow-x: auto; overflow-y: hidden;">
                            <div *ngIf="!isNoneChart" class="none-form">
                                <b>Dữ liệu chưa có!</b>
                            </div>
                            <div class="h-100" [style]="getDynamicWidth(this.luyKeNamNamTruoc.barChartData[0], 30)">
                                <app-bar-chart #luyKeNamNamTruoc [isSummaryVN]="true"></app-bar-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- ROW 2 -->

        <div [ngStyle]="this.rowStyles">
            <div class="row small-gutters h-100">
                <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Lượt khám bệnh</h4>
                        <div *ngIf="!isNoneChart" class="none-form">
                            <b>Dữ liệu chưa có!</b>
                        </div>
                        <div class="h-100">
                            <app-bar-chart #luotKhamBenh [isSummaryVN]="true"></app-bar-chart>
                        </div>
                    </div>
                </div>
                <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Ca điều trị nội trú</h4>
                        <div *ngIf="!isNoneChart" class="none-form">
                            <b>Dữ liệu chưa có!</b>
                        </div>
                        <div class="h-100">
                            <app-bar-chart #caDieuTriNoiTru [isSummaryVN]="true"></app-bar-chart>
                        </div>
                    </div>
                </div>
                <div [ngClass]="isFitPage ? 'col-4 h-100' : 'col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3'">
                    <div class="bg-chart p-2 h-100">
                        <h4 class="chart-title">Tình hình tai nạn giao thông</h4>
                        <div *ngIf="!isNoneChart" class="none-form">
                            <b>Dữ liệu chưa có!</b>
                        </div>
                        <div class="h-100">
                            <app-bar-chart #tinhHinhTaiNanGT [isSummaryVN]="true"></app-bar-chart>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>