

.error-template {
    color: white;
    padding: 30% 15px;
    text-align: center;
  }
  .error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .error-actions .btn {
    margin-right: 10px;
  }
  