<div class="main-wrapper p-3">
    <mat-card>
        <mat-toolbar class="title mb-3">
            <mat-toolbar-row>

                <div class="name-page">THỐNG KÊ BÁO CÁO - NGHIỆP VỤ Y</div>


            </mat-toolbar-row>
        </mat-toolbar>
        <form [formGroup]="formSearch" id="formSearch" (submit)="search()">
            <div class="row mb-3">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Mẫu báo cáo</mat-label>
                        <mat-select formControlName="maubc" (selectionChange)="setThongTinMauBaoCao()">
                            <mat-option [value]="option.ID"
                                *ngFor="let option of listMauBC">{{option.TEN_LOAI_BAO_CAO}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="ml-auto w-100">
                        <ngx-dropdown class="mb-0 w-100" placeholder="Nhập từ khoá" [data]="listHuyen"
                            [formControl]="formSearch.controls.huyen" label="Huyện" (selected)="getDsXa()"
                            keyId="MA_HUYEN" keyName="TEN_HUYEN">
                        </ngx-dropdown>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="ml-auto w-100">
                        <ngx-dropdown class="mb-0 w-100" placeholder="Nhập từ khoá" [data]="listXa"
                            [formControl]="formSearch.controls.xa" label="Xã" keyId="MA_XA" keyName="TEN_XA">
                        </ngx-dropdown>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Hình thức</mat-label>
                        <mat-select formControlName="hinhthuc">
                            <mat-option [value]=-1>Tất cả</mat-option>
                            <mat-option [value]="option" *ngFor="let option of [1,2]">{{ option | hinhthucType
                                }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>
            <div class="row mb-3">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="ml-auto w-100">
                        <ngx-dropdown class="mb-0 w-100" placeholder="Nhập từ khoá" [data]="listCSKCB"
                            [formControl]="formSearch.controls.cskcb" label="Cơ sở KCB" keyId="MA_BV"
                            keyName="TEN_CSKCB">
                        </ngx-dropdown>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-xl-6">
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Từ ngày</mat-label>
                                <input matInput [matDatepicker]="picker1" formControlName="tungay" (dateChange)="initializeYears()">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-xl-6">
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Đến ngày</mat-label>
                                <input matInput [matDatepicker]="picker2" formControlName="denngay" (dateChange)="initializeYears()">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-xl-6">
                            <mat-form-field class="w-100 mb-2" appearance="outline">
                                <mat-label>Năm</mat-label>
                                <mat-select panelClass="panel-filter" formControlName="nam">
                                    <mat-option [value]=-1>Tất cả</mat-option>
                                    <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-xl-6">
                            <mat-form-field class="w-100 mb-2" appearance="outline">
                                <mat-label>Tháng</mat-label>
                                <mat-select panelClass="panel-filter" formControlName="thang">
                                    <mat-option [value]="month.value" *ngFor="let month of months">{{ month.name
                                        }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 pt-2">
                    <button mat-raised-button color="primary" class="mr-2" id="btn-search" type="submit"> Tìm kiếm
                    </button>
                    <button mat-raised-button color="primary" class="mr-2" type="button" (click)="exportToExcel()">Xuất
                        Excel</button>
                    <button mat-raised-button color="primary" type="button" (click)="exportToPDF()">Xuất PDF</button>
                </div>
            </div>
        </form>
        <div class="mt-3 mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" id="pdfTable" class="w-100">
                <ng-container matColumnDef="STT">
                    <th mat-header-cell *matHeaderCellDef> STT </th>
                    <td mat-cell *matCellDef="let element; let i = index;" class="text-center">{{ (i + 1) + pageIndex *
                        pageSize }}</td>
                </ng-container>

                <ng-container matColumnDef="CSYT">
                    <th mat-header-cell *matHeaderCellDef>CSYT</th>
                    <td mat-cell *matCellDef="let element"> {{ element.MA_DON_VI }} - {{ element.TEN_CSYT }}</td>
                </ng-container>

                <ng-container matColumnDef="CAP">
                    <th mat-header-cell *matHeaderCellDef>Tuyến</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.CAP }}</td>
                </ng-container>

                <ng-container matColumnDef="TONGSO">
                    <th mat-header-cell *matHeaderCellDef>Tổng/(Nữ)</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.TONGSO }} / ({{ element.NU
                        }})</td>
                </ng-container>

                <ng-container matColumnDef="BHYT">
                    <th mat-header-cell *matHeaderCellDef>BHYT</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.BHYT }} </td>
                </ng-container>

                <ng-container matColumnDef="VIENPHI">
                    <th mat-header-cell *matHeaderCellDef>Viện phí</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.VIENPHI }} </td>
                </ng-container>

                <ng-container matColumnDef="YHCT">
                    <th mat-header-cell *matHeaderCellDef>YHCT</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.YHCT }} </td>
                </ng-container>

                <ng-container matColumnDef="TE_15T">
                    <th mat-header-cell *matHeaderCellDef>Trẻ em &lt;15t </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.TE_15T }} </td>
                </ng-container>

                <ng-container matColumnDef="CAPCUU">
                    <th mat-header-cell *matHeaderCellDef>Cấp cứu</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.CAPCUU }} </td>
                </ng-container>

                <ng-container matColumnDef="VAOVIEN">
                    <th mat-header-cell *matHeaderCellDef>Vào viện</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.VAOVIEN }} </td>
                </ng-container>

                <ng-container matColumnDef="CHUYENVIEN">
                    <th mat-header-cell *matHeaderCellDef>Chuyển viện</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.CHUYENVIEN }} </td>
                </ng-container>

                <ng-container matColumnDef="BANT_SONGUOI">
                    <th mat-header-cell *matHeaderCellDef>BANT (Người)</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.BANT_SONGUOI }} </td>
                </ng-container>

                <ng-container matColumnDef="BANT_SONGAY">
                    <th mat-header-cell *matHeaderCellDef>BANT (Ngày)</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.BANT_SONGAY }} </td>
                </ng-container>

                <ng-container matColumnDef="XN">
                    <th mat-header-cell *matHeaderCellDef>Xét nghiệm (Tổng/Ngoại trú/Nội trú)</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.TONG_XN }} / {{
                        element.XN_NGOAITRU }} / {{ element.XN_NOITRU }} </td>
                </ng-container>

                <ng-container matColumnDef="CDHA">
                    <th mat-header-cell *matHeaderCellDef>Chẩn đoán hình ảnh (Tổng/Ngoại trú/Nội trú)</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.TONG_CDHA }} / {{
                        element.CDHA_NGOAITRU }} / {{ element.CDHA_NOITRU }} </td>
                </ng-container>

                <ng-container matColumnDef="TDCN">
                    <th mat-header-cell *matHeaderCellDef>Thăm dò chức năng (Tổng/Ngoại trú/Nội trú)</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.TONG_TDCN }} / {{
                        element.TDCN_NGOAITRU }} / {{ element.TDCN_NOITRU }} </td>
                </ng-container>

                <ng-container matColumnDef="TONG_SO">
                    <th mat-header-cell *matHeaderCellDef>Tổng/(Nữ)</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.TONG_SO }} / ({{
                        element.TONG_SL_NU }})</td>
                </ng-container>

                <ng-container matColumnDef="TONG_TREMEM">
                    <th mat-header-cell *matHeaderCellDef>Tổng trẻ em/(Nữ)</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.TONG_TREMEM }} / ({{
                        element.TONG_TREMEM_NU }}) </td>
                </ng-container>

                <ng-container matColumnDef="TONG_SL_CAPCUU">
                    <th mat-header-cell *matHeaderCellDef>Tổng cấp cứu/(Nữ)</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.SL_CAPCUU }} / ({{
                        element.SL_CAPCUU_NU }}) </td>
                </ng-container>

                <ng-container matColumnDef="TONG_SO_NGAY_DTRI">
                    <th mat-header-cell *matHeaderCellDef>Tổng ngày điều trị</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.TONG_SO_NGAY_DTRI }} </td>
                </ng-container>

                <ng-container matColumnDef="TONG_SL_TUVONG">
                    <th mat-header-cell *matHeaderCellDef>Tổng tử vong/(Nữ)</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.SL_TUVONG }} / ({{
                        element.TUVONG_NU }})</td>
                </ng-container>

                <ng-container matColumnDef="TONG_TREMEM_TUVONG">
                    <th mat-header-cell *matHeaderCellDef>Tổng trẻ em tử vong/(Nữ)</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.TONG_TREMEM_TUVONG }} / ({{
                        element.TONG_TREMEMNU_TUVONG }})</td>
                </ng-container>

                <ng-container matColumnDef="TONG_SL_TUVONG_24H">
                    <th mat-header-cell *matHeaderCellDef>Tổng tử vong 24h/(Nữ)</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.SL_TUVONG_24H }} / ({{
                        element.SL_TUVONG_24H_NU }})</td>
                </ng-container>

                <ng-container matColumnDef="CO_BHYT">
                    <th mat-header-cell *matHeaderCellDef>Có BHYT</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.CO_BHYT }} </td>
                </ng-container>

                <ng-container matColumnDef="TENCHUONG">
                    <th mat-header-cell *matHeaderCellDef>Tên chương</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.TENCHUONG }} </td>
                </ng-container>

                <ng-container matColumnDef="STT_NHOM">
                    <th mat-header-cell *matHeaderCellDef>STT Nhóm</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.STT_NHOM }} </td>
                </ng-container>

                <ng-container matColumnDef="MA_ICD10">
                    <th mat-header-cell *matHeaderCellDef>Mã ICD 10</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.MA_ICD10 }} </td>
                </ng-container>

                <ng-container matColumnDef="MA_LOAI">
                    <th mat-header-cell *matHeaderCellDef>Mã loại</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.MA_LOAI }} </td>
                </ng-container>

                <ng-container matColumnDef="TEN_LOAI">
                    <th mat-header-cell *matHeaderCellDef>Tên loại</th>
                    <td mat-cell *matCellDef="let element"> {{ element.TEN_LOAI }} </td>
                </ng-container>

                <ng-container matColumnDef="NGT_TS">
                    <th mat-header-cell *matHeaderCellDef>Tổng ngoại trú / Nữ / Trẻ em</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.NGT_TS }} / {{ element.NGT_NU
                        }} / {{ element.NGT_TE_15T }} </td>
                </ng-container>

                <ng-container matColumnDef="TRUOC_TAI">
                    <th mat-header-cell *matHeaderCellDef>Tử vong trước viện / Tử vong tại viện</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.NGT_TV_TRUOC }} / {{
                        element.NGT_TV_TAI }} </td>
                </ng-container>

                <ng-container matColumnDef="MAC_BENH">
                    <th mat-header-cell *matHeaderCellDef>Tổng số mắc bệnh/(Nữ)</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.NOT_TS_MAC }} / ({{
                        element.NOT_TS_MAC_NU }}) </td>
                </ng-container>

                <ng-container matColumnDef="XIN_VE">
                    <th mat-header-cell *matHeaderCellDef>Tổng số xin về/(Nữ)</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.NOT_TS_XINVE }} / ({{
                        element.NOT_TS_XINVE_NU }}) </td>
                </ng-container>

                <ng-container matColumnDef="TU_VONG">
                    <th mat-header-cell *matHeaderCellDef>Tổng số tử vong/(Nữ)</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.NOT_TS_TUVONG }} / ({{
                        element.NOT_TS_TUVONG }})</td>
                </ng-container>

                <ng-container matColumnDef="MAC_BENH_TE">
                    <th mat-header-cell *matHeaderCellDef>Tổng số xin về trẻ em/(Nữ)</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.NOT_TS_MAC_TE }} / ({{
                        element.NOT_TS_MAC_NU_TE }}) </td>
                </ng-container>

                <ng-container matColumnDef="TU_VONG_TE">
                    <th mat-header-cell *matHeaderCellDef>Tổng số tử vong trẻ em/(Nữ)</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.NOT_TS_TUVONG_TE }} / ({{
                        element.NOT_TS_TUVONG_NU_TE }})</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <div class="d-flex justify-content-end">
                <mat-paginator class="w-100" #paginator showFirstLastButtons [length]="length" [pageIndex]="pageIndex"
                    [pageSize]="pageSize" [pageSizeOptions]="pageOption" (page)="pageEvent = search($event)">
                </mat-paginator>
            </div>
        </div>
    </mat-card>
</div>