.bg-ioc {
    .note {
        position: absolute;
        font-size: 13px;
    }

    .btn-link {
        font-size: 12px;
        color: #fff;
    }

    .btn-link:hover {
        text-decoration: underline;
    }

    .btn-link:focus {
        outline-style: none;
        box-shadow: none;
        border-color: transparent;
    }

    .note.right {
        right: 15px;
        bottom: 5px;
    }

    .note-container {
        position: sticky;
        bottom: 0;
        width: 100%;

        .btn-link {
            color: #000;
            font-size: 14px;
        }
    }
    .overflow-x{
        overflow-y: hidden;
        overflow-x: scroll;
    }
    .w-chart150{
        width: 150%;
    }
    .w-chart200{
        width: 200%;
    }
}

.btn-fullscreen {
    margin-top: 0.2em;
    background: none;
    box-shadow: none;
    border: 1px solid #fff !important;

    .mat-icon {
        color: #fff;
    }
}

::ng-deep {
    html:fullscreen .header {
        display: none;
    }

    html:-moz-full-screen .header {
        display: none;
    }

    html:-webkit-full-screen .header {
        display: none;
    }
}