.bg {
  background-color: #1f1e30;
}

.bg-chart {
  background-color: #272a3d;
  border-radius: 0.5em;
  .bg-title {
    background-color: #0f3460;
    text-align: center;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    color: white;
  }
  .value {
    text-align: center;
    width: auto;
    font-size: 32px;
  }
}

::ng-deep .filter {
  .mat-form-field {
    border: 1px solid #fff;
    color: #fff;
    .mat-form-field-label {
      padding-left: 0.5em;
      color: #fff;
    }
    .mat-select {
      .mat-select-arrow,
      .mat-select-value {
        color: #fff !important;
      }
      padding-left: 0.5em;
    }
  }
}

::ng-deep .cdk-overlay-container .cdk-overlay-pane .panel-filter {
  background: #1f1e30;
  .mat-option:not(.mat-selected){
    color: #fff;
  }
}
